.c-form-card {
  margin-bottom: 4em;
  padding: 0 1em;

  @media screen and (min-width: 1024px) {
    max-width: 560px;
    margin-right: auto;
    margin-left: auto;
  }
}

.c-form-card__title {
  font-size: 1.25em;
  line-height: 1;
  margin: 0 0 0.5rem;
}

.c-form-card__body {
  padding: 1em;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #d4d4d4;
}
