.c-account__form {
  .c-auth__submit-btn {
    width: auto;
    float: right;
    margin: 0;
    padding: 0 1.5em;
  }

  .c-auth__submit-error-alert,
  .c-auth__submit-alert--success {
    margin-bottom: 1.5em;
  }
}
