.c-cover-image__container {
  display: flex;
}

.c-cover-image__controllers,
.c-cover-image__image-wrapper {
  width: 50%;
}

.c-cover-image__controllers {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.c-cover-image__upload-btn {
  cursor: pointer;
  margin-bottom: 0;
  margin-right: 1em;
  padding: 0.25em 0.5em;
  line-height: 1.5;
  font-weight: normal;
  border: 1px solid #000;
  border-radius: 3px;
  white-space: nowrap;

  &.is-disable {
    opacity: 0.3;
    pointer-events: none;
  }

  &:not(.is-disable):hover {
    color: $brand-primary;
    border-color: $brand-primary;
  }
}

.c-cover-image__img,
.c-cover-image__placeholder {
  height: 240px;
  width: 240px;
  float: left;
  background: #ececec;
}

.c-cover-image__note {
  padding: 0.5em;
  margin: 1em 0 0;
  border: 1px solid $gray;

  > dt,
  > dd {
    float: left;
  }

  > dt {
    clear: left;
    margin-right: 1em;
  }
}

.c-cover-image__input {
  @include visually-hidden();
}
