.l-account {
  display: flex;
  height: 100vh;
}

.l-account__sidebar {
  width: 23rem;
  background: #f8fafb;
  border-right: 1px solid #dde7ec;
}

.l-account__sidebar__header {
  height: 5.4rem;
  display: flex;
  align-items: center;
  padding: 0 2rem;

  > h1 {
    margin: 0;
    line-height: 1;
    font-size: 1.8rem;
    color: #1c364c;
  }
}

.l-account__main {
  width: calc(100% - 23rem);
  padding: 2rem;
  background: #f0f4f7;
}
