.l-account {
  .c-tabs {
    margin: 0;
    padding: 0;
  }

  a.c-tabs__tab {
    display: block;
    padding: 0 2rem;
    font-size: 1.5rem;
    line-height: 2.5;
    color: #1c364c;
    text-decoration: none;
  }

  a.c-tabs__tab--disabled {
    pointer-events: none;
    color: #ccc;
  }

  a.c-tabs__tab:hover,
  a.c-tabs__tab--active {
    font-weight: bold;
    background-color: #f0f4f7;
  }
}
