.c-profile-catalog {
  .c-form-card {
    margin-bottom: 3em;
  }

  .c-form-card__body {
    display: flex;
    padding: 0;
    box-shadow: none;
    background: transparent;
    border: none;
  }
}

.c-profile-catalog__list {
  margin-left: 1em;
}

.c-profile-catalog__item--big {
  font-size: 1.4rem;
  font-weight: bold;
}