.c-simple-field {
  margin-bottom: 1.5em;
}

.c-simple-field__label {
  margin-bottom: 0.5em;
  font-weight: normal;
  cursor: pointer;
}

.c-simple-field__input {
  display: block;
  width: 100%;
  height: 2.5em;
  padding: 0 0.5em;
  line-height: 2.5;
  border-radius: 3px;
  border: 1px solid $gray;
  background-color: #f9f9f9;
  caret-color: #003bdf;

  &:hover {
    background-color: #f2f2f2;
  }
  
  &:focus {
    border: 1px solid #003bdf;
    outline-width: 0;
    background-color: #ffffff;
  }

  &.has-error {
    border-radius: 3px;
    border-color: red;
    outline-color: red;
    background: rgba(red, 0.1);

    &:focus {
      outline-width: 0;
      background: transparent;
    }
  }
}
