:root{

  --maxContainerWidth: 1200px;
  --sectionPadding: 7.5rem;

  --head-size: 2.625rem;
  --big-size: 2rem;
  --not-too-big-size: 1.5rem;
  --medium-size: 1.25rem;
  --normal-size: 1rem;
  --small-size: 0.75rem;

  --primary-color: #003CDF;
  --primary-darker-color: #002383;
  --stone100-color: #000000
}

/* Normalizing */
html {
  box-sizing: border-box;
}
*,*:before, *:after{

  box-sizing: inherit;
}
html, body{

  width: 100%;
  height: 100%;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Barlow', sans-serif;
  font-size: var(--normal-size);
  line-height: 1.6;
  overflow-x: hidden;
}

a{

  text-decoration: none;
  color: var(--stone100-color);
}

a:hover{

  color: var(--primary-color);
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
  font-family: 'Merriweather', sans-serif;
}




/* List */
.u-no-style-list {
  padding: 0;
  margin: 0;
  list-style: none;
}


/* Buttons */

[class|=button]{

  transition: all 0.35s;
  cursor: pointer;
}
[class|=button]:active{

  transform: scale(0.9)
}

[class|=button]:disabled{

  background: #ccc;
}
[class|=button]:disabled:hover{

  background: #ccc;
}


.button-link{

  padding: 0.25rem 1.5rem;
}

.button-link.selected{

  color: var(--primary-color);
}

.button-outline{

  border: 1px solid var(--stone100-color);
  border-radius: 0.1875rem;
}
.button-outline:hover{

  background: var(--primary-color);
  border-color: var(--primary-color);
  color: #fff;
}

.button-primary{

  display: inline-block;
  padding: 1.25rem 3rem;
  background: var(--primary-color);
  color: #fff;
  border-radius: 0.1875rem;
}
.button-primary:hover{

  background-color: var(--primary-darker-color);
  color: #fff;
}

.button-preview{

  display: inline-flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.1875rem;
  overflow: hidden;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
}
.button-preview .preview-image{

  position: relative;
}

.button-preview .preview-image img{

  height: 100%;
  display: block;
}

.button-preview .icon-place{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-preview .icon-place img{

  transition: all 0.35s;
}

.button-preview .text{

  color: #fff;
  padding: 1rem;
}
.button-preview:hover{

  background: #000;
}

.button-preview:hover .icon-place img{

  transform: scale(1.1);
}



.button-text-link{

  color: var(--primary-color);
}


.button-text-link:hover{

  color: var(--primary-darker-color);
}

/* Styling */

.container{
  max-width: var(--maxContainerWidth);
  margin: 0 auto;
}

nav{

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}

nav ul{

  list-style: none;
  padding: 0;
  margin: 0;
}
nav ul li{

  display: inline-block;
}

/* Hero */
.hero{
  display: flex;
  align-items: center;
  padding-top: 10%;
  padding-bottom: 10%;
  width: 100vw;
  background: #ccc;
  background-size: cover;
  color: #fff;
  position: relative;
}

.hero:before{

  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
  content: "";
}

.hero .desc{

  width: 100%;
  z-index: 2;
}
.hero .desc h2{
  font-size: var(--head-size);
  max-width: 600px;
}

.hero .desc p{
  font-size: var(--medium-size);
  margin: 1rem 0 1.875rem 0;
  max-width: 600px;
}

.hero .btn-container{

  display: flex;
  align-items: center;
}
.hero .btn-container > a{

  margin-right: 1rem;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
}



.homepage-hero{
  background-image: url('../files/images/homepage-hero.jpg');
}


.contact-hero{
  background-image: url('../files/images/contact-hero.jpg');
}

.faq-hero{
  background-image: url('../files/images/faq-hero.jpg');
  text-align: center;
}
.faq-hero .desc h2{

  margin: auto;
}
.faq-support-hero{
  background-image: url('../files/images/faq-support.jpg');
}



.about-hero{
  background-image: url('../files/images/about-hero.jpg');
}

/* Quick Intro */
.quick-intro{

  display: flex;
  padding-top: var(--sectionPadding);
  padding-bottom: var(--sectionPadding);
  justify-content: space-between;
  align-items: center;
}

.quick-intro .desc{

  width: 37%;
  font-family: 'Merriweather', serif;
  font-size: var(--big-size);
  font-weight: bold;
}

.quick-intro .illustration{

  width: 43%;
}
.quick-intro .illustration img{

  width: 100%;
}


/* Main features */
.main-features{

  padding-top: var(--sectionPadding);
  padding-bottom: var(--sectionPadding);
  text-align: center;
  background: #F8F8F8;
}

.main-features h3{

  font-size: var(--big-size);
  margin-bottom: 5.5rem;
}

.main-features .cols{

  display: flex;
  width: calc(100%);
  justify-content: space-between
}

.main-features .cols > div{

  width: calc( (100% / 3) - 32px );
}

.main-features .cols h4{
  font-family: 'Barlow';
  font-size: var(--not-too-big-size);
  font-weight: 600;
  margin: 1.5rem 0 1rem 0;
}



/* Feature */
.feature{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--sectionPadding);
  padding-bottom: var(--sectionPadding);
}

.feature .desc{

  width: 35%;
}

.feature .desc h4{

  font-size: var(--big-size);
  margin-bottom: 1rem;
}

.feature .desc p{

  line-height: 1.5;
}

.feature .presentation{

  width: 47%;
}

.feature .presentation img{

  width: 100%;
}

/* */
.more{

  background: #F8F8F8;
  padding-top: var(--sectionPadding);
  padding-bottom: var(--sectionPadding);
}

.more .roof{

  display: block;
  text-align: center;
}

.more .roof img{

  display: inline-block;
}

.more h3{

  text-align: center;
  font-size: var(--big-size);
  margin-bottom: 3.75rem;
}

.more ul{

  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.more li{

  display: flex;
  width: calc( 50% - 1rem );
  background: #fff;
  margin-bottom: 1rem;
  padding: 2.25rem;
  border-radius: 0.1875rem;
  transition: all 0.35s;
}

.more li .icon-place{
  padding-right: 2rem;
}

.more li .title{

  font-size: var(--medium-size);
  margin-bottom: 0.25rem;
}

.more li .sub{

  color: #7F7E7E;
}

.more li:hover{

  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.16);
}

.more .btn-container{

  margin: 2.75rem auto 0 auto;
  text-align: center;
}

.more .btn-container .button-primary{

  padding-right: 4rem;
  padding-left: 4rem;
}

/* Testimonials */

.testimonials{

  padding-top: var(--sectionPadding);
  padding-bottom: var(--sectionPadding);
}

.testimonials h3{

  font-size: var(--big-size);
  text-align: center;
}

/* Stat */

.stat{

  padding: 2.625rem 0;
  text-align: center;
}

.stat .number{

  margin-bottom: 1rem;
  font-size: var(--big-size);
  font-weight: bold;
}

.stat .text{

  text-transform: uppercase;
  color: #7F7E7E;
}


/* */


footer{

  padding-top: 5.375rem;
  background: #F8F8F8;
}


.main-footer{

  display: flex;
  margin-bottom: 5.75rem;
}


.main-footer .logo, .main-footer .column{

  width: 20%;
}

.main-footer .info{

  width: 40%;
}

.main-footer .logo img{

  display: inline-block;
  vertical-align: middle;
}
.main-footer .logo img:first-child{

  margin-right: 1rem;
}

.main-footer .title{
  font-weight: bold;
  margin-bottom: 1rem;
}

.main-footer .column .links{

  list-style: none;
  padding: 0;
}
.main-footer .column .links a{

  display: block;
  padding-bottom: 0.75rem;
}

.main-footer .info .desc{

  margin-bottom: 2rem;
}
.main-footer .info .button-primary{

  padding-right: 5.25rem;
  padding-left: 5.25rem;
}

.additional-links{

  list-style: none;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding-bottom: 0.5rem;
  text-align: center;
}

.additional-links a{

  padding: 0 1rem;
  color: #646664;
}

.additional-links a:hover{

  color: #000;
}



/* Pages */




/* Contact */

.contact{

  padding-top: var(--sectionPadding);
  padding-bottom: var(--sectionPadding);
  max-width: 524px;
  padding-right: 1rem;
  padding-left: 1rem;
  margin: auto;
}

.contact .agreement{

  font-size: var(--small-size);
  margin-bottom: 1.5rem;
}

.contact .button-primary{

  width: 100%;
  font-size: var(--normal-size);
}

.field{

  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.field label{

  color: #7F7E7E;
  margin-bottom: 0.5rem;
  font-size: var(--small-size);
  text-transform: uppercase;
}

.field label span{

  color: red;
}

.field input{

  height: 3.5rem;
  padding: 1rem;
  font-size: var(--normal-size);
  border-radius: 0.1875rem;
  border: 1px solid #DDE2E5;
}


/* FAQ */

.faq{
  padding-top: var(--sectionPadding);
  padding-bottom: var(--sectionPadding);
}

.faq h3{

  font-size: var(--big-size);
  margin-bottom: 1.5rem;
}

.faq ul{

  list-style: none;
  padding: 0;
}

.faq ul li{

  margin-bottom: 2rem;
}
.faq ul h4{

  font-size: var(--medium-size);
  margin-bottom: 0.25rem;
}

.faq ul p{
  margin: 0;
}



.resources-widget{

  padding-top: var(--sectionPadding);
  padding-bottom: var(--sectionPadding);
  border-top: 1px solid #E5E5E5;
}

.resources-widget h3{

  font-size: var(--big-size);
  max-width: 520px;
  margin: auto;
  text-align: center;
  margin-bottom: 3.5rem;
}
.resources-widget .resources-items{

  display: flex;
  justify-content: space-between;
}

.resources-widget .resources-items > div{

  width: 30%;
}

.resources-widget .resources-items .content{

  padding: 1rem;
}

.resources-widget .resources-items .content p{

  margin-bottom: 1rem;
}


/* About */

.about .welcome{
  padding-top: var(--sectionPadding);
  padding-bottom: var(--sectionPadding);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about .welcome .content{

  width: 46%;
}

.about .welcome .content h3{

  font-size: var(--big-size);
}
.about .welcome .image-container{

  width: 35%;
}

.about .welcome .image-container img{

  width: 100%;
}


.about .what{
  padding-top: var(--sectionPadding);
  padding-bottom: var(--sectionPadding);
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: var(--primary-darker-color);
  position: relative;
}

.about .what p{
  color: #fff;
  font-size: var(--big-size);
  max-width: 520px;
  margin: auto;
  text-align: center;
}

.about .what img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



/* .about .intro{} */
.about .intro .row{

  height: 33vw;
  position: relative;
}
.about .intro .row img{

  position: absolute;
  width: 50vw;
  height: 33vw;
}

.about .intro .row.right img{ right: 0; }
.about .intro .row.left img{ left: 0; }
.about .intro .row.left .desc{ flex-direction: row-reverse }

.about .intro .row .desc{

  display: flex;
  align-items: center;
  height: 100%;
}
.about .intro .row .desc .text{

  width: 40%;
}

.about .intro .row .desc h3{

  font-size: var(--big-size);
  margin-bottom: 0.25rem;
}



.about .candidates{
  padding-top: var(--sectionPadding);
  padding-bottom: var(--sectionPadding);

}

.about .candidates h3{

  font-size: var(--big-size);
  text-align: center;
  max-width: 520px;
  margin: auto;
  margin-bottom: 5rem;
}

.about .candidates ul{

  list-style: none;
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 0;
}

.about .candidates ul li{

  width: 20%;
}

.about .candidates ul .icon-place{

  margin-bottom: 1.5rem;
}
.about .candidates ul .icon-place img{

  width: 48px;
  height: 48px;
}
.about .candidates ul .title{

  margin-bottom: 1rem;
  font-size: var(--medium-size);
}

.about .candidates ul p{

  color: #7F7E7E;
  margin: 0;
}




.about .careers{
  padding-top: var(--sectionPadding);
  padding-bottom: var(--sectionPadding);

}

.about .careers h3{

  font-size: var(--big-size);
  margin-bottom: 2.5rem;
}

.about .careers ul{

  list-style: none;
  padding: 0;
  margin: 0;
}


.about .careers ul li{

  background: #F8F8F8;
  border-radius: 3px;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  transition: all 0.35s;
}
.about .careers ul li:last-child{

  margin-bottom: 0;
}

.about .careers ul li:hover{

  background: #fff;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.16);
}

.about .careers ul li .position{

  font-size: var(--not-too-big-size);
  margin-bottom: 0.75rem;
}
.about .careers ul li .info{

  display: flex;
  text-transform: uppercase;
}

.about .careers ul li .info span{
  color: #B2B2B2;
  margin-right: 2.5rem;
  font-weight: bold;
}


/* Tablet */
@media screen and (max-width: 1200px) {

  .container{
    padding-right: 1rem;
    padding-left: 1rem;
  }
}


/* Tablet */
@media screen and (max-width: 768px) {

  .hero{

    text-align: center;
  }

  .hero .desc{

    margin-right: auto;
    margin-left: auto;
  }

  .hero .desc h2, .hero .desc p{

    max-width: unset;
  }

  .hero .btn-container{

    justify-content: center;
  }

  .contact-hero, .about-hero{
    /* height: calc( 100vw * 0.45 ); */
  }

  .quick-intro{

    flex-direction: column;
    text-align: center;
  }

  .quick-intro .desc{

    width: 80%;
    margin-bottom: 3rem;
  }

  .quick-intro .illustration{

    width: 80%;
  }

  .about .intro{

    padding-top: calc( ( var(--sectionPadding) / 2 ) + 1.5rem );
    padding-bottom: calc(var(--sectionPadding) / 2);
  }

  .about .intro .row{

    height: unset;
    text-align: center;
  }
  .about .intro .row img{

    position: unset;
    display: block;
    width: 70%;
    height: auto;
    margin: auto;
  }

  .about .intro .row .desc{

    width: 70%;
    max-width: unset;
    margin: auto;
  }

  .about .intro .row .desc .text{

    width: 100%;
    margin: 1.5rem 0;
  }

  .about .candidates ul {

    flex-wrap: wrap;
  }
  .about .candidates ul li{

    width: 50%;
    margin-bottom: 3rem;
  }

  .about .careers h3{

    text-align: center;
  }



  .about .candidates, .about .careers{

    padding-top: calc(var(--sectionPadding) / 2);
    padding-bottom: calc(var(--sectionPadding) / 2);
  }

}

/* Mobile*/
@media screen and (max-width: 560px) {

  nav ul li a:not(.button-outline){

    display: none;
  }

  .hero.hero{
    background-position: center center;
  }


  .quick-intro .desc{

    width: 100%;
  }

  .quick-intro .illustration{

    width: 100%;
  }

  .main-features .cols{

    flex-direction: column
  }

  .main-features .cols > div {

    width: 100%;
    margin-top: 3rem;
  }

  .main-features .cols > div h4{

    margin-top: 1rem;
  }

  .feature{

    flex-direction: column;
    text-align: center;
  }
  .feature .desc, .feature .presentation{

    width: 100%;
  }

  .feature .desc{

    margin-top: 1.5rem;
    order: 1
  }

  .more ul{

    flex-direction: column;
  }

  .more ul li{

    width: 100%;
  }

  .main-footer{

    flex-direction: column;
    text-align: center;
  }

  .main-footer .logo, .main-footer .column, .main-footer .info{

    width: 100%;
  }
  .main-footer .logo{

    order: 10
  }
  .main-footer .logo, .main-footer .info{

    margin-bottom: 1.5rem;
  }

  .main-footer .logo{

    margin-top: 1.5rem;
  }


  /* About */

  .about .welcome{

    flex-direction: column;
    text-align: center;
  }
  .about .welcome .content{

    width: 100%;
    order: 2;
  }
  .about .welcome .image-container{

    width: 100%;
    order: 1;
    margin-bottom: 1.5rem;
  }

  .about .intro .row img{

    width: 100%;
  }

  .about .intro .row .desc{

    width: 100%;
  }

  .about .candidates ul li{

    width: 100%;
  }


  .about .careers ul li{

    flex-direction: column;
    flex-wrap: wrap;
  }
  .about .careers ul li .info{

    flex-direction: column;
    margin-bottom: 1.5rem;
  }
  .about .careers ul li .apply {

    margin-top: 1.5rem;
    width: 100%;
  }

  .about .careers ul li .apply a{

    width: 100%;
    text-align: center;
  }


  .main-features, .feature, .more, .testimonials, .contact, .about .what, .about .candidates, .about .careers{

    padding-top: calc(var(--sectionPadding) / 2);
    padding-bottom: calc(var(--sectionPadding) / 2);
  }

}


/* Extra Small */
@media screen and (max-width: 360px) {

  .hero.hero{
    padding-left: 1rem;
    padding-right: 1rem;
    background-position: center center;
  }

}
