.c-tour-sheets {
  padding-top: 8rem;
  background-color: #f2f2f2;
}

@media print {
  .ReactModal__Body--open * {
    display: none;
  }
  
  .ReactModalPortal,
  .ReactModalPortal * {
    display: block;
  }
  
  .c-tour-sheets-modal, .c-tour-sheets {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    width: auto !important;
    height: auto !important;
    padding: 0;
    background-color: transparent;
  }

  .c-tour-sheets-modal__header.c-tour-sheets-modal__header {
    display: none;
  }
}