.c-create-alert-modal {
  > .modal-dialog {
    width: 400px;
  }
}

.c-create-alert-modal__alert-title-input {
  display: block;
  width: 100%;
  height: 2.5em;
  padding: 0.25em;
  line-height: 1;
  border-radius: 3px;
  border: 1px solid $gray;
  caret-color: #003bdf;
  background-color: #f9f9f9;
  &:hover {
    background-color: #f2f2f2;
  ::placeholder {
      color: #000000;
    }
  }
  &:focus {
    outline: 0;
    background-color: #ffffff;
    border-color: #003bdf;
    ::placeholder {
      color: #000000;
    }
  }
}

.c-create-alert-modal__hero {
  padding: 1em;
  font-size: 1.5rem;
  text-align: center;
  
}

.c-create-alert-modal__footer {
  padding: 1em;
  border-radius: 0 0 3px 3px;
  background: #f9f9f9;
}