.c-share-modal,
.c-confirm-modal,
.c-create-alert-modal {
  .modal-content {
    border-width: 0;
  }
}

@import 'react-modal';
@import 'share-modal';
@import 'success-modal';
@import 'confirm-modal';
@import 'create-alert-modal';

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}