.c-share-modal {
  .tags-container.tags-container {
    border-radius: 0;
    border-top-width: 0;
    background-color: #fff;
  }

  .suggestions.suggestions.suggestions {
    margin-top: 0;
    padding: 1rem 2rem;
  }
}

.c-share-modal__title {
  padding: 2rem;
  font-size: 2.4rem;
  line-height: 1;
  color: #5b6469;
  border-radius: 0 0 3px 3px;
  background: #f9f9f9;
}

.c-share-modal__close-btn {
  position: absolute;
  top: 2.5rem;
  right: 2rem;
  border-width: 0;
  background: transparent;

  & > svg {
    transition: transform .3s ease-out;
  }

  &:hover > svg {
    transform: scale(1.5);
  }
}
