<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('components/head.ejs') %>
  </head>

  <body>
    <%- include('components/nav.ejs') %>

    <!-- Hero -->
    <section class="hero about-hero">
      <div class="desc container">
        <h2>Rechat powers efficiency.</h2>
        <p>
          Join our team, and help us give back time to agent’s and brokerages so
          they can spend time on what matters -- closing more deals.
        </p>

        <div class="btn-container">
          <a class="button-primary" href="#open-positions"
            >See Open Positions</a
          >
        </div>
      </div>
    </section>

    <div class="about">
      <!-- Welcome  -->

      <!-- <section class="welcome container">
        <div class="content">
          <h3>Welcome!</h3>
          <p>
            Today at Rechat, we’re working to streamline an agent’s workflow. Lorem ipsum dolor sit amet consectetur adipiscing elit
            congue pellentesque urna, penatibus conubia at dapibus sem litora velit primis semper, maecenas montes cursus
            nibh fames nascetur pretium platea.
            <br />
            <br /> pellentesque habitasse vestibulum ultrices vel, justo morbi placerat ultricies. Fames leo habitant rhoncus purus
            interdum fusce parturient
            <br />
            <br /> – Shayan Hamidi, Founder & CEO
          </p>
        </div>
        <div class="image-container">
          <img src="static/_website/files/images/welcome.png" alt="">
        </div>
      </section> -->

      <!-- What rechat do  -->

      <section class="what">
        <img src="static/_website/files/icons/time-clock-circle-1.svg" alt="" />
        <p>
          At Rechat, we help agents and brokerages handle one of their toughest
          challenges: getting back their time.
        </p>
      </section>

      <section class="intro">
        <div class="row right">
          <img
            srcset="
              static/_website/files/images/about-1.jpg,
              static/_website/files/images/about-1@2x.jpg 1.5x,
              static/_website/files/images/about-1@2x.jpg 2x
            "
            src="static/_website/files/images/about-1.jpg"
            alt="We work on solving hard problems together"
          />
          <div class="desc container">
            <div class="text">
              <h3>We work on solving hard problems together.</h3>
              <p>
                Every day we challenge each other to go above and beyond, learn
                and grow. We are fast-paced, driven, and expect people to bring
                their best every day.
              </p>
            </div>
          </div>
        </div>

        <div class="row left">
          <img
            srcset="
              static/_website/files/images/about-2.jpg,
              static/_website/files/images/about-2@2x.jpg 1.5x,
              static/_website/files/images/about-2@3x.jpg 2x
            "
            src="static/_website/files/images/about-2.jpg"
            alt="We’re 100% remote and thrive on our teams cultural diversity"
          />
          <div class="desc container">
            <div class="text">
              <h3>
                We’re 100% remote and thrive on our teams cultural diversity.
              </h3>
              <p>
                Our teams spans the globe. From Europe and North America to the
                Middle East and Asia, we benefit from the collective experience
                and viewpoints of each team member.
              </p>
            </div>
          </div>
        </div>

        <div class="row right">
          <img
            srcset="
              static/_website/files/images/about-3.jpg,
              static/_website/files/images/about-3@2x.jpg 1.5x,
              static/_website/files/images/about-3@3x.jpg 2x
            "
            src="static/_website/files/images/about-3.jpg"
            alt="We are always learning from each other"
          />
          <div class="desc container">
            <div class="text">
              <h3>We are always learning from each other.</h3>
              <p>
                We don’t hesitate to ask questions of our teammates, and we take
                the time to answer thoughtfully when questions are asked of us.
              </p>
            </div>
          </div>
        </div>
      </section>

      <!-- Overview on features -->
      <section class="more">
        <h3>The principles that guide us</h3>
        <ul class="container">
          <li>
            <!-- <div class="icon-place"> -->
            <!-- <img src="static/_website/files/icons/house-nature.svg" alt=""> -->
            <!-- </div> -->
            <div class="desc">
              <div class="title">Be Empathetic</div>
              <div class="sub">
                We understand and respect the people of the real estate
                business. We aim to understand the various struggles of each
                role, and to improve their lives.
              </div>
            </div>
          </li>

          <li>
            <!-- <div class="icon-place"> -->
            <!-- <img src="static/_website/files/icons/common-file-text-home.svg" alt=""> -->
            <!-- </div> -->
            <div class="desc">
              <div class="title">Be Pragmatic</div>
              <div class="sub">
                We build for the future while anchoring our product in today. We
                strive to make an immediate difference in people's lives over
                innovating as a technical exercise.
              </div>
            </div>
          </li>

          <li>
            <!-- <div class="icon-place"> -->
            <!-- <img src="static/_website/files/icons/social-media.svg" alt=""> -->
            <!-- </div> -->
            <div class="desc">
              <div class="title">Be Authentic</div>
              <div class="sub">
                We’re true to ourselves. We lead with intent, we’re honest, we
                do the right thing.
              </div>
            </div>
          </li>

          <li>
            <!-- <div class="icon-place"> -->
            <!-- <img src="static/_website/files/icons/gesture-tap-clock-1.svg" alt=""> -->
            <!-- </div> -->
            <div class="desc">
              <div class="title">Be Innovative</div>
              <div class="sub">
                We do more with less by being creative about our resources to
                reach a thoughtful goal. This means we're always curious about
                the end result we're targeting and seeking innovative ways to
                get there.
              </div>
            </div>
          </li>

          <li>
            <!-- <div class="icon-place"> -->
            <!-- <img src="static/_website/files/icons/human-resources-hierarchy-1.svg" alt=""> -->
            <!-- </div> -->
            <div class="desc">
              <div class="title">Be a Team Player</div>
              <div class="sub">
                We care about the success of others on our team, both internally
                and with our clients. We work together to achieve common goals.
              </div>
            </div>
          </li>

          <li>
            <!-- <div class="icon-place"> -->
            <!-- <img src="static/_website/files/icons/hierarchy-9.svg" alt=""> -->
            <!-- </div> -->
            <div class="desc">
              <div class="title">Be Results Oriented</div>
              <div class="sub">
                We measure the impact of what we do and hold ourselves
                accountable to results and outcomes.
              </div>
            </div>
          </li>
        </ul>
      </section>

      <!-- We are looking for  -->
      <section class="candidates container">
        <h3>What we’d like to see in our new team members</h3>

        <ul>
          <li>
            <div class="icon-place">
              <img
                src="static/_website/files/icons/real-estate-favorite-heart-house.svg"
                alt=""
              />
            </div>
            <div class="title">Respect</div>
            <p>All employees and customers treated with dignity.</p>
          </li>
          <li>
            <div class="icon-place">
              <img src="static/_website/files/icons/color-palette.svg" alt="" />
            </div>
            <div class="title">Transparency</div>
            <p>Honest, direct communication and feedback.</p>
          </li>
          <li>
            <div class="icon-place">
              <img
                src="static/_website/files/icons/messages-people-user-bubble-circle.svg"
                alt=""
              />
            </div>
            <div class="title">Ownership</div>
            <p>Individual decision-making combined with accountability.</p>
          </li>
          <li>
            <div class="icon-place">
              <img
                src="static/_website/files/icons/award-star-head.svg"
                alt=""
              />
            </div>
            <div class="title">Excellence</div>
            <p>
              Use your drive and curiosity to build a world class experience.
            </p>
          </li>
        </ul>
      </section>

      <!-- Careers  -->
      <section class="careers container" id="open-positions">
        <h3>Careers at Rechat</h3>

        <ul>
          <li>
            <div class="title">
              <div class="position">
                Outbound Sales Development Representative
              </div>
              <div class="info">
                <span>Remote</span>
                <span>Sales</span>
                <span>Full-Time</span>
              </div>
            </div>
            <div class="apply">
              <a
                class="button-primary"
                href="/about/outbound-sales-development-representative"
                >Learn More</a
              >
            </div>
          </li>
        </ul>
      </section>
    </div>

    <%- include('components/footer.ejs') %>
  </body>
</html>
