<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('components/head.ejs') %>
</head>

<body>


  <%- include('components/nav.ejs') %>


    <!-- Hero -->
    <section class="hero contact-hero">
      <div class="desc container">
        <h2>Learn how Rechat can help you work smarter.</h2>
        <p>Our platform has generated billions in revenue for the brokerages and agents. Let our industry tailored solutions
          help you at every stage of the buying and selling process.</p>
      </div>
    </section>

    <!-- Contact form -->

    <section class="contact">

      <form onsubmit="formSubmited(); return false;" id="contact-form">
        <div class="field">
          <label for="firstname">First Name
            <span>*</span>
          </label>
          <input type="text" id="firstname" required>
        </div>

        <div class="field">
          <label for="lastname">Last Name
            <span>*</span>
          </label>
          <input type="text" id="lastname" required>
        </div>

        <div class="field">
          <label for="email">Email
            <span>*</span>
          </label>
          <input type="email" id="email" required>
        </div>


        <div class="field">
          <label for="phone">Phone number
            <span>*</span>
          </label>
          <input type="text" id="phone" required>
        </div>

        <div class="field">
          <label for="brokerage">Brokerage Name
            <span>*</span>
          </label>
          <input type="text" id="brokerage" required>
        </div>

        <div class="agreement">
          We’re committed to your privacy. Rechat uses the information you provide to us to contact you about our relevant content,
          products, and services. You may unsubscribe from these communications at any time. For more information, check
          out our
          <a href="/privacy" class="button-text-link">Privacy Policy</a>.
        </div>

        <button class="button-primary">Submit</button>
      </form>

    </section>

    <%- include('components/footer.ejs') %>

      <script>

        function field(name) {
          var f = document.body.querySelector("#" + name);
          return f ? f.value : "";
        }

        function isEmpty(fields) {

          return fields.some(function checker(item) {

            return !!item === false
          })
        }

        function formSubmited() {

          var contactButton = document.body.querySelector("#contact-form button");

          // Fields values
          var first_name = field("firstname")
          var last_name = field("lastname")
          var email = field("email")
          var phone = field("phone")
          var brokerage_name = field("brokerage")

          if (isEmpty([first_name, last_name, email, phone, brokerage_name])) {

            alert("Please fill all the required (*) fields.");
            return false;
          }

          var fields = [
            "first_name=" + first_name,
            "last_name=" + last_name,
            "email=" + email,
            "phone=" + phone,
            "brokerage_name=" + brokerage_name
          ];

          var data = fields.join("&");


          // Loading mode
          contactButton.disabled = true;

          // Send request
          var xhr = new XMLHttpRequest();
          xhr.withCredentials = true;

          xhr.addEventListener("readystatechange", function () {
            if (this.readyState === 4) {
              const res = JSON.parse(this.responseText);

              if (this.status == 200) {

                // reset form
                document.body.querySelector("#contact-form").reset();
              }

              alert(res.message)

              contactButton.disabled = false;
            }
          });

          xhr.open("POST", "/contact");
          xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
          xhr.send(data);

          return false;
        }
      </script>
</body>

</html>