<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('components/head.ejs') %>
</head>

<body>

  <%- include('components/nav.ejs') %>


    <!-- Hero -->
    <section class="hero faq-hero">
      <div class="desc container">
        <h2>We pride ourselves on our first class service</h2>
      </div>
    </section>


    <section class="faq container faq-container">

      <h3>FAQ</h3>

      <ul>
        <li>
          <h4>How much does Rechat cost?</h4>
          <p>Choose the tools and features you need, you can always add more later. Rechat's pricing adapts to fit your needs.</p>
        </li>
        <li>
          <h4>Can I use Rechat as an individual?</h4>
          <p>Yes. Rechat is designed to accommodate the needs of individual agents as well as brokerages of all sizes.</p>
        </li>
        <li>
          <h4>What if I have feedback for Rechat?</h4>
          <p>If you have feature requests or identify software issues with the platform, use our 24/7 support channel to start
            a new conversation and send us a message via the support window.</p>
        </li>
        <li>
          <h4>Who owns my contacts?</h4>
          <p>You do. Rechat will never use or share your contacts. We've also made it easy to import, export and delete contacts
            as needed.</p>
        </li>
        <li>
          <h4>Is Rechat compatible with other technologies?</h4>
          <p>Yes. Our API leverages Google, Docusign, Outlook, MLS, LoneWolf Technologies, Rezora, Mailchimp and Xpressdocs
            just to name a few.</p>
        </li>
        <li>
          <h4>Can I just use Rechat for contact relationship management?</h4>
          <p>Yes you can. Rechat offers a rich CRM experience with tools that can help you stay engaged with your contacts -
            Tags, list management, email & social marketing, Instagram stories and event logging with historical tracking
            for instance.
          </p>
        </li>
        <li>
          <h4>Is Rechat secure?</h4>
          <p>
            Securing customer’s data is our top priority. All data is continuously backed up and kept safe using industry standard 256-bit
            SSL encryption.
          </p>
        </li>
      </ul>
    </section>


    <!-- Hero -->
    <section class="hero faq-support-hero">
      <div class="desc container">
        <h2>Free, Unlimited Support</h2>
        <p>Our customer success team offers support, workshops and VIP onboarding to help you work smarter from the moment you
          sign up. Say hello!</p>
      </div>
    </section>


    <!-- Resurces Widget -->

    <!-- <section class="resources-widget container">
    <h3>Rechat resources to support you along the way</h3>

    <div class="resources-items">
      <div>
        <img src="./assets/files/images/resources-1.jpg" alt="">
        <div class="content">
          <p>
            Building your contact database with Facebook
          </p>
          <a href="#" class="button-text-link">Download PDF</a>
        </div>
      </div>

      <div>
        <img src="./assets/files/images/resources-2.jpg" alt="">
        <div class="content">
          <p>
            Building your contact database with Facebook
          </p>
          <a href="#" class="button-text-link">Download PDF</a>
        </div>
      </div>

      <div>
        <img src="./assets/files/images/resources-3.jpg" alt="">
        <div class="content">
          <p>
            Earn 251% more revenue
          </p>
          <a href="#" class="button-text-link">Download PDF</a>
        </div>
      </div>
    </div>

  </section> -->

    <%- include('components/footer.ejs') %>
</body>

</html>