<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('components/head.ejs', {title:title}) %>
</head>

<body>

  <%- include('components/nav.ejs', {title:title}) %>
    <!-- Hero -->
    <section class="hero homepage-hero">
      <div class="desc container">
        <h2>Close more deals, more often.</h2>
        <p>Spend more time on the things that matter, your clients. Let Rechat take care of the rest.</p>

        <div class="btn-container">
          <a class="button-primary" href="/contact">Learn More</a>

          <!-- <a class="button-preview" href="https://youtube.com/" target="_blank">
          <div class="preview-image">
            <span class="icon-place">
              <img src="static/_website/files/icons/button-play.svg" alt="">
            </span>
            <img src="static/_website/files/images/video.jpg" alt="">
          </div>
          <div class="text">
            Watch Video
          </div>
        </a> -->
        </div>

      </div>
    </section>



    <!-- Introduction -->
    <section class="quick-intro container">
      <div class="desc">Rechat helps Agents bring their business under one roof.</div>
      <div class="illustration">

        <img src="static/_website/files/before_after.svg" alt="">
      </div>
    </section>



    <!-- Key features -->
    <section class="main-features">
      <h3>Why agents and
        <br/> brokerages use Rechat</h3>
      <div class="cols container">
        <div>
          <div class="icon">
            <img src="static/_website/files/icons/single-home.svg" alt="">
          </div>
          <h4>One home for your contacts</h4>
          <p>
            Keep track of all of your contacts - clients past, present, and future - in one place. Contact info, important dates, preferences
            and budget, conversation history, and more. All under one roof.
          </p>
        </div>
        <div>
          <div class="icon">
            <img src="static/_website/files/icons/promo-mail.svg" alt="">
          </div>
          <h4>Marketing made easy</h4>
          <p>
            Drive efficient growth for every touch point with beautiful marketing templates. Easily promote open houses, generate tour
            sheets and share listings via our agent network.
          </p>
        </div>
        <div>
          <div class="icon">
            <img src="static/_website/files/icons/laptop-remove.svg" alt="">
          </div>
          <h4>Streamline your process</h4>
          <p>
            Be top of mind with critical date reminders for your listings and contracts. Create and manage forms with ease while being
            fully integrated with MLS and Docusign.
          </p>
        </div>
      </div>
    </section>



    <!-- Highlighted Feature -->
    <section class="feature container">
      <div class="desc">
        <h4>Make it easy on yourself</h4>
        <p>You know what they say: plan the work and work the plan. With Rechat, it's that simple. Set up Flows to keep up with
          your most important prospects and customers while Rechat captures every interaction - text, email, phone call,
          showing - for you.</p>
      </div>
      <div class="presentation">
        <img srcset="static/_website/files/images/Flow.jpg,
          static/_website/files/images/Flow@2x.jpg 1.5x,
          static/_website/files/images/Flow@3x.jpg 2x" src="static/_website/files/images/Flow.jpg" alt="Make it easy on yourself">
      </div>
    </section>



    <!-- Highlighted Feature -->
    <section class="feature container">
      <div class="presentation">
        <img srcset="static/_website/files/images/asset_graphic_crm.jpg,
        static/_website/files/images/asset_graphic_crm@2x.jpg 1.5x,
        static/_website/files/images/asset_graphic_crm@3x.jpg 2x" src="static/_website/files/images/asset_graphic_crm.jpg"
          alt="Capture all interactions">
      </div>
      <div class="desc">
        <h4>Capture all interactions</h4>
        <p>Our CRM allows you to be thoughtful, timely, and relevant without the hassle of spreadsheets, post-its or multiple
          technologies.
        </p>
      </div>
    </section>



    <!-- Highlighted Feature -->
    <section class="feature container">
      <div class="desc">
        <h4>Built for teams</h4>
        <p>Teams can work faster and more efficiently across a platform that offers tools that encourage cross team communication
          and ownership.</p>
      </div>
      <div class="presentation">
        <img srcset="static/_website/files/images/asset_graphic_teams.jpg,
        static/_website/files/images/asset_graphic_teams@2x.jpg 1.5x,
        static/_website/files/images/asset_graphic_teams@3x.jpg 2x" src="static/_website/files/images/asset_graphic_teams.jpg"
          alt="Built for teams">
      </div>
    </section>



    <!-- Overview on features -->
    <section class="more">
      <span class="roof">
        <img src="static/_website/files/roof.svg" alt="">
      </span>
      <h3>More under one roof</h3>
      <ul class="container">
        <li>
          <div class="icon-place">
            <img src="static/_website/files/icons/house-nature.svg" alt="">
          </div>
          <div class="desc">
            <div class="title">Open Houses</div>
            <div class="sub">Easily generate open house landing pages</div>
          </div>
        </li>

        <li>
          <div class="icon-place">
            <img src="static/_website/files/icons/common-file-text-home.svg" alt="">
          </div>
          <div class="desc">
            <div class="title">Tours</div>
            <div class="sub">Setup tours and share with your client</div>
          </div>
        </li>

        <li>
          <div class="icon-place">
            <img src="static/_website/files/icons/social-media.svg" alt="">
          </div>
          <div class="desc">
            <div class="title">Social Templates</div>
            <div class="sub">Promote to Facebook, instagram and Linkedin</div>
          </div>
        </li>

        <li>
          <div class="icon-place">
            <img src="static/_website/files/icons/gesture-tap-clock-1.svg" alt="">
          </div>
          <div class="desc">
            <div class="title">Smart Reminders</div>
            <div class="sub">Automated reminders on important dates</div>
          </div>
        </li>


        <li>
          <div class="icon-place">
            <img src="static/_website/files/icons/human-resources-hierarchy-1.svg" alt="">
          </div>
          <div class="desc">
            <div class="title">Agent Network</div>
            <div class="sub">Promote your listings to top agents</div>
          </div>
        </li>

        <li>
          <div class="icon-place">
            <img src="static/_website/files/icons/hierarchy-9.svg" alt="">
          </div>
          <div class="desc">
            <div class="title">Open Platform</div>
            <div class="sub">Easily integration with other applications</div>
          </div>
        </li>


        <li>
          <div class="icon-place">
            <img src="static/_website/files/icons/analytics-bars.svg" alt="">
          </div>
          <div class="desc">
            <div class="title">Email Insights</div>
            <div class="sub">Get actionable data insights </div>
          </div>
        </li>


        <li>
          <div class="icon-place">
            <img src="static/_website/files/icons/team-chat.svg" alt="">
          </div>
          <div class="desc">
            <div class="title">Team Collaboration</div>
            <div class="sub">Built in messaging for team communication</div>
          </div>
        </li>
      </ul>

      <div class="btn-container">
        <a class="button-primary" href="./contact">Learn More</a>
      </div>
    </section>



    <!-- Testimonials -->
    <!-- <section class="testimonials">
    <h3>What agents are saying about <br /> Rechat</h3>

    <p style="text-align: center;color: silver;">🚧 Coming Soon.</p>
  </section> -->



    <!-- Numbers -->
    <section class="stat">

      <div class="number">
        $3,000,000,000
      </div>
      <div class="text">
        transactions have Processed
      </div>
    </section>

    <%- include('components/footer.ejs') %>
</body>

</html>