<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('components/head.ejs') %>
</head>

<body>
  <%- include('components/nav.ejs') %>

  <section class="job container faq-container">
    <p>
      <h3>Director of Sales</h3>
    </p>

    <p>
      <h4>About the Job</h4>
      <p>Director of Sales responsible for spearheading sales for a fast-growing SaaS company. Rechat provides a
        software platform for realtors and brokerages. Candidate will be a hands-on, aggressive sales director
        responsible for all aspects of the sales cycle focusing on strategy development and implementation of strategy.
        Candidate will report directly to the CEO/founder.</p>
    </p>

    <p>
      <h4>About the Company</h4>
      <p>Rechat is redefining “CRM” for residential real estate agents and brokerages, helping to bring operational
        efficiency and the human touch to their businesses.</p>
      <p>We work on solving hard problems together. Every day we challenge each other to go above and beyond, learn and
        grow. We are fast-paced, driven, and expect people to bring their best every day.</p>
      <p>We’re 100% remote and thrive on our teams cultural diversity. Our teams spans the globe. From Europe and North
        America to the Middle East and Asia, we benefit from the collective experience and viewpoints of each team
        member.</p>
      <p>We are always learning from each other. We don’t hesitate to ask questions of our teammates, and we take the
        time to answer thoughtfully when questions are asked of us.</p>
    </p>

    <p>
      <h4>About You</h4>
      <ul>
        <li>Demonstrated and relevant business development experience in the real estate industry and/or applicable
          product sales experience.</li>
        <li>Demonstrated ability to generate leads and drive business development.</li>
        <li>Excellent ability to attain and perform demo presentations that result in sales.</li>
        <li>Knowledge of related of related processes and applications.</li>
        <li>Strong relationship management skills.</li>
        <li>Consistent over-achievement of quota and revenue goals.</li>
        <li>Ability to work in a team environment by actively collaborating with others.</li>
      </ul>
    </p>

    <p>
      <h4>Responsibilities:</h4>
      <ul>
        <li>Work with founder and management to develop and implement Rechat’s
          complete go-to-market strategy.</li>
        <li>Work with product engineering to generate demos, scripts, first call material, etc. targeted for several
          audiences and use case applications (e.g., brokers, owners of office technology, agents, etc.).</li>
        <li>Proactively attain and execute on presentation/demo meetings with all potential buyers.</li>
        <li>Manage entire process from lead-to-close, including contract attainment and management.</li>
        <li>Partner with customers and users while ensuring customer success.</li>
        <li>Own lead generation, including identification of brokerages,
          brokers, agents. Responsible for proactively mining data (e.g.,
          Rechat agent databases, Facebook, etc.), business development and
          outreach with agents/brokers, attaining meetings/presentations, etc.
          Metrics will include contacts, presentations, demos, pipeline
          management, attainment, etc.</li>
        <li>Meet or exceed quarterly sales quotas.</li>
        <li>Become a team member and strategic contributor of the company to attain mutual success.</li>
      </ul>
    </p>


    <p>
      <h4>Qualifications:</h4>
      <ul>
        <li>5+ years of applicable experience in sales.</li>
        <li>B.S. or equivalent experience required.</li>
      </ul>
    </p>

    <p>
      <h4>Compensation: (not for posting, but for discussion)</h4>
      <ul>
        <li>$ OTE.</li>
        <li>Option participation.</li>
      </ul>
    </p>
    <br>
    <p>
      <a class="button-primary" href="mailto:support@rechat.com">Apply</a>
    </p>
  </section>

  <!-- Hero -->
  <section class="hero faq-support-hero">
    <div class="desc container">
      <h2>Free, Unlimited Support</h2>
      <p>
        Our customer success team offers support, workshops and VIP onboarding
        to help you work smarter from the moment you sign up. Say hello!
      </p>
    </div>
  </section>

  <%- include('components/footer.ejs') %>
</body>

</html>
