{
  "presets": ["react", "es2015", "stage-0"],
  "env": {
    "production": {
      "plugins": [["react-remove-properties", { "properties": ["data-test"] }]]
    }
  },
  "plugins": [
    [
      "system-import-transformer",
      {
        "amd": { "useRequireEnsure": true },
        "syntax": {
          "import": true,
          "system-import": false
        }
      }
    ]
  ]
}
