{
  "presets": ["react", "es2015", "stage-0"],
  "plugins": [
    [
      "system-import-transformer",
      {
        "amd": { "useRequireEnsure": true },
        "syntax": {
          "import": true,
          "system-import": false
        }
      }
    ]
  ],
  "env": {
    "test": {
      "compact": "false"
    },
    "production": {
      "plugins": [["react-remove-properties", { "properties": ["data-test"] }]]
    }
  }
}
