image: node:12

stages:
  - build
  - test
  - deploy
  - review

# This stage is for making sure that build is not broken.
build:
  stage: build
  script:
    - npm i
    - npm run build:ci
  # We don't need to run build for branches that are deployed. if build is broken
  # deploy also breaks.
  except:
    - alpha
    - stage
    - master

test_unit:
  stage: test
  script:
    - npm i
    - npm run test:ci -- --coverage

deploy_alpha:
  stage: deploy
  image: timbru31/ruby-node:latest
  before_script:
    - apt-get update -qy
    - apt-get install -y ruby-dev
    - gem install dpl
  script:
    - dpl --provider=heroku --app=rechat-web-alpha --strategy=git --api-key=$HEROKU_API_KEY --username=$HEROKU_USERNAME --password=$HEROKU_PASSWORD
  environment:
    name: alpha
    url: https://alpha.rechat.com
  only:
    - alpha

deploy_irish:
  stage: deploy
  image: timbru31/ruby-node:latest
  before_script:
    - apt-get update -qy
    - apt-get install -y ruby-dev
    - gem install dpl
  script:
    - dpl --provider=heroku --app=rechat-irish --strategy=git --api-key=$HEROKU_API_KEY --username=$HEROKU_USERNAME --password=$HEROKU_PASSWORD
  environment:
    name: irish
    url: https://irish.rechat.com
  only:
    - stage

deploy_production:
  stage: deploy
  image: timbru31/ruby-node:latest
  before_script:
    - apt-get update -qy
    - apt-get install -y ruby-dev
    - gem install dpl
  script:
    - dpl --provider=heroku --app=rechat-web --strategy=git --api-key=$HEROKU_API_KEY --username=$HEROKU_USERNAME --password=$HEROKU_PASSWORD
  environment:
    name: production
    url: https://rechat.com
  only:
    - master

start_review:
  stage: review
  script:
    - chmod u+x ./start_review_scripts.bash
    - ./start_review_scripts.bash
  environment:
    name: review/$CI_BUILD_REF_NAME
    url: https://rechat-$CI_PROJECT_NAME-$CI_COMMIT_REF_SLUG.herokuapp.com/
    on_stop: stop_review
  only:
    - branches
  except:
    - master
  needs: []

stop_review:
  stage: review
  variables:
    GIT_STRATEGY: none
  script:
    - >-
        curl
        -X DELETE
        https://api.heroku.com/apps/rechat-$CI_PROJECT_NAME-$CI_COMMIT_REF_SLUG
        -H "Content-Type: application/json"
        -H "Accept: application/vnd.heroku+json; version=3"
        -H "Authorization: Bearer $HEROKU_API_KEY"
  when: manual
  environment:
    name: review/$CI_BUILD_REF_NAME
    action: stop
  only:
    - branches
  except:
    - master
    - staging
  needs: []
