image: node:14

stages:
  - test
  - deploy
  - review

test_unit:
  needs: []
  stage: test
  only:
    - merge_requests
  script:
    - npm i
    - npm run test:ci -- --coverage


deploy_beta:
  stage: deploy
  image: timbru31/ruby-node:latest
  before_script:
    - apt-get update -qy
    - apt-get install -y ruby-dev
    - gem install dpl
  script:
    - dpl --provider=heroku --app=rechat-irish --strategy=git --api-key=$HEROKU_API_KEY --username=$HEROKU_USERNAME --password=$HEROKU_PASSWORD
  environment:
    name: beta
    url: https://beta.rechat.com
  only:
    - stage

deploy_production:
  stage: deploy
  image: timbru31/ruby-node:latest
  before_script:
    - apt-get update -qy
    - apt-get install -y ruby-dev
    - gem install dpl
  script:
    - dpl --provider=heroku --app=rechat-web --strategy=git --api-key=$HEROKU_API_KEY --username=$HEROKU_USERNAME --password=$HEROKU_PASSWORD
  environment:
    name: production
    url: https://app.rechat.com
  only:
    - master

start_review:
  stage: review
  script:
    - chmod u+x ./dokku.sh
    - ./dokku.sh
  environment:
    name: review/$CI_BUILD_REF_NAME
    url: https://$CI_COMMIT_REF_SLUG.rechat.co/
  only:
    - merge_requests
  except:
    - master
  needs: []
