%dels-dropdown-cta-menu {
  ul.dropdown-menu {
    width: 300px;
    margin: 0;
    padding: 0;
    border: none !important;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.15);

    li {
      padding: 0 9px !important;
      height: 40px;
      line-height: 40px;
      vertical-align: middle;
      color: #d0011b;
      font-size: 15px;
      &:hover {
        opacity: 0.7;
        background-color: transparent;
      }
    }
  }
}
