%deal-modal-header {
  height: 55px;
  line-height: 30px;
  vertical-align: middle;
  border-radius: 6px 6px 0 0;
  background-color: #f8fafb;
  font-size: 17px;
  font-weight: 600;
  color: #1c364c;
  .close {
    margin-top: 3px;
  }
}
