.deal-radio {
  display: inline;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;

  .radio-button {
    display: inline-block;
    width: 19px;
    height: 19px;
    border-radius: 70px;
    background-color: #fff;
    border: solid 1px #e9e9e9;
    text-align: center;
    i {
      color: transparent
    }

    &.selected {
      background-color: #2196f3;
      border-color: #2196f3;
      i {
        color: #fff;
        font-size: 12px;
      }
    }

    &:hover {
      opacity: 0.8;
    }
  }

  .radio-label {
    display: inline;
    margin-left: 5px;
    font-size: 15px;
    color: #263445;
  }

  &:hover {
    cursor: pointer;
  }
}
