/* bm-menu */
%column {
  min-height: 100%;
  width: $rowWidth;
  //float: left;
  display: inline-block;
  border-right: solid 1px #d8dfe2;
  .title {
    font-size: 15px;
    font-weight: bold;
    color: #5b6469;
    //padding: 25px 0px 40px 20px;
    //margin: 0;
    text-align: center;
    border-bottom: solid 1px #d8dfe2;
    border-top: solid 1px #d8dfe2;
    height: 50px;
    line-height: 50px;
  }
  .members {
    .addMember {
      width: 90%;
      margin: auto;
      display: block;
      margin-top: 16px;
    }
  }
  .item {
    @extend %item;
  }
}

.bm-overlay {
  z-index: 99 !important;
}

%item {
  padding: 16px 4px 16px $row-padding;
  margin: 0;
  cursor: pointer;

  a {
    font-size: 14px;
    color: #5b6469;
    background-color: transparent;
  }
  .vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
  }
  .avatar {
    padding-left: 0;
    padding-right: 0;
    margin-right: 10px;
  }
  .title {
    padding: 0 0 0 10px;
    opacity: 0.5;

    &.hasNotification {
      opacity: 1;
      span {
        font-weight: bold;
      }
    }
    .message-typing {
      display: inline;
      margin-left: 5px;
      .message {
        display: none;
      }
      img {
        width: 30px;
      }
    }
  }
  .notifications {
    text-align: center;
    padding-top: 4px;
    .count {
      padding: 2px;
      border-radius: 10px;
      font-size: 11px;
      min-width: 30px;
      display: inline-block;
      background-color: #2196f3;
    }
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  &.active {
    background-color: #f8fafb;
    .title {
      opacity: 1;
    }
    .notifications {
      display: none;
    }
  }
}
