/* bm-menu */
%column {
  min-height: 100%;
  width: $rowWidth;
  //float: left;
  display: inline-block;
  border-right: solid 1px #d8dfe2;
  .title {
    font-size: 15px;
    font-weight: bold;
    color: #5b6469;
    //padding: 25px 0px 40px 20px;
    //margin: 0;
    text-align: center;
    border-bottom: solid 1px #d8dfe2;
    border-top: solid 1px #d8dfe2;
    height: 50px;
    line-height: 50px;
  }
  .members {
    .addMember {
      width: calc(100% - 20px);
      margin: auto;
      display: block;
      margin-top: 16px;
    }
    .item {
      @extend %members-item;
    }
  }
}

.bm-overlay {
  z-index: 99 !important;
}

%members-item {
  margin: 16px 0 0 0;
  padding: 3px;
  cursor: pointer;
  float: left;
  width: 100%;
  .closeIcon {
    color: #78909c;
    float: right;
    margin-right: 12px;
    line-height: 30px;
  }
  a {
    font-size: 14px;
    color: #5b6469;
    background-color: transparent;
  }
  .vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
  }
  .avatar {
    padding-left: 0;
    padding-right: 0;
    margin-right: 10px;
  }
  .memberName {
    opacity: 0.5;
    font-size: 15px;
    color: #5b6469;
    font-weight: normal;

    &.hasNotification {
      opacity: 1;
      span {
        font-weight: bold;
      }
    }
    .message-typing {
      display: inline;
      margin-left: 5px;
      .message {
        display: none;
      }
      img {
        width: 30px;
      }
    }
  }
  .notifications {
    text-align: center;
    padding-top: 4px;
    .count {
      padding: 2px;
      border-radius: 10px;
      font-size: 11px;
      min-width: 30px;
      display: inline-block;
      background-color: #2196f3;
    }
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  &.active {
    background-color: #eff5fa;
    .notifications {
      display: none;
    }
  }
}
