@import 'column';
$toolBarHeight: 60px;
%roles {
  background-color: #f8fafb;
  min-height: 100vh;
  .toolbar {
    margin: 0;
    height: $toolBarHeight;
    .title {
      font-size: 15px;
      color: #78909c;
      margin-left: 40px;
      float: left;
      line-height: $toolBarHeight;
    }
    .button {
      float: right;
      padding: 17px 40px 0px 0px;
    }
  }
  .toolbar:after {
    clear: both;
  }
  .rows {
    height: calc(100vh - #{$toolBarHeight});
    overflow: auto;
    white-space: nowrap;
    .column {
      @extend %column;
    }
  }
}
