$row-padding: 20px;
$menuWidth: 230px;
$rowWidth: 300px;
$toolBarHeight: 60px;

@import 'menu';
@import 'checklists/checklists';
@import 'modal-new-role';
@import 'checklists/modal-checklist';
@import 'brands/modal-brand';
@import 'modal';
@import 'brands/brands';

.brand {
  background-color: #f0f4f7;
  min-height: 100vh;
  .no-padding {
    padding: 0;
  }
  .menu {
    @extend %menu;
  }
  .toolbar {
    margin: 0;
    height: $toolBarHeight;

    .button {
      float: right;
      padding: 12px 40px 0 0;
    }
  }
  .toolbar:after {
    clear: both;
  }

  .checklists {
    @extend %checklists;
  }

  .rightPanel {
    overflow: auto;
    min-height: 100vh;
  }
}

.brands {
  background-color: #f0f4f7;
  height: 100vh;
  @extend %brands;
}

.brand-add-member {
  @extend %brand-modal;
}

#popover-brand-user-avatar {
  .row-container {
    margin-top: 4px;
    cursor: pointer;
    .check-box-icon {
      padding: 0.5px 2.5px;
      margin-right: 9px;
      border-radius: 4px;
      border: solid 1px #dce5eb;
      color: transparent;
      &.active {
        border: solid 1px #2196f3;
        background: transparent;
        color: #2196f3;
      }
    }
  }
}


.spinner__brands {
  position: fixed;
  left: 50%;
  margin-left: -27px;
  margin-top: 8px;
}
.spinner__brands.hide_spinner {
  visibility: hidden;
}
