.c-alertList__item {
  position: relative;
  padding: 16px 8px 16px 16px;
  border-bottom: 1px solid #ececec;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-decoration: none;
  &:hover, &:focus {
    text-decoration: none;
}
  &--selected {
    background-color: #f6f6f6;
  }
}

.c-alertList__item__thumbnail {
  width: 54px;
  height: 54px;
  margin-right: 2rem;
  display: inline-block;
  vertical-align: top;
  > img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
  }
}

.c-alertList__item__info {
  display: inline-block;
  width: calc(100% - 126px);
}

.c-alertList__item__title {
  margin-top: 0;
  margin-bottom: 8px;
  line-height: 1;
  font-weight: normal;
  font-size: 1.6rem;
  font-weight: 600;
  color: #263445;
}

.c-alertList__item__shared-by {
  margin-bottom: 8px;
  line-height: 1;
  color: #263445;
}

.c-alertList__item__menu,
.c-alertList__item__badge,
.c-alertList__item__menu-trigger-btn {
  width: 32px;
  height: 32px;
}

.c-alertList__item__badge {
  text-align: center;
  padding-top: 6px;
  margin-top: -4px;
  margin-right: 8px;
  color: #fff;
  border-radius: 50%;
}

.c-alertList__item__btn {
  padding: 0;
  border-width: 0;
  background: transparent;
}

.c-alertList__item__menu-trigger-btn {
  margin-left: 1rem;
  @extend .c-alertList__item__btn;
  text-align: center;
  border-radius: 100%;

  &:focus,
  &:hover {
    outline-width: 1px;
    background: #eaeaea;
  }

  > svg {
    display: inline-block;
    vertical-align: middle;
  }
}

.c-alertList__item__menu {
  position: absolute;
  right: 1rem;
  width: 200px;
  height: auto;
  display: none;
  margin: 0;
  padding: 0;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.15);

  .is-open > & {
    display: block;
  }

  > li {
    margin: 0;
    height: 4rem;
  }
}

.c-alertList__item__menu__item-btn {
  @extend .c-alertList__item__btn;
  width: 100%;
  height: 100%;
  text-align: left;
  line-height: 1;
  font-size: 1.5rem;
  padding: 0 1rem;

  > span,
  > svg {
    display: inline-block;
    vertical-align: middle;
  }

  > svg {
    margin-right: 1rem;
  }

  &:not([disabled]):hover {
    > span {
      color: #2196f3;
    }
    > svg {
      fill: #2196f3;
    }
  }

  &[disabled] {
    background: #eaeaea;
  }
}

.c-alertList__item__menu__divider.c-alertList__item__menu__divider {
  height: 1px;
  background: #e9e9e9;
}
