.c-alerts-list {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: scroll;
  will-change: transform;
}

.c-alertList__item {
  position: relative;
  padding: 2rem;
  cursor: pointer;
  border-bottom: 1px solid #ececec;
  &:last-child {
    border-bottom-width: 0;
  }
  &--selected {
    background-color: #f6f6f6;
    cursor: initial;
    pointer-events: none;
  }
}

.c-alertList__item__thumbnail {
  width: 54px;
  height: 54px;
  margin-right: 2rem;
  display: inline-block;
  vertical-align: middle;
  background-color: #cecece;
  > img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }
}

.c-alertList__item__info {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 74px);
}

.c-alertList__item__title {
  margin-top: 0;
  line-height: 1;
  font-weight: normal;
  font-size: 1.7rem;
  color: #4a4a4a;
}

.c-alertList__item__shared-by {
  margin-bottom: 0;
  color: #9b9b9b;
  line-height: 1;
}

.c-alertList__item__badge {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  text-align: center;
  padding-top: 6px;
  color: #fff;
  border-radius: 50%;
}
