// Accessibly hide content:
// snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin visually-hidden($state: hidden) {
  @if ($state==undo) {
    position: static;
    overflow: visible;
    width: auto;
    height: auto;
    margin: auto;
    clip: auto;
  } @else {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}

// layouts
@import 'filters/filters-main-layout';
// components
@import 'filters/radio';
@import 'filters/select';
@import 'filters/filters-tag';
@import 'filters/switch-toggle';
@import 'filters/filters-label';
@import 'filters/min-max-inputs';
@import 'filters/filters-group-radios';
@import 'filters/filters-listings-status-row';
@import 'filters/filters-cta-buttons';
