%full-absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.c-listing-card {
  position: relative;
  height: 240px;
  margin-bottom: 1em;
  border-radius: 3px;
  cursor: pointer;
  background: $gray-lighter;
  &:after {
    content: 'Loading...';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    display: block;
  }
  &.is-visible {
    background: none;
    &:after {
      display: none;
    }
  }
  @media screen and (min-width: 1920px) {
    width: calc((100% / 2) - 0.5rem);
    margin-right: 1rem;
    float: left;
    &:nth-child(2n) {
      float: right;
      margin-right: 0;
    }
  }
  .c-listings-panel--grid & {
    width: calc((100% / 3) - (2rem / 3));
    margin-right: 1rem;
    float: left;
    &:nth-child(3n) {
      float: right;
      margin-right: 0;
    }
    @media screen and (min-width: 1400px) {
      width: calc((100% / 4) - 0.75rem);
      &:nth-child(2n),
      &:nth-child(3n) {
        float: left;
        margin-right: 1rem;
      }
      &:nth-child(4n) {
        float: right;
        margin-right: 0;
      }
    }
  }
  .l-listings__main--alert .c-listings-panel--grid & {
    width: calc((100% / 2) - 0.5rem);
    margin-right: 1rem;
    float: left;
    &:nth-child(3n) {
      float: left;
      margin-right: 1rem;
    }
    &:nth-child(2n) {
      float: right;
      margin-right: 0;
    }
    @media screen and (min-width: 1400px) {
      width: calc((100% / 3) - (2rem / 3));
      &:nth-child(2n) {
        float: left;
        margin-right: 1rem;
      }
      &:nth-child(3n) {
        float: right;
        margin-right: 0;
      }
    }
  }
}

.c-listing-card__inner {
  position: relative;
  height: 100%;
  border-radius: inherit;
  background-size: cover;
  background-color: #6d6d6d;
  background-repeat: no-repeat;
  background-position: center center;
  &:hover {
    &:before {
      background: rgba(0, 0, 0, 0.3);
    }
  }
}

.c-listing-card__inner:before {
  @extend %full-absolute;
  content: '';
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.2);
}

.c-listing-card__link {
  @extend %full-absolute;
  display: block;
}

.c-listing-card__content-wrapper {
  position: absolute;
  left: 0.5em;
  bottom: 0.5em;
  color: #fff;
}

.c-listing-card__status {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 3px;
  margin-bottom: 0.5em;
}

.c-listing-card__title {
  font-size: 1.2rem;
  margin: 0 0 0.5em;
}

.c-listing-card__price {
  margin: 0;
}

.c-listing-card__favorite-heart {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  width: 40px;
  height: 40px;
}

.c-listing-card__alertStatus {
  position: absolute;
  top: 54px;
  left: 0;
  padding: 0.25em 0.5em;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
}