
.c-loading--text {
  position: absolute;
  top: 194px;
  left: 50%;
  z-index: 11;
  transform: translateX(-50%);
}

.c-loading--text__inner {
  padding: .75rem 2rem;
  font-size: 1.5rem;
  color: #fff;
  border-radius: 20px;
}