.c-loading--text {
  position: absolute;
  top: 25px;
  right: 60px;
  z-index: 11;
}

.c-loading--text__inner {
  color: #fff;
  background-color: $brand-primary;
  border-radius: 20px;
  padding: .25em 1em;
}
