.c-mls-toolbar {
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: flex;
}

.c-mls-toolbar__btn,
.c-mls-toolbar__search-box {
  display: inline-flex;
  align-items: center;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12), 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.c-mls-toolbar__search-box__divider {
  width: 1px;
  height: 32px;
  margin: 0 1rem;
  background-color: $gray;
}

.c-mls-toolbar__search-box__field {
  position: relative;
  width: 340px;
}

.c-mls-toolbar__search-box__field__input {
  width: 100%;
  height: 48px;
  padding: 0.5em 72px 0.5em 0.5em;
  border-width: 0;
  border-radius: 3px;
  background-color: #fff;
  
  &:disabled {
    color: #ccc;
    cursor: not-allowed;
  }
  
  // remove clear icon on IE and Edge browser
  &::-ms-clear {
    display: none;
  }
}

.c-mls-toolbar__search-box__field-buttons {
  position: absolute;
  top: 8px;
  right: 0;
  height: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.c-mls-toolbar__search-box__field__clear-btn,
.c-mls-toolbar__search-box__field__submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  padding: 0;
  height: 100%;
  border-width: 0;
  background-color: transparent;
  &:hover,
  &:focus {
    background-color: #f2f2f2;
    > svg {
      fill: $gray-base;
    }
  }

  &:disabled {
    background-color: transparent;
    cursor: not-allowed;
    > svg {
      fill: $gray;
    }
  }
}

.c-mls-toolbar__search-box__field__submit-btn {
  margin-left: 0.5rem;
}

.c-mls-toolbar__search-box__filter-btn {
  position: relative;
  height: 100%;
  padding: 8px 30px 8px 0;
  font-weight: Bold;
  border-width: 0;
  outline: none;
  letter-spacing: 0.5px;
  background-color: transparent;
  &:hover {
    color: $brand-primary;
    > svg {
      fill: $brand-primary;
    }
  }
  &.is-open {
    color: $brand-primary;
    > svg {
      fill: $brand-primary;
      transform: rotate(180deg);
    }
  }
  &:disabled {
    color: $gray;
    cursor: not-allowed;
    > svg {
      fill: $gray;
    }
  }
  > svg {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 14px;
    transform: rotate(0);
    transition: transform 0.3s;
  }
}

.c-mls-toolbar__btn,
.c-mls-toolbar__search-box__filter-btn,
.c-mls-toolbar__search-box__field__input,
.c-mls-toolbar__search-box__field__clear-btn,
.c-mls-toolbar__search-box__field__submit-btn {
  &:focus {
    outline-width: 0;
  }
}

.c-mls-toolbar__btn {
  position: relative;
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: #fff;

  &hover > svg {
    fill: $brand-primary;
  }

  &.c-mls-toolbar__btn--disabled {
    cursor: not-allowed;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      border-radius: inherit;
      background: rgba(0, 0, 0, 0.1);
    }
  }
  &.c-mls-toolbar__btn--drawing {
    margin-left: 1rem;
  }
  &.c-mls-toolbar__btn--location {
    margin-right: 1rem;
  }
}

.c-mls-toolbar__status-bar {
  position: absolute;
  top: 58px;
  left: 0;
  width: 100%;
  padding: 0.5em;
  color: #fff;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.45);
  transition: background-color 0.23s linear;
  &:hover {
    background-color: rgba(0, 0, 0, 0.55);
  }
}

.c-mls-toolbar__status-bar--empty {
  height: 39px;
}

// google place search autocomplete styles
[data-page='mls'] .pac-container {
  top: 143px !important;
}