.c-notLoggedIn-message {
  position: absolute;
  bottom: 2.5rem;
  left: 2rem;
  margin-bottom: 0;
  padding: .5rem 1rem;
  color: #fff;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.45);
  transition: background-color 0.23s linear;
  &:hover {
    background-color: rgba(0, 0, 0, 0.55);
  }
  > a {
    color: inherit;
    text-decoration: underline;
  }
}
