.c-tableview__table {
  padding: 0;
  margin: 0;
  width: 100%;
  thead {
    tr {
      cursor: initial;
      border-bottom-color: #eee;
      &:hover {
        background-color: transparent;
      }
    }
  }
  tr {
    cursor: pointer;
    border-bottom: 1px solid #f5fafe;
    &:hover {
      background-color: #fafafa;
    }
  }
  td,
  th {
    padding-bottom: 1rem;
    text-align: left;
  }
  td {
    padding-top: 1rem;
  }
}

.c-tableview__address-cell.c-tableview__address-cell {
  width: 30%;
  max-width: 260px;
  padding: 1rem;
}

.c-tableview__address-cell__body {
  width: calc(100% - 60px);
}

.c-tableview__address-cell__img,
.c-tableview__address-cell__body,
.c-tableview__listing-status__text,
.c-tableview__listing-status__icon {
  display: inline-block;
  vertical-align: middle;
}

.c-tableview__address-cell__img {
  position: relative;
  width: 40px;
  height: 40px;
  margin-right: 1rem;
  border-radius: 3px;
  background-color: #6d6d6d;
  > img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }
}

.c-tableview__listing-address {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.c-tableview__listing-status__icon {
  width: 10px;
  height: 10px;
  margin-right: 0.5rem;
  border-radius: 50%;
}
