.c-listings__tabs {
  margin: 0;
  padding: 0;
}

.c-listings__tabs__item {
  display: inline-flex;
  align-items: center;
}

.c-listings__tabs__link {
  &:hover,
  &:focus,
  &--active, {
    text-decoration: none;

    > .c-listings__tabs__link__text {
      color: $brand-primary;
      border-bottom: 3px solid $brand-primary;
    }
  }
}

.c-listings__tabs__link__text {
  display: flex;
  align-items: center;
  height: $header-height - 2px;
  padding: 0 1rem;
  font-size: 18px;
  color: #000;
  
  .c-listings__tabs__link--active > & {
    color: #000;
    font-weight: 600;
  }
}