.c-zoom-controller {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}

.c-zoom-controller__button {
    color: #000;
    >.fa {
        color: inherit;
    }
    &:focus,
    &:hover {
        color: $brand-primary;
        border-color: $gray;
        background-color: #fff;
        >.fa {
            color: inherit;
        }
    }
    &:focus {
        outline: none;
    }
}