// Sidebar

$item-height: 3.4rem;

.c-app-navbar {
  width: 7rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: hidden;
  background-color: #263445;

  &:hover {
    width: 16rem;

    .c-app-navbar__item {
      &.is-active .c-app-navbar__item__title {
        color: inherit;
      }
    }

    .c-app-navbar__item__title {
      opacity: 1;
      transition: opacity 0.3s 0.1s;
    }
  }
}

.c-app-navbar__list {
  margin: 0;
  padding: 0;
}

.c-app-navbar__list--top {
  padding-top: 1rem;
}

.c-app-navbar__list--bottom {
  width: 100%;
  position: absolute;
  bottom: 1rem;
}

.c-app-navbar__item {
  position: relative;
  height: $item-height;
  margin-bottom: 1rem;
  padding-left: 2rem;
  cursor: pointer;

  > a {
    line-height: $item-height;
    display: block;
    width: 100%;
  }

  .c-app-navbar__support-btn {
    line-height: $item-height;
  }

  svg {
    display: inline-block;
    vertical-align: middle;
  }

  &:hover {
    background-color: rgba(#62778c, 0.4);
  }
}

.c-app-navbar__item__title {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  padding-left: 5.5rem;
  color: #8da2b5;
  line-height: $item-height;
  font-size: 1.5rem;
  will-change: opacity;

  .c-app-navbar__item:hover & {
    color: #fff;
  }
}

.c-app-navbar__item__inbox {
  height: 100%;
}

.c-app-navbar__item__inbox__icon {
  position: relative;
  display: inline-block;

  .c-app-navbar__item__inbox & {
    margin-top: 0.5rem;
  }
}

.c-app-navbar__notification-badge {
  $size: 16px;
  position: absolute;
  left: 1.25rem;
  top: -0.5rem;
  width: $size;
  height: $size;
  text-align: center !important;
  font-size: 10px;
  line-height: $size;
  border-radius: 100px;
  color: #fff;
  background-color: red;
}

.c-app-navbar__support-btn {
  padding: 0;
  border: none;
  background: transparent;

  &:focus {
    outline: none;
  }
}

.c-app-navbar__account-dropdown {
  width: 90%;
  height: 30px;
  padding-left: 2rem;

  > button.dropdown-toggle {
    width: 30px;
    height: 100%;
    float: none;
    padding: 0;
    margin-left: -0.5rem !important;
    border: none;
    background: transparent;

    .open &:focus {
      background: transparent;
    }
  }

  .c-app-navbar__item__title {
    padding-left: 4rem;
  }

  &.open > button.dropdown-toggle {
    background: transparent;

    &:focus,
    &:active {
      background: transparent;
    }
  }

  .dropdown-menu {
    left: 1rem;
    min-width: 140px;
  }
}
