// SideNav

$item-height: 3.4rem;

.c-app-sidenav {
  width: $app-sidenav-width;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  // overflow: hidden;
  background-color: #263445;
}

.c-app-sidenav__list {
  margin: 0;
  padding: 0;
}

.c-app-sidenav__list--top {
  padding-top: 1rem;
}

.c-app-sidenav__list--bottom {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 1rem;
}

.c-app-sidenav__item {
  position: relative;
  height: $item-height;
  padding-left: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in;

  &:not(.is-active):hover {
    background-color: rgba(#62778c, 0.4);
  }
}

.c-app-sidenav__item__active-sign {
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  opacity: 0;
  will-change: opacity;

  .c-app-sidenav__item.is-active > & {
    opacity: 1;
  }
}

.c-app-sidenav__item__title,
.c-app-sidenav__item__title--button {
  width: 100%;
  display: block;
  padding: 0;
  color: #8da2b5;
  line-height: $item-height;
  font-size: 1.5rem;

  &:hover,
  &:active,
  .c-app-sidenav__item.is-active & {
    color: lighten(#8da2b5, 30%);
    text-decoration: none;
  }

  .c-app-sidenav__item.is-active & {
    color: #fff;
    font-weight: bold;
  }
}

.c-app-sidenav__item__title--button {
  border: none;
  text-align: left;
  background: transparent;

  &:focus {
    outline-width: 0;
  }
}

.c-app-sidenav__item__inbox {
  height: 100%;
}

.c-app-sidenav__notification-badge {
  $size: 20px;
  position: absolute;
  top: 0.7rem;
  right: 1rem;
  width: $size;
  height: $size;
  text-align: center !important;
  font-size: 12px;
  line-height: $size;
  border-radius: 100%;
  color: #fff;
  background-color: red;
}

.c-app-sidenav__account-dropdown {
  width: 90%;
  padding-left: 1rem;
  margin-top: 1rem;

  > .c-app-sidenav__item__title--button {
    &:hover,
    &:focus,
    &:active,
    .open &:focus {
      color: #fff !important;
      background: transparent !important;
    }

    > .caret {
      display: none;
    }
  }

  .dropdown-menu {
    left: 1rem;
    padding: 0;
    margin: 0;
    width: 250px;
    border: none;
    border-radius: 5px;

    > li.divider {
      margin: 0;
    }

    > li.separator {
      &:first-child {
        border-radius: 5px 5px 0 0;
      }

      padding-left: 16px;
      height: 30px;
      line-height: 30px;
      vertical-align: middle;
      background-color: #f0f4f7;
      box-shadow: 0 1px 0 0 #e9e9e9;
      font-size: 14px;
      color: #62778c;
    }

    > li > a {
      font-size: 17px;
      color: #1e364b;
      padding: 0 0 0 16px;
      margin: 0;
      height: 40px;
      line-height: 40px;
      vertical-align: middle;
    }

    > li.brand-account > a {
      display: flex;
      flex-direction: row;

      .user-avatar {
        margin-right: 8px;
        width: 40px;
      }

      .brand-title {
        width: 180px;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #67717c;
        &.active {
          color: #263445;
        }
      }

      .icon {
        width: 20px;
        margin: 0 4px 0 16px;
      }
    }
  }

  &.open > .c-app-sidenav__item__title--button {
    color: #fff;
    border: none;
    background: transparent;
  }
}
