// SideNav

$item-height: 3.4rem;

.c-app-sidenav {
  width: $app-sidenav-width;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: hidden;
  background-color: #263445;
}

.c-app-sidenav__list {
  margin: 0;
  padding: 0;
}

.c-app-sidenav__list--top {
  padding-top: 1rem;
}

.c-app-sidenav__list--bottom {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 1rem;
}

.c-app-sidenav__item {
  position: relative;
  height: $item-height;
  padding-left: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in;

  &:not(.is-active):hover {
    background-color: rgba(#62778c, 0.4);
  }
}

.c-app-sidenav__item__active-sign {
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  opacity: 0;
  will-change: opacity;

  .c-app-sidenav__item.is-active > & {
    opacity: 1;
  }
}

.c-app-sidenav__item__title,
.c-app-sidenav__item__title--button {
  width: 100%;
  display: block;
  padding: 0;
  color: #8da2b5;
  line-height: $item-height;
  font-size: 1.5rem;

  &:hover,
  &:active,
  .c-app-sidenav__item.is-active & {
    color: lighten(#8da2b5, 30%);
    text-decoration: none;
  }

  .c-app-sidenav__item.is-active & {
    color: #fff;
    font-weight: bold;
  }
}

.c-app-sidenav__item__title--button {
  border: none;
  text-align: left;
  background: transparent;

  &:focus {
    outline-width: 0;
  }
}

.c-app-sidenav__item__inbox {
  height: 100%;
}

.c-app-sidenav__notification-badge {
  $size: 20px;
  position: absolute;
  top: 0.7rem;
  right: 1rem;
  width: $size;
  height: $size;
  text-align: center !important;
  font-size: 12px;
  line-height: $size;
  border-radius: 100%;
  color: #fff;
  background-color: red;
}

.c-app-sidenav__account-dropdown {
  width: 90%;
  padding-left: 1rem;
  margin-top: 1rem;

  > .c-app-sidenav__item__title--button {
    &:hover,
    &:focus,
    &:active,
    .open &:focus {
      color: #fff !important;
      background: transparent !important;
    }

    > .caret {
      display: none;
    }
  }

  .dropdown-menu {
    left: 1rem;
    min-width: $app-sidenav-width - 2rem;
    text-align: center;

    > li > a {
      padding-left: 1rem;
      padding-left: 1rem;
    }
  }

  &.open > .c-app-sidenav__item__title--button {
    color: #fff;
    border: none;
    background: transparent;
  }
}
