@function stripUnits($number) {
  @return $number / ($number * 0 + 1);
}

$cluster-marker-width: 40px !default;
$cluster-marker-height: 40px !default;
$cluster-marker-border-width: 5px !default;
$cluster-marker-font-size: 14px !default;


$simple-marker-width: 48px;
$simple-marker-height: 24px;


// .c-cluster-map {
//     display: flex;
//     min-height: 100vh;
//     margin-left: 10px;
//     flex-direction: column;

//     .banner {
//         padding: .5rem  1rem;
//         background-color: #fff;
//     }

//     .main {
//         flex: 1;
//         display: flex;
//     }
// }

// .simple-marker {
//     position: absolute;
//     cursor: pointer;
//     top: -$simple-marker-height / 2;
//     left: -$simple-marker-width / 2;
//     text-align: center;
//     font-size: 2rem;
//     margin: 0;
//     padding: .5rem 1rem;
//     color: #fff;
//     background-color: #35b863;
//     letter-spacing: 1px;

//     &:before {
//         content: '';
//         position: absolute;
//         bottom: -9px;
//         left: 50%;
//         transform: translateX(-50%) rotate(45deg);
//         border-width: 10px;
//         border-style: solid;
//         border-color: transparent #35b863 #35b863 transparent;
//     }
// }

.cluster-marker {
    position: absolute;
    cursor: pointer;
    width: $cluster-marker-width;
    height: $cluster-marker-height;
    left: -$cluster-marker-width / 2;
    top: -$cluster-marker-height / 2;
    border: $cluster-marker-border-width solid #004336;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    color: #333;
    font-size: $cluster-marker-font-size;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}