.c-file-preview-modal {
  @extend .c-concierge-modal;
   
  .modal-dialog {
    height: 100%;
    width: 100%;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: 0;
    transform: none !important;
  }

  .modal-content {
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: #eee;
  }

  .modal-header {
    height: 70px;
    position: relative;
    padding: 2.5rem 2rem;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }

  .modal-title {
    margin-top: 4px;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    color: #000000;

    @media screen and (min-width: 768px) {
      margin-top: 0;
      font-size: 21px;
    }
  }

  .modal-body {
    text-align: center;
    padding: 5rem;
  } // .modal-body

}

.c-file-preview-modal__close-btn {
  position: absolute;
  top: 2.5rem;
  right: 2rem;
  padding: 0;
  border-width: 0;
  background-color: transparent;

  > * {
    display: inline-block;
    vertical-align: middle
  }

  > span {
    margin-left: .5rem;
    margin-bottom: 2px;
    font-size: 21px;
    line-height: 24px;
    color: #2196f3;
  }
} // .c-request-review-modal__close-btn


.c-file-preview-modal__image {
  max-width: 100%;
} // c-preview-modal__image