.intercom__close-btn {
  width: 5rem;
  height: 5rem;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: 3860017101;
  padding: 0;
  text-align: center;
  cursor: pointer;
  border-radius: 100%;
  border-width: 0;
  background: #2196f3;
  box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.15);

  > svg {
    display: inline-block;
    vertical-align: middle;
  }
}
