.c-request-review-modal {
  @extend .c-concierge-modal;
   
  .modal-dialog {
    border-radius: 6px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
    min-width: 90%;
    margin: 0;

    @media screen and (min-width: 680px) {
      min-width: 600px;
    }
  }

  .modal-content {
    padding: 0;
  }

  .modal-header {
    position: relative;
    padding: 2.5rem 2rem;
    background-color: #eee; 
  }

  .modal-title {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 1;
    color: #4a4a4a;
  }

  .modal-body {
    padding: 0;
  } // .modal-body

}

.c-request-review-modal__close-btn {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 2.5rem;
  right: 2rem;
  padding: 0;
  border-width: 0;
  background-color: transparent;
} // .c-request-review-modal__close-btn

%detail {
  height: 60px;
  margin: 0;
  padding: 18px 0 0 60px;
}

.c-request-review-modal__list {
  position: relative;
  max-height: 420px;
  overflow-y: scroll;

  &.is-inactive {
    overflow: hidden;
      &:after {
        content: '';
        position: fixed;
        top: 0; right: 0; bottom: 0; left: 0;
        opacity: .4;
        background-color: #fff;
      }
  }
}

.c-request-review__item {
  position: relative;
}

.c-request-review__item__detail {
  @extend %detail;

  &:after {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    content: '';
    opacity: 0.6;
    background-color: #ffffff;
  }

  .c-request-review__item__title {
    margin-top: -1rem;
    margin-bottom: 1rem;
  }

  .review-state--submit-request {
    margin-left: 3.5rem;
    opacity: 1;
  }

  .c-request-review__item__link {
    z-index: 2;
  } // .c-request-review__item__link
}

.c-request-review__item__label {
  @extend %detail;
  width: 100%;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: rgba(33, 150, 243, 0.05);
  }

  &:before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    left: 20px;
    display: inline-block;
    border-radius: 50%;
    border: solid 1px #e9e9e9;
  } // &:before

  &.is-selected:before {
    border-width: 0;
    background: transparent url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGNpcmNsZSBjeD0iMTAiIGN5PSIxMCIgcj0iMTAiIGZpbGw9IiMyMTk2RjMiLz4KICAgICAgICA8cGF0aCBzdHJva2U9IiNGRkYiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIiBkPSJNMTQuNTcxIDdsLTYuNDI4IDZMNiAxMC44NTciLz4KICAgIDwvZz4KPC9zdmc+Cg==') center center no-repeat
  } // &:before
} // .c-request-review__item__label

.c-request-review__item__checkbox {
  width: 0;
  height: 0;
  visibility: hidden;
  margin: 0 !important;
  font-size: 0 !important;
} // .c-request-review__item__checkbox


.c-request-review__item__icon {
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
} // .c-request-review__item__icon


.c-request-review__item__title {
  display: inline-block;
  vertical-align: middle;
  font-weight: 600;
} // .c-request-review__item__title


.c-request-review__item__btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  border-width: 0;
  background-color: transparent;

  > svg {
     opacity: .4;
  }

  &:hover {
    > svg {
      opacity: 1;
    }
  }
} // .c-request-review__item__btn



.c-request-review-modal__footer {
  position: relative;
  height: 60px;
  padding: 12.5px 20px;
  box-shadow: 0 -1px 0 0 rgba(226, 230, 234, 0.5), 0 -1px 4px 0 rgba(0, 0, 0, 0.12);
  text-align: right;
} // .c-request-review-modal__footer


.c-request-review-modal__footer__caption {
  display: inline-block;
  vertical-align: middle;
  margin-right: 2rem;
  color: #9b9b9b;
} // .c-request-review-modal__footer__caption


.c-request-review-modal__submit-btn.is-inactive {
  opacity: 0.5;
  background-color: #2196f3;
  cursor: initial;
  pointer-events: none;
} // .c-request-review-modal__submit-btn