
.c-animated-background-placeholder {
  height: 36px;
  position: relative;
  margin-bottom: 1rem;
  margin-left: 0;
  border-radius: 2px;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: placeHolderShimmer;
  background: #f6f7f8;
  background: linear-gradient(to right, #eee 8%, #ddd 16%, #eee 32%);
  background-size: 100% 46px;
}

@keyframes placeHolderShimmer {
  0%{ background-position: -600px 0; }
  100%{ background-position: 600px 0; }
}

.u-fade {
  opacity: 0;
  transition: opacity .25s ease-in-out;
}

.u-fade-out {
  opacity: 1
}