// Global
html,
body,
#app {
  height: 100%;
}

.intercom-launcher-frame,
.intercom-launcher-badge-frame,
.intercom-launcher-discovery-frame {
  display: none !important;
}

.touch-scroll {
  -webkit-overflow-scrolling: touch;
}

[data-simplebar] {
  z-index: inherit !important;
}