// google.scss
.pac-logo:after {
  display: none;
}
.hdpi.pac-logo:after {
  display: none;
}
.pac-logo:before {
  content: "Places";
  height: 36px;
  text-align: left;
  display: block;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 120px 14px;
  margin-right: 10px;
  padding: 10px 0 0 10px;
  color: rgb(134, 150, 164)
}
.hdpi.pac-logo:before {
  background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white3_hdpi.png);
}