.modal-backdrop {
  z-index: 998;
  background-color: #ccc;
}
.modal-dialog {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}
.modal-800 {
  width: 800px;
}
.modal-90p {
  width: 90%;
  height: 90%;
  .modal-content {
    height: 90%;
  }
  top: 0 !important;
  left: 0 !important;
  position: relative !important;
  transform: none !important;
}
.modal-mobile {
  width: auto;
  top: auto;
  left: auto;
  transform: none !important;
  position: relative;
}
.modal-share-type {
  width: 400px;
  height: 200px;
}
.modal-alert-saved {
  .modal-content {
    box-shadow: none;
    border: none;
    background: none;
  }
}
