// React Select
.create-item__user-select {
  .Select-value {
    height: 28px;
    overflow: hidden;
    background-color: #003bdf !important;
    border: none;
  }
  .Select-value-icon {
    height: 28px;
    padding: 3px 5px 3px !important;
    right: 0;
    background-color: #003bdf !important;
    color: #fff !important;
    font-size: 21px;
    top: -5px;
    font-weight: 100;
  }
  .Select-value-label {
    height: 28px;
    padding: 0 !important;
    background-color: #003bdf !important;
    color: #fff !important;
    margin-left: 0 !important;
    margin-right: 20px;
    border-radius: 3px;
  }
}
