// Sidebar
.sidebar{
  &__nav-list{
    a{
      color: $gray-light;
      &:hover{
        color: $gray-light;
      }
      font-weight: 400;
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }
    .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
      background-color: #263445 !important;
    }
    .nav > li > a:hover, .nav > li > a:focus {
      background-color: #263445 !important;
    }
    #account-dropdown {
      background: none !important;
    }
  }
}
.sidenav__popover {
  margin-left: 5px !important;
  background-color: #465a71;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  border-color: #465a71;
  .arrow:after{
    border-right-color: #465a71 !important;
  }
}
#popover-notifications {
  margin-left: 17px !important;
  margin-top: -5px;
}
#popover-support {
  margin-left: 17px !important;
  margin-top: -5px;
}