// Sidebar

.c-app-navbar {
  width: 7rem;
  height: 100vh;
  position: relative;
  float: left;
  background-color: #263445;
}

.c-app-navbar__list {
  margin: 0;
  padding: 0;
  text-align: center;
}

.c-app-navbar__list--top {
  padding-top: 2rem;
}

.c-app-navbar__list--bottom {
  width: 100%;
  position: absolute;
  bottom: 1rem;
}

.c-app-navbar__item {
  height: 2.4rem;
  margin-bottom: 2rem;
}

.c-app-navbar__support-btn {
  padding: 0;
  border: none;
  background: transparent;

  &:focus {
    outline: none;
  }
}

.c-app-navbar__account-dropdown {
  width: 100%;
  height: 48px;
  text-align: center;

  > button.dropdown-toggle {
    width: 48px;
    height: 100%;
    float: none;
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;

    .open &:focus {
      background: transparent;
    }
  }

  &.open > button.dropdown-toggle {
    background: transparent;

    &:focus,
    &:active {
      background: transparent;
    }
  }

  .dropdown-menu {
    left: 1rem;
  }
}
