$panel-width: 380px;
$header-height: 54px;

.l-listings__header {
  height: $header-height + 1px;
  border-bottom: 1px solid #ececec;
}

.l-listings__map {
  position: relative;
  @media screen and (min-width: 1024px) {
    width: calc(100% - #{$panel-width});
    float: left;
  }
  @media screen and (min-width: 1920px) {
    width: calc(100% - #{$panel-width * 2.4});
  }
  .l-listings__main--alert & {
    float: right;
    @media screen and (min-width: 1920px) {
      width: calc(100% - #{$panel-width});
    }
  }
}

.l-listings__panel {
  display: none;
  @media screen and (min-width: 1024px) {
    position: relative;
    width: $panel-width;
    display: block;
    float: left;
    border-left: 1px solid #ccc;
  }
  @media screen and (min-width: 1920px) {
    width: $panel-width * 2.4;
  }
}

.l-listings__panel__container {
  position: fixed;
  right: 0;
  bottom: 0;
  top: $header-height + 1px;
  width: $panel-width;
  height: calc(100vh - #{$header-height} - 1px);
  overflow: hidden;
  padding: 2rem;
  background-color: #fff;
  border-left: 1px solid #ccc;
  transition: width 0.3s ease-in-out;
  @media screen and (min-width: 1920px) {
    width: $panel-width * 2.4;
  }
  .is-widget & {
    top: 0;
    height: 100vh;
  }
  .c-listings-panel--table & {
    @media screen and (min-width: 1024px) and (max-width: 1920px) {
      border-width: 0;
      width: 100%;
    }
  }
  .l-listings--logged .c-listings-panel--table & {
    @media screen and (min-width: 1024px) and (max-width: 1920px) {
      width: calc(100% - #{$app-sidenav-width});
    }
  }
  .c-listings-panel--grid & {
    width: 100%;
    border-width: 0;
    @media screen and (min-width: 1920px) {
      width: 100%;
    }
  }
  .l-listings--logged .c-listings-panel--grid & {
    width: calc(100% - #{$app-sidenav-width});
    @media screen and (min-width: 1920px) {
      width: calc(100% - #{$app-sidenav-width});
    }
  }
  .l-listings__main--alert & {
    width: 100%;
    display: none;
    border-left-width: 0;
    @media screen and (min-width: 1024px) {
      display: block;
      width: calc(100% - #{$app-sidenav-width} - #{$panel-width});
    }
  }
  .l-listings__main--alert .c-listings-panel--grid & {
    width: calc(100% - #{$app-sidenav-width} - #{$panel-width});
    @media screen and (min-width: 1920px) {
      width: calc(100% - #{$app-sidenav-width} - #{$panel-width});
    }
  }
  .l-listings__main--alert .c-listings-panel--table & {
    border-width: 0;
    @media screen and (min-width: 1024px) and (max-width: 1920px) {
      width: calc(100% - #{$app-sidenav-width} - #{$panel-width});
    }
  }
}

.l-listings__alert-list {
  position: relative;
  height: calc(100vh - #{$header-height + 2});
  width: $panel-width;
  float: left;
  overflow-y: auto;
  border-right: 1px solid #ececec;
  will-change: transform;
}
