.template-thumb {
  .template-thumb__buttons {
    z-index: 3;
  }
  .template-thumb__overlay {
    transition: 100ms;
    opacity: 0;
    background: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
  }
  .template-thumb__image {
    z-index: 1;
  }
  .template-thumb__buttons {
    button {
      outline: none !important;
    }
    transition: 100ms;
    opacity: 0;
    .preview {
      background: transparent !important;
    }
  }
  &:hover {
    .template-thumb__overlay {
      opacity: .5;
    }
    .template-thumb__buttons {
      opacity: 1;
    }
  }
}