.deal-listing-card {
  padding: 10px 0;
  display: flex;
  flex-direction: row;

  .listing-photo {
    position: relative;
    width: 50px;
    height: 50px;
    &.hasListing {
      cursor: pointer;
    }

    img {
      width: 50px;
      height: 50px;
      border-radius: 4px;
      background-color: rgba(0, 0, 0, 0.2);
    }

    .view-btn {
      position: absolute;
      bottom: 2px;
      left: 2px;
      right: 2px;
      height: 16px;
      display: none;
      border-radius: 2px;
      background-color: #003bdf;
      font-size: 12px;
      text-align: center;
      color: #fff;
      &:hover {
        opacity: 0.9;
      }
    }

    &.hasListing {
      &:hover .view-btn {
        display: block;
      }
    }
  }

  .address-info {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: calc(100% - 60px);
    padding-left: 10px;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.47;
    color: #1d364b;
    display: flex;

    .title {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

.listing-photo.c-button--shadow {
  cursor: default;
  margin: 0;
}

.deal-listing-card__address {
  position: relative;
  margin: 0;
  text-align: left;
  color: #263445;
  font-weight: normal;
  &:hover {
    color: #8da2b5;
  }

  &.is-editable {
    width: 100%;
    cursor: pointer;
    display: block;
    color: #263445;
    border: 1px dashed #fff;
    padding: 0 1.5rem 0 0.5rem;
    display: flex;
    justify-content: space-between;
    .deal-listing-card__address__text{
      word-wrap:break-word; 
      display:inline-block;
      width: 100%;
    }
    &:after {
      content: 'EDIT';
      font-size: 1em;
      font-weight: normal;
      color: #003bdf;
      align-self: flex-end;
      visibility: hidden;
    }
    &:hover {
      border: 1px dashed #003bdf;

      &:after {
        visibility: visible;
      }
    }
  }
}

.deal-listing-card__open-link-icon:hover {
  fill: #263445;
}

