.deal-mls {
  .loading {
    text-align: center;
    margin: 15px 0;
    i {
      color: #003bdf;
      font-size: 20px;
    }
  }

  .mls-info {
    @extend %deal-mls-info;
  }
}

%deal-mls-info {

  .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    height: 2em;
    line-height: 2em;
    margin-top: 0.5em;

    &:hover {
      padding: 0 5px;
      border: 1px dashed #003bdf;
    }

    &.disabled:hover {
      padding: 0;
      border: none;
    }

    .lbl {
      width: 20%;
    }

    .value {
      width: 80%;
      text-align: right;
      &.mls-number,
      &.mls-status {
        transition: 0.1s all ease-in;

       

        &:hover .deals-info__close-icon,
        &:hover .deals-info__edit-cta,
        &:hover .deals-info__mls-status__edit-cta {
          display: inline-block !important;
        }
      }
    }

    .status {
      display: inline-block;
      width: 18px;
      height: 10px;
      border-radius: 2px;
      margin-right: 5px;
    }
  }
}