<a data-type="video-link" href="{{url}}" target="_blank" style="background: #262626 url('{{image}}') no-repeat center center / cover; padding: 200px 0px; display: flex; align-items: center; justify-content: center;">
  <img data-type="video-thumbnail" width="128px" height="128px" padding="0" src="https://i.ibb.co/mbM3Sxn/play.png"/>
</a>