.c-panels-switch {
    display: none;
    @media screen and (min-width: 64em) {
        position: absolute;
        top: -52px;
        right: 0.5rem;
        width: 125px;
        display: block;
    }
}

.c-panels-switch__btn {
    height: 36px;
    float: right;
    padding: 0 0.5em;
    border-radius: 5px;
    border-color: #000;
    background-color: #fff;

    &:focus,
    &:hover,
    &.btn-default[disabled]:focus,
    &.btn-default[disabled]:hover {
      outline-width: 0;
      border-color: $brand-primary;
      background-color: $gray-light;
    }

    > svg {
        display: inline-block;
        vertical-align: middle;
    }
}