.c-panel__header {
  position: relative;
}

.c-panel__header__title {
  font-size: 1.2rem;
  line-height: 40px;
  color: $gray-darker;

  strong {
    color: #000;
    font-size: 1.6rem;
  }
}

.c-panel__header__sorting {
  width: 100%;
  position: relative;
  display: inline-flex;
  align-items: center;
}

.c-panel__header__sorting__title {
  margin-right: 0.5rem;
}
