.c-panel__list-container {
  position: absolute;
  top: 110px;
  bottom: 0;
  left: 1em;
  right: 0;
  padding-right: 1em;
  overflow-y: scroll;
  overflow-x: hidden;
  will-change: transform;
  .c-listings-panel--table & {
    top: 140px;
  }
  .l-listings__main--alert & {
    top: 2em;
  }
  .l-listings__main--alert .c-listings-panel--table & {
    top: 68px;
  }
}
