.c-panels-switch {
    display: none;
    @media screen and (min-width: 64em) {
        position: absolute;
        top: -4.5rem;
        right: 2rem;
        width: 12.5rem;
        display: block;
    }
}

.c-panels-switch__btn {
    height: 36px;
    float: right;
    padding: 0 10px;
    border-radius: 5px;
    border-color: #d7d6d6;
    background-color: #f8fafb;
    &:hover,
    &:focus {
        outline-width: 0;
        border-color: #d7d6d6;
        background-color: darken(#f8fafb, 3%);
    }
    >svg {
        display: inline-block;
        vertical-align: middle;
    }
}