.deals-icon {
  text-align: center;
  cursor: pointer;
  .count {
    $size: 17px;
    position: absolute;
    right: 10px;
    top: -5px;
    background-color: red;
    min-width: $size;
    min-height: $size;
    line-height: $size;
    vertical-align: middle;
    color: #fff;
    border-radius: 100px;
    font-size: 10px;
    transition: 0.2s all ease-in;
  }
}
