$margin: 20px;
%deal-create {
  display: inline-block;

  .create-deal {
    @extend %create-deal;
  }

  .create-deal-list {
    @extend %create-deal-list;
  }
}

%listings {
  margin-top: $margin;
  .address {
    color: #2196f3;
    margin-left: 10px;
    font-size: 15px;
  }

  .list {
    max-height: 50vh;
    overflow: auto;
    overflow-x: hidden;
    background-color: #fff;

    .empty-state {
      text-align: center;
      box-shadow: none;
      font-size: 17px;
      color: #8da2b5;
      padding-top: 15%;
      img {
        display: block;
        margin: 0 auto 11px auto;
      }
    }

    .title {
      color: #8696a4;
      font-size: 17px;
      letter-spacing: -0.4px;
      margin-bottom: 15px;
      display: inline-block;
    }

    .loader {
      margin-left: 20px;
    }

    .create-manually {
      margin: 0px 0 10px 0;
      padding-right: 24px;
      font-size: 17px;
      text-align: right;
      color: #2196f3;
      span {
        cursor: pointer;
        &:hover {
          opacity: 0.7;
        }
      }
    }

    .item {
      color: #5b6469;
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 5px;
      padding: 0 24px;
      height: 30px;
      line-height: 30px;
      vertical-align: middle;
      border-radius: 2px;

      .select {
        float: right;
        font-size: 15px;
        font-weight: 500;
        color: #2196f3;
        display: none;
      }

      &.listing {
        height: 62px;
        padding: 5px $margin;

        .listing-image {
          min-width: 50px;
          max-width: 50px;
          min-height: 50px;
          max-height: 50px;
          border-radius: 2px;
        }

        .address-col {
          padding-left: 30px;
          .addr {
            color: #a0a0a0;
            display: block;
            font-weight: normal;
            margin-top: -9px;
          }
        }

        .status {
          float: right;
          display: block;
          background-color: #35b863;
          margin-top: 13px;
          color: #fff;
          padding: 0 4px;
          font-size: 12px;
          text-align: center;
          min-width: 60px;
          height: 26px;
          line-height: 26px;
          vertical-align: middle;
          border-radius: 3px;
        }
      }

      &:hover {
        background: #eff5fa;
        cursor: pointer;
      }

      &:hover .select {
        display: inline-block;
      }
    }
  }
}

%create-deal-list {
  padding: 0;
  width: 260px;

  li {
    color: #5b6469;
    font-size: 15px;
    background-color: #ffffff;
    box-shadow: 0 1px 0 0 #eaeaea, 0 -1px 0 0 #e9e9e9;

    a {
      padding: 0 12px;
      height: 40px;
      line-height: 40px;
    }
  }

  li.title {
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    background-color: #eaedef;
    font-weight: 500;
    padding-left: 12px;
  }
}

%create-deal {
  background-color: #2196f3;
  color: #fff;
  margin-left: 7px;
  border: none;
  height: 30px;
  line-height: 16px;
  vertical-align: middle;
  &:hover {
    opacity: 0.7;
  }
}

.modal-deal-listing {
  .modal-body {
    padding: 0;
    margin: 0;
    .place-create {
      input {
        display: inline;
        border-radius: 0;
        width: 33.3333%;
      }

      input:first-child {
        border-left: none;
      }

      input:last-child {
        border-right: none;
      }

      .row_one {
        input {
          border-top: none;
          border-bottom: none;
        }
      }

      .street_address, .state {
        border-right: none;
        border-left: none;
      }
    }
  }
}

.modal-create-deal {
  .modal-header {
    @extend %deal-modal-header;
  }

  .modal-body {
    min-height: 470px;
    max-height: 470px;
    padding: 0;
    margin: 0;
    overflow: auto;

    .listings {
      @extend %listings;
    }

    .rx-input {
      display: inline-block;
      width: 448px;
      height: 44px;
      margin: $margin;
      margin-bottom: 0;
    }

    .btn-create {
      width: 90px;
      height: 44px;
      border-radius: 3px;
      background-color: #2196f3;
      border-color: #2196f3;
      margin-right: $margin;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

