$margin: 20px;

.create-offer-button {
  @extend %create-deal-button;
  display: block;
  clear: both;
}

.deal-create,
.deal-create-offer {
  @extend %deal-create;
}

%deal-create {
  background-color: #fff;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  overflow-y: scroll;

  .form {
    @extend %deal-create-form;
  }

  .actions {
    @extend %deal-create-actions;
  }
}

%deal-create-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 50px;
  background-color: #ffffff;

  .error-summary {
    color: #fe3824;
    font-weight: 500;
    font-size: 14px;
    margin: 0 16px;
  }
}

/**
*
*/
%deal-create-form {
  padding: 20px 2.5rem;
  $required-color: #fe3824;

  .swoosh {
    font-size: 14px;
    color: #8da2b5;
    margin-bottom: 21px;
  }

  .form-section {
    margin-bottom: 30px;
    .required {
      color: #fe3824;
    }
  }

  .hero {
    margin-bottom: 0.5em;
    font-size: 1.75rem;
    font-weight: 500;

    .required {
      color: $required-color;
      margin-right: 16px;
    }

    &.hasError {
      color: #fe3824;
    }
  }

  .hero-description {
    margin-bottom: 18px;
    font-size: 17px;
    .required {
      color: $required-color;
    }
  }

  .deal-radio-row {
    margin-bottom: 20px;
  }

  .deal-radio {
    margin-left: 16px;
    margin-right: 32px;
  }

  .entity-item {
    @extend %deal-create-entity-item;
  }

  .deal-side {
    .deal-radio {
      margin-right: 35px;
    }
  }

  .deal-type {
    .radio-button {
      line-height: 18px;
    }
  }

  .deal-people {
    .people-container {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      width: 600px;
    }
  }

  .deal-address {
    .entity-item {
      width: 200px;
      margin-bottom: 0 !important;
    }

    .address-info {
      img {
        width: 24px;
        height: 24px;
        border-radius: 4px;
        margin-right: 10px;
      }

      .name {
        font-size: 15px;
      }
    }

    .remove-address {
      cursor: pointer;
      color: #0945eb;
      margin-left: 20px;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .deal-status {
    .deal-radio {
      margin-right: 32px;
    }

    .radio-label {
      font-size: 14px;
    }
  }

  .contexts {
    .selected-field {
      height: 30px;
      line-height: 30px;
      vertical-align: middle;
      padding-left: 6px;
      .splitter {
        color: #d8d8d8;
        margin: 0 20px;
      }

      .date,
      .remove {
        color: #0945eb;
        font-size: 15px;
        cursor: pointer;
      }
    }
  }

  .office-agent {
    .deal-radio {
      margin-right: 35px;
    }
  }

  .buyer-name {
    input {
      width: 400px;
      height: 42px;
      border-radius: 4px;
      background-color: #fff;
      border: solid 1px #dce5eb;
      padding: 0 10px;
      font-size: 16px;

      &:focus {
        outline: none;
      }
    }
  }
}

/**
*
*/
%deal-create-entity-item {
  display: flex;
  min-width: 160px;
  min-height: 34px;
  border-radius: 3px;
  background-color: #f8fafb;
  border: solid 1px #dce5eb;
  align-items: center;
  padding: 0 5px;
  margin-right: 15px;
  margin-bottom: 2px;

  &.string {
    margin-bottom: 10px;
  }

  .user-avatar {
    flex: 2;
    &:hover {
      cursor: pointer;
    }
  }

  .name {
    flex: 7;
    padding-left: 3px;
    font-size: 13px;
    font-weight: 600;
    color: #1d364b;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .remove {
    flex: 1;
    i {
      color: gray;
    }

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }

  &.disabled {
    .name:hover,
    .user-avatar:hover {
      text-decoration: none;
      cursor: auto;
    }
  }

  .add-item {
    .add-icon {
      color: #0945eb;
      margin-right: 0.5rem;
      &.hasError {
        color: #ec4b35;
      }
    }
    .icon {
      cursor: pointer;
      display: inline-block;
      width: 20px !important;
      height: 20px !important;
      background-color: #0945eb;
      color: #fff;
      text-align: center;
      font-size: 25px;
      line-height: 16px;
      border-radius: 40px;
      margin-right: 0.5rem;
    }

    .text {
      cursor: pointer;
      &.hasError {
        color: #ec4b35;
        font-weight: 500;
      }
    }

    input {
      height: 35px;
      width: 200px;
      margin-top: 5px;
      padding: 0 5px;
      border-radius: 3px;
      border: solid 1px #d4d4d4;
      backdrop-filter: blur(10px);
      background-color: #f9f9f9;
      caret-color: #0945eb;
      ::-webkit-input-placeholder {
        font-size: 1rem;
        font-weight: 500;
        color: #7f7f7f;
        font-family: LatoRegular, sans-serif;
      }

      ::placeholder {
        font-size: 1rem;
        font-weight: 500;
        color: #7f7f7f;
        font-family: LatoRegular, sans-serif;
      }
      &:hover {
        background-color: #f2f2f2;
        &::placeholder {
          color: #000000;
        }
      }

      &:focus {
        outline: none;
        border-color: #0945eb;
        background-color: #ffffff;
      }

      &.invalid {
        border: 1px solid #f43b38;
      }
    }
    &.text-input {
      margin-left: 16px;
    }
  }

  &.new {
    background-color: #fff;
    border: none;
  }
  &.date {
    display: inline-block;
  }
}

/**
*
*/
%create-deal-button {
  background-color: #2196f3;
  color: #fff;
  border: none;
  height: 34px;
  line-height: 17px;
  vertical-align: middle;
  margin-left: 0;
  min-width: 150px;

  &:hover {
    opacity: 0.7;
  }

  &.disabled {
    background-color: #dce5eb;
    color: #8da2b5;
    &:hover {
      background-color: #dce5eb;
      color: #8da2b5;
    }
  }
}
