$margin: 20px;

.create-deal-button,
.create-offer-button {
  @extend %create-deal-button;
  display: block;
  clear: both;
}

.deal-create,
.deal-create-offer {
  @extend %deal-create;
}

%deal-create {
  background-color: #fff;
  min-height: 100vh;

  .nav {
    @extend %deal-create-nav;
  }

  .form {
    @extend %deal-create-form;
  }
}

/**
*
*/
%deal-create-nav {
  height: 55px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  padding: 0 20px;

  .title {
    width: 90%;
    font-size: 17px;
    font-weight: 500;
    color: #000000;
  }

  .cta {
    width: 10%;
    text-align: right;
    .deal-button.cancel {
      width: 34px;
      height: 34px;
    }
  }
}

/**
*
*/
%deal-create-form {
  padding: 20px 50px;
  $required-color: #d0021b;

  .swoosh {
    font-size: 14px;
    color: #8da2b5;
    margin-bottom: 21px;
  }

  .form-section {
    margin-bottom: 30px;
    sup {
      color: red;
    }
  }

  .hero {
    font-size: 30px;
    font-weight: 600;
    color: #263445;
    margin-bottom: 18px;

    &.no-margin-bottom {
      margin-bottom: 0;
    }

    .required {
      color: $required-color;
    }

    &.hasError {
      color: #ec4b35;
    }
  }

  .hero-description {
    margin-bottom: 18px;
    font-size: 17px;
    .required {
      color: $required-color;
    }
  }

  .deal-radio {
    margin-right: 32px;
  }

  .entity-item {
    @extend %deal-create-entity-item;
  }

  .deal-side {
    .deal-radio {
      margin-right: 35px;
    }
  }

  .deal-type {
    .radio-button {
      line-height: 18px;
    }

    .deal-type-dropdown {
      @extend %deal-type-dropdown;
    }

    .deal-type-dropdown-list {
      @extend %deal-type-dropdown-list;
    }
  }

  .deal-people {
    .people-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      width: 600px;
    }
  }

  .deal-address {
    .entity-item {
      width: 200px;
      margin-bottom: 0px !important;
    }

    .address-info {
      img {
        width: 24px;
        height: 24px;
        border-radius: 4px;
        margin-right: 10px;
      }

      .name {
        font-size: 15px;
        color: #263445;
      }
    }

    .remove-address {
      cursor: pointer;
      color: #2196f3;
      margin-left: 20px;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .deal-status {
    .deal-radio {
      margin-right: 32px;
    }

    .radio-label {
      font-size: 14px;
      color: #62778c;

      .status-color {
        display: inline-block;
        width: 20px;
        height: 12px;
        border-radius: 2px;
        background-color: #f5a623;
        margin: 0 8px 0 9px;
      }
    }
  }

  .contexts {
    .selected-field {
      height: 30px;
      line-height: 30px;
      vertical-align: middle;
      padding-left: 6px;
      .splitter {
        color: #d8d8d8;
        margin: 0 20px;
      }

      .date,
      .remove {
        color: #2196f3;
        font-size: 15px;
        cursor: pointer;
      }
    }
  }

  .create-deal-button {
    margin-left: 0;
    width: 150px;
    &.disabled {
      background-color: #dce5eb;
      color: #8da2b5;
    }

    &:focus {
      outline: none;
    }
  }

  .office-agent {
    .deal-radio {
      margin-right: 35px;
    }
  }

  .buyer-name {
    input {
      width: 400px;
      height: 42px;
      border-radius: 4px;
      background-color: #fff;
      border: solid 1px #dce5eb;
      padding: 0 10px;
      font-size: 16px;

      &:focus {
        outline: none;
      }
    }
  }
}

/**
*
*/
%deal-type-dropdown {
  width: 375px;
  height: 40px;
  border-radius: 3px;
  font-size: 15px;
  background-color: #ffffff;
  border: solid 1px #e3e3e3;
  text-align: left;
  box-shadow: none;
  color: #b0bfc7;

  &.selected {
    color: #262626;
  }

  .caret {
    position: absolute;
    right: 10px;
    top: 17px;
  }

  &:hover {
    border-color: #8bc9fe;
  }
}

%deal-type-dropdown-list {
  padding: 0;
  width: 375px;
  border: none !important;
  border-radius: 4px;

  li {
    color: #5b6469;
    font-size: 15px;
    background-color: #ffffff;
    box-shadow: 0 1px 0 0 #eaeaea, 0 -1px 0 0 #e9e9e9;

    &:first-child {
      border-radius: 4px 4px 0 0;
      border-top: none;
    }

    &:last-child {
      border-radius: 0 0 4px 4px;
    }

    a {
      padding: 15px 10px;
    }
  }
}

/**
*
*/
%deal-create-entity-item {
  display: flex;
  min-width: 160px;
  min-height: 34px;
  border-radius: 3px;
  background-color: #f8fafb;
  border: solid 1px #dce5eb;
  align-items: center;
  padding: 0 5px;
  margin-right: 15px;
  margin-bottom: 2px;

  &.string {
    margin-bottom: 10px;
  }

  .user-avatar {
    flex: 2;
    &:hover {
      cursor: pointer;
    }
  }

  .name {
    flex: 7;
    padding-left: 3px;
    font-size: 13px;
    font-weight: 600;
    color: #1d364b;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .remove {
    flex: 1;
    i {
      color: gray;
    }

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }

  &.disabled {
    .name:hover,
    .user-avatar:hover {
      text-decoration: none;
      cursor: auto;
    }
  }

  .add-item {
    display: flex;

    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }

    &.text-input {
      flex-direction: column;
      &:hover {
        opacity: 1;
        cursor: auto;
      }
    }

    .icon {
      display: inline-block;
      width: 20px !important;
      height: 20px !important;
      background-color: #2196f3;
      color: #fff;
      text-align: center;
      font-size: 25px;
      line-height: 16px;
      border-radius: 40px;
      margin-right: 5px;
    }

    .text {
      font-size: 15px;
      color: #263445;
      font-weight: 400;
    }

    input {
      height: 35px;
      width: 200px;
      color: #262626;
      margin-top: 5px;
      padding: 0 5px;

      &:focus {
        outline: none;
      }

      &.invalid {
        border: 1px solid red;
      }
    }
  }

  &.new {
    background-color: #fff;
    border: none;
  }
  &.date {
    display: inline-block;
  }
}

/**
*
*/
%create-deal-button {
  background-color: #2196f3;
  color: #fff;
  margin-left: 7px;
  border: none;
  height: 34px;
  line-height: 17px;
  vertical-align: middle;
  margin-left: 0px;
  min-width: 150px;

  &:hover {
    opacity: 0.7;
  }

  &.disabled {
    background-color: #dce5eb;
    color: #8da2b5;
    &:hover {
      background-color: #dce5eb;
      color: #8da2b5;
    }
  }
}

/**
*
*/
.modal-deal-listing {
  .modal-content {
    border: none;
  }

  .modal-header {
    @extend %deal-modal-header;
    background-color: #f8fafb;
  }

  .modal-body {
    padding: 0;
    margin: 0;
    .place-create {
      input {
        display: inline;
        border-radius: 0;
        width: 33.3333%;
        height: 60px;
        border-color: #dde6ec;

        &:focus {
          outline: none;
          box-shadow: none;
        }
      }

      input:first-child {
        border-left: none;
      }

      input:last-child {
        border-right: none;
      }

      .row_one {
        input {
          border-top: none;
          border-bottom: none;
        }
      }

      .street_name,
      .state {
        border-right: none;
        border-left: none;
      }
      .zipcode.error {
        border: 1px dashed red;
      }
    }
  }
}

/**
*
*/
.modal-create-deal {
  .modal-content {
    border: none;
  }

  .modal-header {
    @extend %deal-modal-header;
    background-color: #f8fafb;
  }

  .modal-body {
    min-height: 470px;
    max-height: 470px;
    padding: 0;
    margin: 0;
    overflow: auto;

    .listings {
      @extend %listings;
    }

    .rx-input {
      display: inline-block;
      width: 448px;
      height: 44px;
      margin: $margin;
      margin-bottom: 0;
    }

    .btn-create {
      width: 90px;
      height: 44px;
      border-radius: 3px;
      background-color: #2196f3;
      border-color: #2196f3;
      margin-right: $margin;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

/**
*
*/
%listings {
  margin-top: $margin;
  .address {
    color: #2196f3;
    margin-left: 10px;
    font-size: 15px;
  }

  .list {
    max-height: 50vh;
    overflow: auto;
    overflow-x: hidden;
    background-color: #fff;

    .empty-state {
      text-align: center;
      box-shadow: none;
      font-size: 17px;
      color: #8da2b5;
      padding-top: 15%;
      img {
        display: block;
        margin: 0 auto 11px auto;
      }
    }

    .title {
      color: #8696a4;
      font-size: 17px;
      letter-spacing: -0.4px;
      margin-bottom: 15px;
      display: inline-block;
    }

    .loader {
      margin-left: 20px;
    }

    .create-manually {
      margin: 0px 0 10px 0;
      padding-right: 24px;
      font-size: 17px;
      text-align: right;
      color: #2196f3;
      span {
        cursor: pointer;
        &:hover {
          opacity: 0.7;
        }
      }
    }

    .item {
      color: #5b6469;
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 5px;
      padding: 0 24px;
      height: 30px;
      line-height: 30px;
      vertical-align: middle;
      border-radius: 2px;

      .select {
        float: right;
        font-size: 15px;
        font-weight: 500;
        color: #2196f3;
        display: none;
      }

      &.listing {
        height: 62px;
        padding: 5px $margin;

        .listing-image {
          min-width: 50px;
          max-width: 50px;
          min-height: 50px;
          max-height: 50px;
          border-radius: 2px;
        }

        .address-col {
          padding-left: 30px;
          .addr {
            color: #a0a0a0;
            display: block;
            font-weight: normal;
            margin-top: -9px;
          }
        }

        .status {
          float: right;
          display: block;
          background-color: #35b863;
          margin-top: 13px;
          color: #fff;
          padding: 0 4px;
          font-size: 12px;
          text-align: center;
          min-width: 60px;
          height: 26px;
          line-height: 26px;
          vertical-align: middle;
          border-radius: 3px;
        }
      }

      &:hover {
        background: #eff5fa;
        cursor: pointer;
      }

      &:hover .select {
        display: inline-block;
      }
    }
  }
}
