$col-padding: 20px;
$listing-card-height: 210px;
$deal-info-width: 300px;
$deal-tasks-width: 388px;

@import './dashboard/_info';
@import './dashboard/_add_contract';
@import './dashboard/_tasks';
@import './dashboard/_task_detail';
@import './dashboard/_fact_sheet';
@import './dashboard/_roles';
@import './dashboard/_esign';
@import './dashboard/_esign_compose';
@import './dashboard/_task_creator';
@import './dashboard/_listing_card';
@import './dashboard/_comment';
@import './dashboard/_files';
@import './dashboard/_mls';
@import './dashboard/_edit_form';
@import './dashboard/_form_viewer';
@import './dashboard/_form_context';
@import './dashboard/_date_picker';
@import './dashboard/_mls_status_modal';

%deal-dashboard {
  margin-left: 0;
  margin-right: 0;
  display: flex;
  overflow: hidden;
  height: 100vh;
  backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  will-change: overflow;
  position: relative;
  z-index: 1;

  .column {
    @extend .u-scrollbar--thinner;

    padding: 0;
    height: auto;
  }
}
