%file-manager {
  overflow: hidden;

  .button {
    min-width: 100px;
    min-height: 32px;
    border-radius: 3px;
    background-color: #2196f3;
    color: #fff;
    border: none;
    &:hover {
      background-color: #1a7fd0;
    }

    &.inverse {
      background-color: #fff;
      color: #2196f3;
      &:hover {
        background-color: red;
        color: #fff;
      }
    }

    &.disabled {
      background-color: #d4dfe6;
      color: #8da2b5;
      &:hover {
        background-color: #d4dfe6;
        color: #8da2b5;
      }
    }

    &:focus {
      outline: none;
    }
  }

  .table-container {
    margin: 2% 13px;

    .empty-table,
    .loading {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      font-weight: 500;
      color: #9eb2c2;
      width: 100%;
      height: 86vh;
      img {
        width: 200px;
        display: block;
        margin: 0 auto 30px auto;
      }
    }

    .list--header {
      padding: 0;
    }

    ul.dropdown-menu {
      width: 150px;
    }
  }
}
