%deals-list {
  overflow-x: hidden;
  min-height: 100vh;
  .table-container {
    @extend %deal-list--table;
  }

  .heading {
    @extend %deal-list--heading;
  }

  .list-empty {
    text-align: center;
    margin-top: 20%;
    .title {
      font-size: 17px;
      font-weight: 600;
      color: #62778c;
      margin-bottom: 10px;
    }

    .descr {
      font-size: 14px;
      font-weight: 500;
      color: #8da2b5;
      margin-bottom: 20px;
    }
  }
}

/**
 *
 */
%deal-list--table {
  padding: 2% 30px;

  .table {
    border-collapse: separate;
    border-spacing: 0 7px;
    font-size: 15px;

    tr td:first-child {
      border-radius: 4px 0 0 4px;
    }

    tr td:last-child {
      border-radius: 0 4px 4px 0;
    }

    td {
      vertical-align: middle;
    }

    .header {
      background: transparent;
      margin-bottom: 40px;
      font-weight: 500;
      text-align: left;
      color: #78909c;

      td > i {
        margin-right: 5px;
      }

      .sortable {
        cursor: pointer;
        &:hover {
          color: #2196f3;
        }

        &.isActive {
          color: #2196f3;
        }
      }
    }

    .item {
      cursor: pointer;
      border-radius: 4px;
      background-color: #ffffff;
      box-shadow: 0 1px 1px 0 #eef1f2;
      border: solid 1px #f4f7f9;
      color: #5b6469;
    }

    .item > .address {
      padding: 0 !important;
      .row {
        margin-left: 0;
        margin-right: 0;
      }

      img {
        width: 40px;
        height: 40px;
        border-radius: 4px;
        margin-right: 5px;
      }
    }

    .item .status-bullet {
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 16px;
      margin-right: 9px;
    }
  }
}

/**
 *
 */
%deal-list--heading {
  height: 54px;
  line-height: 54px;
  background-color: #f8fafb;
  box-shadow: 0 1px 0 0 #eef1f2;
  vertical-align: middle;
  padding: 0 30px;

  ul.filter {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      margin-right: 50px;
      font-size: 21px;
      color: #5b6469;
      cursor: pointer;
      margin-top: -4px;

      .counter {
        display: inline-block;
        color: gray;
        font-size: 13px;
        margin-left: 6px;
      }

      @media (min-width: 548px) and (max-width: 1173px) {
        font-size: 16px;
        .counter {
          font-size: 10;
          margin-left: 2px;
        }
      }

      @media (max-width: 548px) {
        font-size: 15px;
        .counter {
          font-size: 10;
          margin-left: 2px;
        }
      }

      &.active {
        color: #2196f3;
        border-bottom: 2px solid #2196f3;
      }
    }
  }

  input.search {
    width: 260px;
    height: 30px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #eef0f2;
    padding: 0 10px;

    @media (max-width: 548px) {
      width: 100%;
    }

    &:focus {
      outline: none;
    }
  }
}

/**
 *
 */
.deal-filter--tooltip {
  background-color: #303e4d !important;
  padding-left: 10px !important;
  line-height: 15px;
  text-align: left !important;
  font-size: 14px !important;
  &:after {
    border-bottom-color: #303e4d !important;
  }

  span {
    line-height: 15px;
    text-align: left !important;
  }
}

/**
 *
 */
.deal-list--needs-attention--popover {
  background-color: #303e4d;
  border: none;
  max-width: 420px;
  .arrow:after {
    border-bottom-color: #303e4d !important;
  }

  .popover-content {
    background-color: #303e4d;
    box-shadow: -1px 0 10px 0 rgba(0, 0, 0, 0.1), 0 0 10px 0 rgba(0, 0, 0, 0.1);
  }

  .item {
    margin-top: 10px;

    .info {
      .info-title {
        color: #fff;
        display: block;
      }

      .info-desc {
        color: #8ca2b6;
        display: block;
        font-size: 12px;
      }
    }

    .bdg {
      display: block;
      color: #fff;
      padding: 3px;
      width: 100px;
      height: 18px;
      border-radius: 3px;
      background-color: #f6a623;
      font-size: 10px;
      font-weight: 500;
      text-align: center;
    }
  }
}

/**
 *
 */
.deal-list--popover {
   background-color: #303e4d;
  border: none;
  box-shadow: -1px 0 10px 0 rgba(0, 0, 0, 0.1), 0 0 10px 0 rgba(0, 0, 0, 0.1);
  color: #fff;

  .arrow:after {
    border-bottom-color: #303e4d !important;
  }

  .popover-content {
    padding: 10px;
  }

  .fact-table {
    td.name {
      color: #78909c;
      .status {
        margin-right: 5px;
        color: #eeeeee;

        &.past {
          color: #35b863;
        }
        &.next {
          color: #f6a623;
        }
      }
    }

    td.field {
      color: #78909c;
      font-size: 12px;
    }
  }
}
