@import './list';
@import './create';
@import './dropdown';
@import './dashboard';
@import './badge';
@import './modal';

.deals {
  min-height: 100vh;
  background-color: #f0f4f7;

  .deals-list {
    @extend %deals-list;
  }

  .deal-create {
    @extend %deal-create;
  }

  .deal-dashboard {
    @extend %deal-dashboard;
  }
}

.deal-button {
  height: 34px;
  line-height: 30px;
  vertical-align: middle;
  color: #78909c;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 1px 1px 0 #eef1f2;
  border: solid 1px #e7eef0;

  &:focus {
    outline: none;
  }
  &:hover {
    background-color: #fbfbfb;
    color: #2196f3;
  }
}

.deal-fetch-error {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  margin-top: 20vh;
  i {
    color: red;
    margin-bottom: 10px;
  }
  p {
    font-size: 19px;
  }
}

.deal-fetch-loading {
  text-align: center;
  padding-top: 25vh;
  font-weight: 500;
  i {
    margin-bottom: 10px;
    color: gray;
  }
  p {
    font-size: 19px;
  }
}

/**
 * helpers
 */
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
