@import './list';
@import './create';
@import './dashboard';

.deals {
  margin-left: 70px;
  margin-right: 0;
  min-height: 100vh;
  background-color: #F8FAFB;

  .deals-list {
    @extend %deals-list;
  }

  .deal-create {
    @extend %deal-create;
  }

  .deal-dashboard {
    @extend %deal-dashboard;
  }
}

/**
 * helpers
 */
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
