@import './deals_list';

.deals {
  margin-left: 70px;
  margin-right: 0;
  min-height: 100vh;
  background-color: #f5f5f5;

  .deals-list {
    @extend %deals-list;
  }
}

/**
 * helpers
 */
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
