%deal-navbar {
  height: $deal-dashboard-header-height;
  z-index: 1;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 13px;

  .back {
    width: 20%;
    font-size: 17px;
    font-weight: bold;
    color: #2196f3;
    cursor: pointer;
    i {
      margin-right: 10px;
    }

    &:hover {
      color: #1c72b9;
      text-decoration: none;
    }
  }

  .ctas {
    width: 80%;
    text-align: right;

    .navbar-button {
      min-width: 80px;
      margin-left: 12px;
      border-radius: 3px;
      font-size: 13px;
      font-weight: 600;
      letter-spacing: 0.5px;
      color: #2196f3;
      background-color: #ffffff;
      border: solid 1px #dce5eb;
      padding: 8px 15px;

      &:focus {
        outline: none;
      }

      &:hover {
        background-color: #f1f7fb;
        text-decoration: none;
      }
    }
    .btn-deal {
      background-color: #2196f3;
      color: #fff;
      border: none;

      &:hover {
        background-color: #1a7fd0;
      }
    }
  }
}
