<div data-type="carousel" class="splide" rechat-editable="tree">
  <div data-type="carousel-track" class="splide__track">
    <ul data-type="carousel-list" class="splide__list">
      <li data-type="carousel-slide" class="splide__slide">
        <img data-type="carousel-image" class="splide__image" src="https://picsum.photos/seed/image1/1000/800"/>
      </li>
      <li data-type="carousel-slide" class="splide__slide">
        <img data-type="carousel-image" class="splide__image" src="https://picsum.photos/seed/image2/1000/800"/>
      </li>
      <li data-type="carousel-slide" class="splide__slide">
        <img data-type="carousel-image" class="splide__image" src="https://picsum.photos/seed/image3/1000/800"/>
      </li>
      <li data-type="carousel-slide" class="splide__slide">
        <img data-type="carousel-image" class="splide__image" src="https://picsum.photos/seed/image4/1000/800"/>
      </li>
      <li data-type="carousel-slide" class="splide__slide">
        <img data-type="carousel-image" class="splide__image" src="https://picsum.photos/seed/image5/1000/800"/>
      </li>
      <li data-type="carousel-slide" class="splide__slide">
        <img data-type="carousel-image" class="splide__image" src="https://picsum.photos/seed/image6/1000/800"/>
      </li>
      <li data-type="carousel-slide" class="splide__slide">
        <img data-type="carousel-image" class="splide__image" src="https://picsum.photos/seed/image7/1000/800"/>
      </li>
      <li data-type="carousel-slide" class="splide__slide">
        <img data-type="carousel-image" class="splide__image" src="https://picsum.photos/seed/image8/1000/800"/>
      </li>
      <li data-type="carousel-slide" class="splide__slide">
        <img data-type="carousel-image" class="splide__image" src="https://picsum.photos/seed/image9/1000/800"/>
      </li>
    </ul>
  </div>
</div>