.btn-default:hover, .btn-default:focus {
  background-color: #5c8fd4;
  border: 1px solid #5c8fd4;
  color: #fff;
}
.forgot__password-btn--cancel{
  @media(max-width: 768px){
    margin-bottom: 10px;
    padding-right: 0 !important;
  }
}