.btn{
  -webkit-transition: background 90ms;
  transition: background 90ms;
}
.forgot__password-btn--cancel{
  @media(max-width: 768px){
    margin-bottom: 10px;
    padding-right: 0 !important;
  }
}