// Mobile nav
.mobile-nav {
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #263445 !important;
    border: none !important;
  }
  .account-dropdown--mobile{
    background: none !important;
    .dropdown-toggle {
      background: none !important;
      border: none !important;
    }
    .dropdown-menu {
      margin-left: -100px;
    }
  }
}