@mixin scrollbar($just-self: false, $width: 0.5em, $thumb-bgc: #b2b2b2, $track-bgc: transparent) {
  @if $just-self {
    &::-webkit-scrollbar {
      width: $width;
      height: 0.5em;
      padding-right: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $thumb-bgc;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-track {
      background: $track-bgc;
    }

    &::-webkit-scrollbar-button {
      width: 0;
      height: 0;
      display: none;
    }

    &::-webkit-scrollbar-corner {
      background-color: transparent;
    }
  } @else {
    ::-webkit-scrollbar {
      width: $width;
      height: 0.5em;
      padding-right: 3px;
    }

    ::-webkit-scrollbar-thumb {
      background-color: $thumb-bgc;
      border-radius: 5px;
    }

    ::-webkit-scrollbar-track {
      background: $track-bgc;
    }

    ::-webkit-scrollbar-button {
      width: 0;
      height: 0;
      display: none;
    }

    ::-webkit-scrollbar-corner {
      background-color: transparent;
    }
  }
}

.u-scrollbar {
  @include scrollbar();
}

.u-scrollbar--thinner {
  @include scrollbar(false, 0.375em !important);
}

.u-scrollbar--thinner--self {
  @include scrollbar(true, 0.375em !important);
}
