.c-avatar-uploader {
  position: relative;
  width: 12.8rem;
  height: 12.8rem;

  .c-auth__submit-alert--success {
    margin-bottom: 0;
  }
}

.c-avatar-uploader__label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 100%;
  transition: background 0.2s ease-in;

  &:hover > span {
    color: #6b7075;
  }

  &.has-avatar {
    > span {
      color: #fff;
      visibility: hidden;
      transition: visibility 0.1s 0.1s ease-in;
    }
  }

  &.has-avatar:hover {
    background: rgba(0, 0, 0, 0.3);

    > span {
      visibility: visible;
    }
  }
}

.c-avatar-uploader__label > span {
  width: 100%;
  position: absolute;
  bottom: 1.5rem;
  left: 0;
  transform: translateY(-50%);
  text-align: center;
  color: #8f969c;
}

.c-avatar-uploader__placeholder {
  height: 100%;
  text-align: center;
  background: #d6dce2;
  border-radius: 100%;
}

.c-avatar-uploader__img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 100%;
}

.c-avatar-uploader__input {
  @include visually-hidden();
}

.c-avatar-uploader__remove-btn {
  width: 11rem;
  position: absolute;
  left: 13.8rem;
  bottom: 0;
  display: block;
  word-wrap: none;
  padding: 0.5rem 0;
  color: #969696;
  border-radius: 3px;
  background: transparent;
  border: 1px solid #ccc;

  &:hover {
    color: #444;
    border-color: #444;
  }
}


.c-avatar-uploader__loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.3);
}