$border: 1px solid #ecf1f5;

.c-new-task,
.c-touch-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .c-touch-page &,
  .c-new-task--page & {
    max-width: 73em;
    margin: 0 auto;
  }
}

.c-touch-page,
.c-new-task--page {
  .c-full-screen-modal__body {
    background-color:  #f0f4f7;
  }
}

.c-new-task__form,
.c-touch-form__form {
  width: 100%;
  position: relative;
  background-color: #fff;
  
  .c-touch-page &,
  .c-new-task--page & {
    @media screen and (min-height: 67.5em) and (min-width: 56em) { // 1080
      height: calc(100vh - 56px);
    }
  }
}



.c-new-task__associations {
  padding: 0 1em;
}



.c-new-task__footer,
.c-touch-form__footer {
  padding: 1em;
  text-align: right;
  border-radius: 0 0 3px 3px;
  border-top: $border;
  background-color: #f8fafb;

  & > button {
    line-height: 1;
    padding: 0.5em 2em;
  }
}

.c-touch-page,
.c-new-task--page,
.c-new-task.overlay-drawer {
  .c-new-task__body,
  .c-touch-form__body {
    height: calc(100vh - 59px);
    overflow: auto;
    padding-bottom: 56px;
  }
  
  .c-new-task__footer,
  .c-touch-form__footer {
    height: 56px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
}