.rechat-tooltip {
  
  .tooltip-inner {
    font-size: 16px;
    padding: 4px 16px 5px 16px; 
  }

  &.right {
    padding: 0;
    margin-left: 12px;

    .tooltip-arrow {
      left: -8px;
      margin-top: -16px;
      border-width: 16px 16px 16px 0;
    }
  }

  &.error {
    .tooltip-inner {
      background-color: #fe3824;
      color: #fff;
    }

    .tooltip-arrow {
      border-right-color: #fe3824;
    }
  }


  &.is-customized {
    .tooltip-arrow {
      display: none;
    }

    .tooltip-inner {
      background-color: transparent !important;
    }
  }
}
