.compose {
  min-height: 300px;
  .tags-container {
    @extend %compose--tags-container;
  }

  .suggestions {
    @extend %compose--suggestions;
  }
}

%compose--tags-container {
  min-height: 50px;
  padding: 12px 16.5px;
  border-radius: 3px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(250, 250, 250, 0.9);
  border: solid 1px #e2e2e2;
  .to {
    letter-spacing: -0.2px;
    color: #8e8e93;
    margin-right: 5px;
  }
  .tag {
    background-color: #2196f3;
    border-radius: 3px;
    display: inline-block;
    height: 33px;
    line-height: 33px;
    margin: 0px 5px 3px 0;
    padding: 0px 7px;
    color: #fff;
    font-size: 13px;
    vertical-align: middle;
    .user-avatar {
      float: left;
      margin-right: 5px;
    }
    i {
      margin-left: 5px;
      cursor: pointer;
      transition: 0.3s ease-in all;
      &:hover {
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }

  input {
    height: 30px;
    max-width: 240px;
    margin: 0 0 0 5px;
    background-color: transparent;
    border: none;
    &:focus {
      outline: 0;
    }
  }
}

%compose--suggestions {
  min-height: 220px;
  max-height: 220px;
  overflow: auto;
  margin-top: 10px;
  padding-left: 2px;

  .item {
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.2s ease-in all;
    .avatar {
      display: inline;
      margin-right: 10px;
      .user-avatar {
        display: inline;
      }
    }
    &:hover {
      color: rgba(0, 0, 0, 0.7);
    }
  }
}
