.compose {
  .tags-container {
    @extend %compose--tags-container;
  }

  .sg-container {
    position: relative;

    .suggestions {
      .loader {
        width: 50px;
        margin: 10px 0;
      }

      &:focus {
        outline: none;
      }

      @extend %compose--suggestions;

      &.dropdown {
        @extend %compose--suggestions-dropdown;
      }
    }
    &[data-simplebar] {
      height: 220px;
      overflow: hidden;
      .suggestions {
        min-height: initial;
        max-height: initial;
        overflow: auto;
      }
    }
  }
}

%compose--tags-container {
  min-height: 50px;
  padding: 12px 16.5px;
  border-radius: 3px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(250, 250, 250, 0.9);
  border: solid 1px #e2e2e2;
  .to {
    letter-spacing: -0.2px;
    color: #8e8e93;
    margin-right: 5px;
  }
  .tag {
    display: inline-block;
    height: 43px;
    line-height: 43px;
    margin: 0px 5px 3px 0;
    padding: 0px 7px;
    vertical-align: middle;
    border-radius: 3px;
    background-color: #e5e5e5;
    border: solid 1px #c2c2c2;
    font-size: 14px;
    font-weight: bold;
    color: #4a494a;
    .user-avatar {
      float: left;
      margin-right: 5px;
    }
    i {
      margin-left: 5px;
      cursor: pointer;
      transition: 0.3s ease-in all;
      color: #9a9b9a;
      &:hover {
        color: rgba(0, 0, 0, 0.5);
      }
    }
  }

  input {
    height: 30px;
    margin: 0 0 0 5px;
    background-color: transparent;
    border: none;
    &:focus {
      outline: 0;
    }
  }
}

%compose--suggestions {
  min-height: 220px;
  max-height: 220px;
  overflow: auto;
  margin-top: 10px;
  padding-left: 2px;

  .item {
    margin: 0 0 10px 0;
    cursor: pointer;
    transition: 0.2s ease-in all;
    .vcenter {
      display: inline-block;
      vertical-align: middle;
      float: none;
    }
    .user-avatar {
      display: inline;
      margin-right: 10px;
    }
    &:hover {
      color: rgba(0, 0, 0, 0.7);
    }
  }
}

%compose--suggestions-dropdown {
  position: absolute;
  z-index: 1000;
  min-height: 0px;
  top: -5px;
  left: 0;
  width: 100%;
  margin-top: 0;
  background-color: #fff;
  border: solid 1px #e2e2e2;
  padding: 0 10px;
  border-radius: 0 0 3px 3px;
  transition: all 0.7s ease-in;
  .item {
    &:first-child {
      padding-top: 10px;
    }
  }
}
