.modal-confirmation-backdrop {
  z-index: 1999;
}

.modal-confirmation {
  width: 500px;
  height: 200px;

  .modal-content {
    border: none;
    box-shadow: none;
  }

  .modal-body {
    text-align: center;
    padding: 37px 18px 32px;
    background-color: #ffffff;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 6px;

    .confirmation-title {
      font-size: 26px;
      font-weight: 600;
      color: #1e364b;
    }

    .confirmation-descr {
      padding-top: 16px;
      font-size: 17px;
      color: #8fa3b6;
    }

    .confirmation-input {
      textarea {
        width: 400px;
        height: 80px;
        margin-top: 15px;
        color: #324457;
        font-size: 17px;
        padding: 10px;
        border-radius: 3px;
        backdrop-filter: blur(10px);
        background-color: #fafafa;
        border: solid 1px #dce5eb;
        resize: none;
        &:focus {
          outline: none;
        }
      }
    }

    .cta {
      margin-top: 16px;
    }

    button {
      height: 34px;
      border-radius: 3px;
      box-shadow: 0 1px 1px 0 #eef1f2;
      border: solid 1px #f4f7f9;
      margin-left: 12px;
      &:focus {
        outline: none;
      }

      &.cancel {
        color: #78909c;
        min-width: 110px;
        &:hover {
          background-color: transparent;
          color: #2196f3;
        }
      }
      &.confirm {
        border: none;
        min-width: 148px;
      }
    }
  }
}
