.modal-confirmation {
  width: 35rem;
  height: auto;
  padding: 2.5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
    
  .confirmation-title {
    margin-bottom: 0.5em; 
    font-size: 2.1rem;
    font-weight: 600;
    word-break: break-word;
  }
  
  .confirmation-descr {
    margin-bottom: 2em;
    font-size: 1.7rem;
  }

  .confirmation-input {
    width: 400px;
    height: 80px;
    padding: 0.5em;
    margin-bottom: 2em;
    font-size: 1.2rem;
    resize: none;
    border-radius: 3px;
    border: solid 1px #d4d4d4;
    backdrop-filter: blur(10px);

    &.textinput {
      height: auto;
      font-size: 1rem;
    }

    &:focus {
      outline-width: 2px;
    }
  }
}
