.DayPicker {
  outline: none;
}

.DayPicker {
  abbr[title], abbr[data-original-title] {
    border-bottom: none;
  }
  .DayPicker-Day {
    border: none;
    &:hover {
      background-color: #003bdf !important;
      color: #ffffff;
    }
    &--outside {
      &:hover {
        background-color: #fff;
      }
    }
  }
  .DayPicker-Caption {
    height: 3rem;
    text-align: center;
    border-bottom: 1px solid #eee;
    font-weight: 500;
    padding: 0;
  }
  .DayPicker-NavBar {
    padding: 2px .5rem;
  }
}
