.c-pdf-viewer {
  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 90vh;
    i {
      margin-bottom: 15px;
    }
  }
}

.c-pdf-viewer .pdf-context {
  position: relative;
  width: 100%;
  height: 100%;

  .pdf-toolbar {
    position: fixed;
    right: 20px;
    top: 67vh;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
    text-align: center;
    z-index: 100;
    border-radius: 10px;
    transition: all 0.3s ease-in;

    i {
      color: #fff;
      font-size: 25px;
      cursor: pointer;
      display: block;
      margin: 12px 7px;
      &:hover {
        color: orange;
      }
    }

    a {
      &:hover {
        text-decoration: none;
      }
    }

    &:hover {
      background: rgba(0, 0, 0, 0.7);
    }
  }

  .wrapper {
    width: 100%;
    text-align: center;

    .pdf-container {
      position: relative;
      margin: 0 auto 50px auto;
      top: 0;
      left: 0;
      z-index: 10;

      .pdf-page {
        position: relative;
        margin: 0 auto 0 auto;
        padding: 0;
        overflow: visible;
        background-clip: content-box;
        background-color: #fff;
        box-shadow: none;
        border: 1px solid rgba(0, 0, 0, 0.54);
        border-radius: 5px;

        &.rotate0 {
          transform: rotate(0deg) !important;
        }

        &.rotate90 {
          transform: rotate(90deg) !important;
        }

        &.rotate180 {
          transform: rotate(180deg) !important;
        }

        &.rotate270 {
          transform: rotate(270deg) !important;
        }
      }

      .page-number {
        text-align: center;
        font-size: 15px;
        color: gray;
        font-weight: 600;
        text-decoration: underline;
      }
    }
  }
}

.pdf-preview-modal {
  @extend .c-concierge-modal;

  .pdf-container {
    margin: 0 auto;
  }

  .modal-dialog {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    transform: none !important;
  }

  .modal-content {
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background-color: #eee;
  }

  .modal-header {
    height: 70px;
    position: relative;
    padding: 2.5rem 2rem;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }

  .modal-title {
    margin-top: 4px;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    color: #000000;

    @media screen and (min-width: 768px) {
      margin-top: 0;
      font-size: 21px;
    }
  }

  .modal-body {
    text-align: center;
    padding: 5rem;
  }
}

.pdf-preview-modal__close-btn {
  position: absolute;
  top: 2.5rem;
  right: 2rem;
  padding: 0;
  border-width: 0;
  background-color: transparent;

  > * {
    display: inline-block;
    vertical-align: middle;
  }

  > span {
    margin-left: 0.5rem;
    margin-bottom: 2px;
    font-size: 21px;
    line-height: 24px;
    color: #2196f3;
  }
} // .c-request-review-modal__close-btn

.pdf-preview-modal__image {
  max-width: 100%;
} // c-preview-modal__image

@media print {
  * {
    display: none;
  }
  canvas,
  .pdf-page {
    display: block;
  }
}
