.search-input {
  $search-width: 190px;
  float: left;
  width: $search-width;
  //background-color: #394553;
  height: 30px;
  text-align: center;
  border-radius: 4px;
  color: #9b9b9b;
  border: solid 1px #394553;
  background-color: rgba(216, 216, 216, 0.1);
  input {
    width: 42px;
    padding: 0;
    background-color: transparent;
    border: none;
    height: 100%;
    color: #9b9b9b;
    display: inline-block;
    transition: width 700ms;
    &::-webkit-input-placeholder {
      text-align: center;
    }
    &:focus {
      box-shadow: none;
      width: calc(100% - 53px);
      text-align: left;
      margin-right: 16px;
    }
    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      text-align: left;
    }
    &::-moz-placeholder {
      /* Firefox 19+ */
      text-align: left;
    }
    &:-ms-input-placeholder {
      /* IE 10+ */
      text-align: left;
    }
    &:-moz-placeholder {
      /* Firefox 18- */
      text-align: left;
    }

    &::-ms-clear {
      display: none;
    }
  }
  .active {
    width: calc(100% - 53px);
    margin-right: 16px;
  }
  .search-icon {
    display: inline-block;
    vertical-align: middle;
    margin: 6px 8px 0 0;
  }
  .close-icon {
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    padding: 2px 4px;
    margin: 0 0 0 -16px;
    position: absolute;
    &:hover {
      color: #fff;
    }
  }
  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
}
