@import '../../../../node_modules/grapesjs/dist/css/grapes.min.css';

.template-builder {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;

  .gjs-sm-header {
    padding: 0;
  }

  .gjs-block-category, .gjs-blocks-c {
    color: #868686;
  }

  .gjs-block-category.gjs-open {
    color: #0945eb;
    border: none;
  }

  .gjs-block-category {
    .gjs-block-label {
      height: 7rem;

      div {
        background-position-x: center;
        background-position-y: 40%;
        background-repeat: no-repeat;
        background-size: 60%;
        width: 100%;
        height: 100%;
        transition: background-image 0.1s ease-in;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding: 10% 0;
      }
    }
  }

  .gjs-blocks-cs {
    .gjs-title {
      background: #fff;
      border: none;
      font-size: 1rem;
      line-height: 1.1875;
      min-height: 3.5rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 4px 0;
      justify-content: space-between;

      .gjs-caret-icon {
        order: 1;
      }
    }
  }

  .gjs-pn-commands {
    display: none;
  }

  .gjs-pn-options {
    display: none;
  }

  .gjs-pn-devices-c {
    font-size: 1rem;
    border-radius: 0px 0 4px 4px;

    .gjs-pn-buttons {
      display: flex;
      flex-direction: column;
      height: 7rem;
    }
  }

  .gjs-pn-panel {
    z-index: 1;
    
    &.gjs-pn-views{
      display: none;
    }

    &.gjs-pn-views-container {
      padding-top: 0 !important;
    }
  }

  .gjs-sm-sector.gjs-sm-open {
    border-bottom: none !important;
  }

  .gjs-sm-title {
    display: none;
  }

  .gjs-sm-label {
    margin-bottom: 10px;

    .gjs-sm-icon {
      color: black;
      font-size: 16px;
      font-weight: 500;
    }
  }

  .gjs-trt-trait {
    display: block;

    .gjs-label {
      display: block;
      margin-bottom: 10px;
      color: black;
      font-size: 16px;
      font-weight: 500;
    }

    .gjs-field {
      display: flex;
      align-items: center;
      background: #f6f6f6;
      height: 48px;
      border: 1px solid #d4d4d4;
      border-radius: 3px;
      color: black;
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 10px;
      padding-left: 10px;
      width: 100%;

      .gjs-input-holder {
        width: 100%;
      }
    }
  }

  .gjs-field-color {
    display: flex;
    align-items: center;
    background: #f6f6f6;
    height: 48px;
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    color: black;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    padding-left: 10px;

    .gjs-field-colorp {
      width: auto;
      border-left: none;
      width: 32px;
      height: 32px;
      border-radius: 3px;
      margin: 7px 10px 7px 0;
    }
  }

  .gjs-field-select {
    > div {
      width: 95%;

      > select {
        appearance: menulist;
        -webkit-appearance: menulist;
        -moz-appearance: menulist;
      }
    }
  }

  .wrapper {
    width: 80%;
    float: left;
  }

  .gjs-pn-views {
    border-width: 1px;
  }

  .gjs-clm-tags {
    display: none;
  }

  .gjs-one-bg, .gjs-three-bg {
    background: #f2f2f2;
  }

  .gjs-two-color, .gjs-color-warn, .gjs-four-color, .gjs-color-main, .gjs-color-contrast {
    color: #0945eb;
  }

  .gjs-four-color-h:hover {
    color: #0945eb;
  }

  .gjs-badge, .gjs-toolbar {
    background-color: #0945eb;
  }

  .gjs-rte-toolbar {
    display: none;
  }

  .gjs-pn-views, .gjs-pn-views-container {
    width: 25%;
    border-left: 1px solid #e0e8ed;
  }

  .gjs-cv-canvas {
    width: 75%;
    height: 100%;
    top: 0;
  }

  .gjs-highlighter {
    outline: none;
  }

  .gjs-block {
    background: #fff;
    border: none;
    box-shadow: none;

    &:hover {
      box-shadow: none;
    }
  }
}
