@import '../../../../node_modules/grapesjs/dist/css/grapes.min.css';

.template-builder {

  .gjs-sm-header {
    display: none !important;
  }

  .gjs-rte-actionbar {
    background: #fff;
    color: #000;
    font-size: 1rem;
    padding: 0 0.2rem;

    .gjs-rte-action {
      border: none;
      padding: 0.3rem 0.5rem;
      border-radius: 50%;
      width: 2rem;
      height: 2rem;

      &[title='Link'] {
        display: none;
      }

      &:nth-last-child(2) {
        border-right: none;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }

    .gjs-rte-active {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  .gjs-sm-header {
    padding: 0;
  }

  .gjs-block-category,
  .gjs-blocks-c {
    color: #000;
    padding: 2px 0;
  }

  .gjs-block-category.gjs-open {
    font-weight: bold;
  }

  .gjs-block-category {
    .gjs-block-label {
      height: 100%;
      font-size: inherit;

      div {
        background-position-x: center;
        background-position-y: 40%;
        background-repeat: no-repeat;
        background-size: 2rem;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
      }
    }

    border-bottom: 1px solid #ddd;

    // Basics
    &:nth-of-type(1) {
      .gjs-title {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAQAAAC0NkA6AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAAASwAAAEsAHOI6VIAAALGSURBVFjD7ZhBT1NBEMd/rfTRNITeMCY0ULkVREha9CZ4Qg5cIHyCNnCAD0DCp+A78BWQXgRuitIY9MBJvRkxgWAMgYp5Hmj3ze6+3bYaGg9MDzuZ/392um/ezu48uJP/TRKx1hT3GeMZvbziA1+pe+cIeMAjnnPFPh/5xq92Ai8RGr+y489AgrLFXmoVYICq5RQSckguhp3jMJZdZcAXIvT88gY772U7w1S9bsckBTfJsZddbScXq5SYZNmwRbKqIctMUjJsMblJCXiLrLJn2BRIX8PaJ2ybZBQ7y5ZAUmaQQQFmNSQtkLGGbUzY0ho7K5DB5pNFuTVljXPN7ZJFpReNERa51NjnrJlzRkGmlfbGepTvlTZrjBJrymtzzihIoLRry+230nqNUWK2JTCD7CptynIbV9q2MUrM9t81oSGRsIyG9HCikImGbUJZTujR2Bkxz5AZJNBeyrQIsS6Q/oa1X9jWRZi09sIHWFLRttICIwwzL1YRsiHYG8J+wjzDjLCgzVAhRhLUvIXiTNtcKc687Jqrcue8bqMGu+Bl53BK3lH2zqwQAKOO1RxbFduQpFHmbnKRcrBTWm6aZTSpk+KfWx/DFJmll23e8okf3r/Vz0NKzHHFDu/4wk/u5F/En5OAlxzwuWVO8kzxgnr7ObmFt8sU1z45pRDDLnDa+T7x7/iCFeIvdnzCcVWLVqPXrlMv+zA+3/qFs5Mq/D22CpftEF05Tzo7GR+Ls6TlyRi9bNFZvcKF5nYtFl5qjNE5XjYuHhesmHNGQWaUdmA9yiOlzRmjxGz/GTNI1Oj0WG73lHZljBKzLXUzyJ7SnlhuE0rbMUaJNeVpzJwNucW7cCRdudXb/Umxw/6k2Lo/ga50Wl3qGd3db83R/dYcq/CEiMtNSEjF08dXLPaSTYqTmy8S0wTsctTWF4lxZqiz1/4XiTtxyh/3+faz818BIwAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxOS0xMC0yOVQxNjo1Nzo0MSswMzowMCbbm2AAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTktMTAtMjlUMTY6NTc6NDErMDM6MDBXhiPcAAAAAElFTkSuQmCC');
      }
    }

    // Listings
    &:nth-of-type(2) {
      .gjs-title {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAQAAAC0NkA6AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAAASwAAAEsAHOI6VIAAAJQSURBVFjD7dc7T9tQFMDxv+PbRMSJOiLElqGVMoJUFqZ8ABADoinKx0CIiY2FL8FGC32oBWWDdqkQEh14tZS+xcbWbkWqbpfkcm58r/NyVKRyvNjnnJxfbOfaCtzGTYugy/4HzHKPMzZ4N5gvVOQ12mx18oMgvglCozklGjSROlPkq4PQaE7SYop8EWPXyfEybabIZzHyMSGg0mUKfBLjnhA28ikyPiJFpsC5GLNBCESUeUSZKMYc98IU+ChGbBKiWBKZJVSM6XJ5FjhrIXJctvx8L8mheNUrE1nEU0JgxbFKVqBXJuKD+NgzQmDEsxhHemMi3scIqJjMGmXWzFEFYsxROybiVLQ/RzXyyyY3DAybo+VGvQvGJl4YAmZMdh7FvDmaMR2KrU6YiBPreitRK3nuSUn0KKviZPIctwyQb82APQex19Kjk5k8R7ER9qt51IGMWh1BrH4omSEHoWPv/5L1mDm3LpUb0Rwy1CyvivQPLwIZJlnkLYtMkolVr5HvYt5qs3xgUluJSPMGu0Mi22b/oFmuNRLbqAREMUW9UaszFcMkogxTu26ossMCCrzIhOOKT3gRUCywQ9V90m5kzrNO5rxIYriQMQ+h0YylgwRcWGPfWEcXoq8PZFyMrBAAgXgqa8bbIZl2JvDQ7E2ziwY0u0w76h1H/Ez2TSYr+rImu5/Gmdw3e1cie+Woe6ITpO+4RW4eohJqd2KZrKczS2IkIb87yADc9eRN/KN78jOFqb/aNdTQfW81e6TrPT5L1fpP1V38YZ3NFK7G/xt/AdfrZwD6J8IsAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE5LTEwLTI5VDE2OjU3OjQxKzAzOjAwJtubYAAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxOS0xMC0yOVQxNjo1Nzo0MSswMzowMFeGI9wAAAAASUVORK5CYII=');
      }
    }

    // Agents
    &:nth-of-type(3) {
      .gjs-title {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAQAAAC0NkA6AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAAASwAAAEsAHOI6VIAAANJSURBVFjDrZhLbA1RGMd/99GH2yvVoqptpKLoLaJeiUeCSHVDQiIikdiIRdkhSEOkke5ImoaNCAvKgp00jYukqViQ2LAQCyQkVF9R8UpKOhb95szMmce97j3fLL6Z/3fm+50553zn3DaBbqvYRSe3WUKKv4xj3Kq4h+W5ephlFrFNA9jXcnOI2SEIi2GSpiDXVdKj1FNKIxeUctoMok4lbHGpO5SaMgHZKclOafo10ZuLSR4Xv1V8VovfF7/WBGSN+BEt/kF8S37poiED4jNafIP4J8VAbFsvY/+MmEstY0r0ehOQOWodnVFVkaJXqYYqZb9K+IWztNPtKsdNZhAAj0IqvtccAiq4GoA4T4lJCEC7B/CL9SaSxj1P1TTww/X8noyZDcW2JB0hc3LAFCLN89Ct3uKuiSWcYiwCYWHxmESxkNsqWZZmjsj9dlbzyrXKirI2legYgAsCcS6q6MrILJEDGmNCknSJ4oYA3JHngZAMrdyUFpdpCm7S7NufdIhz+s8P6P9lbfZOe7ZYsZMSPKgUHQLnRdnle/tGwCLp9EMeSqguArJOlG7t3R0BCAvLdyrxSQLlEZASUTZr774R/QoVQDX98tynQ/wnhh8Clez2/cir8L1bqRTPdpVvJX+jX+7206ad+E8ZVPfDLARgSJ5fkOWB8y3RXzJjCZ7k2BmCrr6g4donyjof5EQBCAvLgfRwjloAUrzBIivj2kQXewUyWRgkhqUNyDQQo5JJAf4EYA/3SfJHWlXlOZPwdcaNe6jztEYtol8Cks7n52nyRpwOj6z3cYH4dznSZThMQ1SDuTRxXPq4RYsdcm0ozpfEtCsjeo2myxtJYIIJ9Zu3ToMsFj/sUadDujsSLNuV+Vl8oxZfhj1zRZgNGRW/VIuvEP/NBGRSvP4nQqv4X8VAbCuTqfvuUROeRRs+8c5GFDrxAFPi08Rd02pv/x+1LumVMqbGI0cN2Sd9uUurFa1f+xLdShnC4pbv4E3q7QcDat5d77kqPug/F6ribXst3l3z+dY7wO/wkAN5K77GFbU3io8UZc4p4tS8owXXe/7nqc82RpwIi6TN38LOE2e4RiM6YNd7T2H9dxZdWitEtyWkdsoZI/3fjJf/AK9ZVM6Y47V/AAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE5LTEwLTI5VDE2OjU3OjQxKzAzOjAwJtubYAAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxOS0xMC0yOVQxNjo1Nzo0MSswMzowMFeGI9wAAAAASUVORK5CYII=');
      }
    }

    // Articles
    &:nth-of-type(4) {
      .gjs-title {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAQAAAC0NkA6AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAAASwAAAEsAHOI6VIAAAAHdElNRQfjCh0TOSnmkVyQAAACfElEQVRYw+2XPWgUQRTHfzmCJ2ouIYer+AEKBqI2gmg6PzoNiqBeY6EWChamUaxOsNAIaiEqgggWFlaRgHfFdScKNtqIckGIKPhZ+IFJMGL0bi1ubm53b2Z3dnYLi/yn2Dez773/zJu3b2ZhHv8buny9rRxlpYWXGUqM89dE9RxuglZjYTTFpkQULi7no0muJSZxyahdd0tpjXhOMx5zR3o4IL3Nhas+ELM5EXvbV8iVLFArZOL5s0N3yLvNDHh6b3mKmzbJPQ4FRh6z3Y5EF65VHRSwjY3prmS5cnQ1NcChyBIAfnGJ90nCpUeJISkXWOZ71wWdO2eTXUMe2fF5+E2DBi4VdiYleemRZ2koNHZR5W47SjbhGuYyOUFR1God5iun7Uk+KDJPhVPc5I0tiR4HcYE8t0V/D9dtSTLsEGfHHI/443lTFgVyKaMAbLEP1y2OS7nCsELju3jmWrNS47Ny9B2AhwJ2m+SnTuUjdzrGKkwAMOMbNSia+nAd4yprfat4IaR9VOXo/mQkUKOmHH9IRtxyXLPib5fChs6jSfp0h6kHdb4lIdlLyWiSZ8UXEQpddhWjTQG4ELiDxiIxMDXX1JFcMaQYVZb6AHR7ch+HbKR1XVMZDEngi+FaEpGERTvm/Uu3J4NM09C2CfJpkNygJ8RqPSfTIMlF2C1OgyTqe38Sh6S98a0q1Iz2RZ7Rq7X65COpSykrjt98wKfEiPzLcOLMEshKyzMAOLI/0lRop+k6JqU8xk8D523bI1Ka5DkF2RvgddConMJfo7eVO2cDvfyIGahw9DHVFLzZNUW/5/ROhir9LQpV6dhAgUEWWbuf5RVj4l4zDxv8A3MjFh8lLvT/AAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE5LTEwLTI5VDE2OjU3OjQxKzAzOjAwJtubYAAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxOS0xMC0yOVQxNjo1Nzo0MSswMzowMFeGI9wAAAAASUVORK5CYII=');
      }
    }

    // Market Reports
    &:nth-of-type(5) {
      .gjs-title {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAQAAAC0NkA6AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAAITgAACE4AUWWMWAAAAAHdElNRQfkAwYPHDWYUgh7AAADtElEQVRYw82XW0gUURjHf+PMmrc10coumAkFFVgZJELY3Qj1LRIigsqiy0MUUVEEFfQQvUT1EAQhJF2ooKCn7hCVUlBQ1stSm5cizC5WWuusOz145uzs7IzO5hh952HOfN93vv/5LvOdM/APSBm2hRKWkWezo9DNTcJ+bXIs1/iFnjR+c5cpfoFU0IPhOHRqTaW0YYJ8ps1FYpBlTrVhgrxhK2sYjYFBDpXk+hUiO40ilxzGc4xeS7j6qPPmSQZTGIfGR97y21UrQoRMNrGNTGcFd5A0KthIGWPQ6CTMcx7SQrcjWDY72Es2AN+APG8hSGcLrQnVEuUrLTSyhUqKEgomi4P8FFrv2MoTe7jcvFhHp0tpGnziAaeoZxYZaEzkiIToYBXjeOwNpIY2We3vCEsj1tFDK/c5RxMRwWmnDsinyUviZ7OfIgB6Oct5YkxnDqWUUWBpH1lMZrJlVQe7uEq8UQ3asIq4J4vwhEyhynjmsY4GXvAJPcmvdupEnoJcx8DgB4vcIPI5SVQsvER+kjxAIVXs4SLPZEPp5ja1shQUlvOAEEcJIlmJJnZzQFR7E5t56epvDpOYykyCfOMVLby3yBSKySNMt9NCldV0id29poKhSUFN9bCo4q2A6GRtaku9UimPBEQvO1FHAmISN+SXfZox/hof+E5y2U214NzgMF02rUIKSbfx+mjnq3cglUOyST9hrk2qUM0tuuizjc9cZr53kPl0CIg2FiZJS3nu2sXuiM7ggbaL7tPJRoeCXEXMFSTCEq85aeYN0/nOcRoxHDQGgHW+WEJYgAqkezu+NeApG1hOiGtEBtF8TS26mGdzhxJw2JIriEEzzUNq6nwkKkH6bdIM6TGAQdR6gqZyW4kbSbxIadSwnhkWrkGIq1ymJ3UQN1rKaSbYeNOoJMIFpz39HdUkQQAEWWu64Icn8SY0UAhmWMeaMz9ATGqkgQA6VeyzQPoMEuK+zTMbSAV1TJDYCn084wofUgJRbTZtIMs4Q4lNspoV1KcI40JpwCjqkyAgwBJW+hPHNCDAHEdZOlP9AdEARUaxkRAq/dRSLrfgE4hJBg2iPgoEiE+UuNeAePp8jfApIP8diHlexCxPk2fIIwt0+dlGibePfpsVSdbEK5QDGlGKBaeYBZSJ+Wiq5fJM8eumUE6MiYI7jcUE0OWKBAoSkleDGLGEi0PiPD4G0zDfnpqFZO8zyiDvzlfroTVETkYm/dKqBsQIE0+2X6TSanVQIWtEfOmnd0Qi5Ex/ACxDjGkaZxaMAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDIwLTAzLTA2VDE1OjI3OjIzKzAwOjAwtQZkggAAACV0RVh0ZGF0ZTptb2RpZnkAMjAyMC0wMy0wNlQxNToyNzoyMCswMDowMPWzxqMAAAAASUVORK5CYII=');
      }
    }


    &:first-of-type {
      border-top: 1px solid #ddd;
    }
  }

  .gjs-blocks-cs {
    order: 1;

    .gjs-title {
      background: #fff;
      border: none;
      font-size: 1rem;
      line-height: 1.1875;
      height: 3rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding-left: 3rem;
      background-repeat: no-repeat;
      background-size: 1rem;
      background-position-y: center;
      background-position-x: 1rem;

      .gjs-caret-icon {
        color: inherit;
        order: 1;
      }
    }
  }

  .gjs-pn-commands {
    display: none;
  }

  .gjs-pn-options {
    display: none;
  }

  .gjs-pn-devices-c {
    font-size: 1rem;
    border-radius: 0px 0 4px 4px;

    .gjs-pn-buttons {
      display: flex;
      flex-direction: column;
      height: 7rem;
    }
  }

  .gjs-pn-panel {
    z-index: 1;

    &.gjs-pn-views {
      display: none;
    }

    &.gjs-pn-views-container {
      padding-top: 0 !important;
      display: flex;
      flex-direction: column;
    }
  }

  .gjs-sm-sector.gjs-sm-open {
    border-bottom: none !important;
  }

  .gjs-sm-title {
    display: none;
  }

  .gjs-sm-label {
    margin-bottom: 10px;

    .gjs-sm-icon {
      color: black;
      font-size: 16px;
      font-weight: 500;
    }
  }

  .gjs-trt-traits {
    padding: 0 1rem;
    background: #fff !important;

    // Settings/Traits title
    // &::before {
    //   color: #000;
    //   content: 'Settings';
    //   width: 100%;
    //   height: 2.5rem;
    //   display: block;
    //   font-size: 1rem;
    //   text-align: left;
    //   padding: 0.5rem 1.5rem;
    //   margin-bottom: 1.5rem;
    //   background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAEJSURBVHgB7ZfNEYIwFIR3rIAS6Ew6ECsgVoIdWULoQDvQZNDRyeSHJAjvsN/Mnt6BhWxCFiCEEELKaIwGI230fOtmNBq1EM7R6I6vcVd21kMoJ4SNuzpCGC3iX963Eg0EYfPtmlSYTVr1gflupLLuy7nC8hVKSaMyhjrxAF88GpSZjcUwyAFxJOT3ERumXuBsNEXmvghVLbmDNX/Biij498FnEw+e+QhBWJO5x2gLYXRY/gJi/8bWWOoq0UE4rdEV8wXu99xWEPb3JYTUw/a2F2xve2Lz7ZpU2Li9pfKbo5L2pvHnRpaj0vbGRjZhHUra2+qNLAcF/z5ge9uSDnWnlAjY3gghhJAQL+7AMfKsYHMNAAAAAElFTkSuQmCC');
    //   background-repeat: no-repeat;
    //   background-position: 0 0.75rem;
    //   background-size: 1rem;
    // }
  }

  .gjs-trt-trait__wrp {
    position: relative;
    padding: 0.5rem 0 2.5rem;

    &::after {
      content: '';
      width: 100%;
      height: 1px;
      border: 1px solid #eaeaea;
      position: absolute;
      bottom: 1rem;
      left: 0;
    }
  }

  .gjs-trt-trait {
    display: block;
    padding: 0;

    .gjs-label {
      display: block;
      margin-bottom: 10px;
      color: black;
      font-size: 1rem;
      font-weight: normal;
    }

    .gjs-field {
      display: flex;
      align-items: center;
      background: #f2f2f2;
      border-radius: 3px;
      height: 2rem;
      color: black;
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 10px;
      padding-left: 10px;
      width: 100%;

      .gjs-input-holder {
        width: 100%;
      }
    }
  }

  .gjs-field-color {
    display: flex;
    align-items: center;
    background: #f6f6f6;
    height: 48px;
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    color: black;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    padding-left: 10px;

    .gjs-field-colorp {
      width: auto;
      border-left: none;
      width: 32px;
      height: 32px;
      border-radius: 3px;
      margin: 7px 10px 7px 0;
    }
  }

  .gjs-field-select {
    > div {
      width: 95%;

      > select {
        appearance: menulist;
        -webkit-appearance: menulist;
        -moz-appearance: menulist;
      }
    }
  }

  .wrapper {
    width: 80%;
    float: left;
  }

  .gjs-pn-views {
    border-width: 1px;
  }

  .gjs-clm-tags {
    display: none;
  }

  .gjs-one-bg,
  .gjs-three-bg {
    background: #fff;
  }

  .gjs-two-color,
  .gjs-color-warn,
  .gjs-four-color,
  .gjs-color-main,
  .gjs-color-contrast {
    color: #0945eb;
  }

  .gjs-four-color-h:hover {
    color: #0945eb;
  }

  .gjs-badge {
    display: none !important;
  }

  .gjs-toolbar {
    display: flex;
    background-color: #E7E9EC;
    border: 2px solid rgba(0, 0, 0, 0.08);
    color: #000;
    padding: 0.2rem;
    border-radius: 4px;

    > div {
      display: flex;
      align-items: center;

      .gjs-toolbar-item {
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0.1rem;
        height: 100%;
        border-radius: 4px;

        &:hover {
          background: rgba(0, 0, 0, 0.08);
        }
        
        &::after {
          font-family: 'LatoRegular';
          padding-top: 0.6rem;
        }
      }

      .fa-arrow-up {
        display: none;

        &::after {
          content: 'Select Parent';
        }
      }

      .fa-arrows {
        &::after {
          content: 'Move';
        }
      }

      .fa-clone {
        &::after {
          content: 'Duplicate';
        }
      }

      .fa-trash-o {
        &::after {
          content: 'Delete';
        }
      }

      .fa-image {
        &::after {
          content: 'Change Photo';
        }
      }

      .fa-pencil {
        &::after {
          content: 'Edit Photo';
        }
      }
    }
  }

  .gjs-pn-views,
  .gjs-pn-views-container {
    width: 17rem;
    border-left: 1px solid #e0e8ed;
  }

  .gjs-cv-canvas {
    height: 100%;
    width: calc(100% - 17rem);
    top: 0;
  }

  .gjs-highlighter {
    outline: none;
  }

  .gjs-block {
    height: 7rem;
    background: #fff;
    box-shadow: none;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 0.7rem;

    &:hover {
      color: #000;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2),
        0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
    }
  }
}
