@font-face {
  font-family: 'FuturaStd';
  src: url('/static/fonts/futurastd/FuturaStd-Book.eot');
  src: local('Futura Std Book'), local('FuturaStd-Book'),
    url('/static/fonts/futurastd/FuturaStd-Book.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/futurastd/FuturaStd-Book.woff2') format('woff2'),
    url('/static/fonts/futurastd/FuturaStd-Book.woff') format('woff'),
    url('/static/fonts/futurastd/FuturaStd-Book.ttf') format('truetype'),
    url('/static/fonts/futurastd/FuturaStd-Book.svg#FuturaStd-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
