/** tempos-headline */
@font-face {
  font-family: "Tempos Headline";
  src: url("/static/fonts/tempos-headline/TiemposHeadlineWeb-Regular.woff");
}

/** Thin */
@font-face {
  font-family: "Tempos Headline";
  font-weight: 200;
  src: url("/static/fonts/tempos-headline/TiemposHeadlineWeb-Light.otf");
}
