/* bm-menu */
%brand-row {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #1c364c;
  padding: 0 15px;

  .bran-name-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    cursor: pointer;
    align-items: center;
    height: 100%;
  }
  .brand-name {
    margin: 0 auto 0 0;
    font-size: 14px;
  }
  .avatars-container {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 8px;
    flex-wrap: wrap;
    .avatar {
      padding: 4px 2px;
    }
  }
  .column {
    font-size: 14px;
  }
  .icon {
    color: #c9d7df;
    margin-right: 8px;
  }
  .delete-button--brand-row {
    margin: 15px;
    visibility: hidden;
    cursor: pointer;
    color: #8ca2b6;
  }
  .edit-button--brand-row {
    margin: 11px 4px;
    visibility: hidden;
    border-radius: 3px;
    background-color: #f8fafb;
    border: solid 1px #dde2e6;
    text-align: center;
    font-size: 13px;
    color: #8da2b5;
    padding: 2px 17px;
    &.visible {
      visibility: visible;
    }
  }
  .add-member--brand-row {
    margin: 0 4px;
    border: none;
    background-color: transparent;
    text-align: center;
    color: #8da2b5;
    font-size: 20px;
    &:hover {
      color: #2196f3;
    }
  }

  &:hover {
    background-color: #f8fafb;
    .delete-button--brand-row {
      visibility: visible;
    }
    .edit-button--brand-row {
      visibility: visible;
    }
    .edit-button--brand-row:hover {
      background-color: #f1f4f8;
      color: #2196f3;
    }
    .delete-button--brand-row:hover {
      color: #2196f3;
    }
  }
}


