@import 'brandRow';

%brands {
  .header {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 14px;
    font-weight: 500;
    color: #8ca2b6;
  }
  .brandRow {
    @extend %brandRow;
  }
  .panel-group .panel {
    border: none;
    .panel-heading {
      padding: 0;
    }
    .panel-body {
      padding: 0;
    }
  }
}
