@import 'brand-row';

%brands {
  .header {
    padding-top: 16px;
    padding-bottom: 30px;
    font-size: 14px;
    font-weight: 500;
    color: #8ca2b6;
  }
  .spinner__brands{
    position: fixed;
    left: 50%;
    margin-left: -27px;
    margin-top: 8px;
  }
  .spinner__brands.hide_spinner{
    visibility: hidden;
  }
  .add-brand {
    height: 46px;
    background-color: #f8fafb;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .label__add-brand {
      font-size: 14px;
      font-weight: 500;
      text-align: left;
      color: #1c364c;
      margin-left: 27px;
      line-height: 46px;
    }
    .button__add-brand {
      border-radius: 3px;
      background-color: #ffffff;
      border: solid 1px #e7eef0;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
      color: #78909c;
      cursor: pointer;
      margin-right: 8px;
      padding: 6px 18px;
      margin-top: 6px;

      &:hover {
        color: #2196f3;
      }
    }
  }

  .brand-row {
    @extend %brand-row;
  }
  .child-brand {
    margin-left: 8px;
  }
  margin: 0;
  .panel {
    border: none;
    margin-bottom: 0;
    .panel-heading {
      padding: 0;
    }
    .panel-body {
      padding: 0;
    }
  }
}
