.c-filters__form-cta-buttons {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  z-index: 2;
  background: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.23);
  display: flex;
  justify-content: space-between;
}

