
.c-group-radios {
  border: solid 1px #e2e6ea;
}

.c-group-radios__item-label {
  height: 4.8rem;
  display: inline-block;
  margin: 0;
  padding: 0;
  cursor: pointer;
  text-align: center;
  border: inherit;
  border-width: 0 1px 0 0;

  &:last-child {
    border-width: 0;
  }
}

.c-group-radios__item-input {
  @include visually-hidden();
}

.c-group-radios__item-label__text {
  line-height: 48px;
  font-size: 1.7rem;
  font-weight: normal;
  color: #9b9b9b;

  .c-group-radios__item-input:checked + & {
    color: #2196f3;
  }
}