.c-min-max-inputs {
  display: flex;
  border: 1px solid $gray;
  > div {
    position: relative;
    display: flex;
    flex-flow: column;
    width: calc(50% - 0.5px);
    display: inline-block;

    &:first-child {
      border: inherit;
      border-width: 0 1px 0 0;
    }
  }
}

.c-min-max-inputs__label {
  display: block;
  margin: 0;
  padding: 0.5rem;
  cursor: pointer;
  font-weight: normal;
}

.c-min-max-inputs__field {
  height: 40px;
  width: 100%;
  padding: 0.25rem 0.5rem 0.5rem;
  line-height: 1;
  border-width: 0;

  &:focus {
    outline-width: 0;
  }

  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: $brand-secondary;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    color: $brand-secondary;
  }
  &:-ms-input-placeholder {
    /* IE 10+ */
    color: $brand-secondary;
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    color: $brand-secondary;
  }

  .c-min-max-inputs__alert + & {
    padding-top: 1rem;
  }
}

.c-min-max-inputs__alert {
  width: 100%;
  padding: 0.25rem 0.5rem;
  border: 1px solid;

  &.has-error {
    color: $brand-danger;
    border-color: $brand-danger;
  }

  &.has-warning {
    color: $brand-warning;
    border-color: $brand-warning;
  }
}
