.contact__import-csv {
  padding-bottom: 30px;
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  .c-stepper {
    margin: 0 auto;
    width: 500px;
  }
}

.contact__import-csv > .contact__import-csv__container {
  height: calc(100vh - 104px);
  overflow: auto;

  .current-step {
    margin-top: 20px;
    text-align: center;
    font-weight: 500;
  }
}

.contact__import-csv--mapper {
  margin: 50px 0 250px 0;
  padding: 0 16px;
  min-height: 56.5vh;

  .column-row {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #17283a;
    margin-bottom: 10px;
    height: 56px;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #e7eef2;
    padding: 0 15px;

    &.heading {
      padding: 0;
      background-color: transparent;
      border: none;
      font-weight: 500;
      color: #8da2b5;
    }

    .name {
      width: 40%;
      &.is-empty {
        color: gray;
      }

      &.show-empty-cta {
        cursor: pointer;
        color: #62778c;
        text-decoration: underline;
        &:focus {
          outline: none;
        }
      }
    }

    .map-list {
      width: 35%;
    }

    .map-label {
      width: 25%;
      padding-left: 10px;
      position: relative;
      .isInvalid {
        border: 1px solid red;
        border-radius: 4px;
      }
      .required {
        background-color: red;
        color: #fff;
        position: absolute;
        right: 0;
        top: 0;
        border-radius: 0 4px 0 4px;
        padding: 4px 3px;
      }
    }
  }
}

.contact__import-csv--upload {
  padding: 0 12%;
}

.contact__import-csv--upload-info {
  color: #62778c;
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  margin-top: 10%;
  min-height: 57.5vh;

  button {
    margin-left: 8px;
  }

  .sk-circle {
    margin-top: 25px;
    margin-bottom: 40px;
  }

  .error-message {
    color: #fe3824;

    .description {
      margin: 10px 0 15px 0;
      font-size: 20px;
    }
  }
}

.contact__import-csv__footer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 48px;
  padding-right: 16px;
  background-color: #f8fafb;
  border-top: solid 1px #dce5eb;


  .contact__import-csv--upload__cancel-btn {
    margin-right: 10px;
  }
}

.contact__import-csv--select-file {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 62vh;
}

.contact__import-csv--select-file
  > .contact__import-csv--select-file__dropzone {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90%;
  height: 210px;
  border-radius: 3px;
  background-color: #f0f4f7;
  border: 1px dashed #62778c;
  &.hasFile {
    background-color: rgba(33, 150, 243, 0.05);
  }

  &.isActive {
    background-color: #fff;
  }

  .inner {
    font-size: 14px;
    color: #758a9e;
  }

  .inner > img {
    width: 50px;
    margin-bottom: 15px;
  }

  .inner .link {
    color: #003bdf;
    cursor: pointer;
  }
}
