.contacts {
  .list {
    @extend %contacts-list--table;
    @extend %contacts-list--toolbar;
    @extend %contacts-list--no-contact;
  }
}

%contacts-list--no-contact {
  .no-contacts {
    color: #b1b1b1;
    text-align: center;
    padding-top: 30vh;
    .title {
      font-size: 19px;
    }
    .no-contacts--button-container {
      display: inline-block;

      > div {
        margin-top: 8px;
      }
    }
  }
}

%contacts-list--toolbar {
  .toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .info {
      span.title {
        font-size: 31px;
        font-weight: 300;
        line-height: 1;
      }

      .count {
        color: #9b9b9b;
        margin-left: 8%;
      }
    }

    .cta {
      text-align: right;
      display: flex;
      justify-content: flex-end;
      .contacts__toolbar__import {
        margin-right: 12px;
        border-radius: 3px;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 0.5px;
        color: #2196f3;
        background-color: #ffffff;
        border: solid 1px #dce5eb;
        padding: 8px 15px;
        cursor: pointer;
      }
    }
  }
}

%contacts-list--table {
  .table {
    $border-color: #e8eef3;
    border-collapse: separate;
    border-spacing: 0 8px;
    font-size: 15px;

    tr {
      line-height: 60px !important;
    }

    tr td:first-child {
      border-radius: 4px 0 0 4px;
      border-left: 1px solid $border-color !important;
    }

    tr td:last-child {
      border-radius: 0 4px 4px 0;
      border-right: 1px solid $border-color !important;
    }

    td {
      vertical-align: middle;
      border-bottom: 1px solid $border-color !important;
      border-top: 1px solid $border-color !important;
    }

    tr.header td {
      border: none !important;
    }

    .header {
      background: transparent;
      margin-bottom: 40px;
      font-weight: 500;
      text-align: left;
      color: #8da2b5;

      td > i {
        margin-right: 5px;
      }

      .sortable {
        cursor: pointer;
        &:hover {
          color: #2196f3;
        }

        &.isActive {
          color: #2196f3;
        }
      }
    }

    .item {
      cursor: pointer;
      border-radius: 4px;
      background-color: #fff;
      color: #5b6469;
      transition: 0.3s ease-in all;
      font-size: 14px;
      color: #5b6469;
      &:hover {
        background-color: #f8fafb;
      }

      .ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .name {
        display: flex;
        flex-direction: row;
        align-items: center;
        span {
          margin-left: 10px;
        }
      }
    }
  }
}

.td--dropdown-container {
  .dropdown-menu-right {
    width: 150px !important;
  }
}