.contacts {
  .list {
    @extend %contacts-list--table;
    @extend %contacts-list--toolbar;
    @extend %contacts-list--no-contact;
  }
}

%contacts-list--no-contact {
  .no-contacts {
    color: #b1b1b1;
    text-align: center;
    padding-top: 30vh;
    .title {
      font-size: 19px;
    }
    .no-contacts--button-container {
      display: inline-block;

      > div {
        margin-top: 8px;
      }
    }
  }
}

%contacts-list--toolbar {
  .toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .info {
      span.title {
        font-size: 31px;
        font-weight: 300;
        line-height: 1;
      }

      .count {
        color: #9b9b9b;
        margin-left: 8%;
      }
    }

    .cta {
      text-align: right;
      display: flex;
      justify-content: flex-end;
      .contacts__toolbar__import {
        margin-right: 12px;
        border-radius: 3px;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 0.5px;
        color: #2196f3;
        background-color: #ffffff;
        border: solid 1px #dce5eb;
        padding: 8px 15px;
        cursor: pointer;
      }
    }
  }
}

%contacts-list--table {
  .contacts-list-table {
    .rt-tbody{
      padding-bottom: 2em;
    }
    padding: 2em 2em 0;
    .select-row {
      visibility: hidden;
      &.selected {
        visibility: visible;
      }
    }
    .rt-tr:hover {
      .select-row {
        visibility: visible;
      }
    }
  }
}

.td--dropdown-container {
  .dropdown-menu-right {
    width: 150px !important;
  }
}

.c-react-table-menu {
  .dropdown-menu {
    border-width: 0 !important;

    > li > a {
      color: red !important;
    }
  }
}
