.modal-add-tag {
  .modal-header {
    margin-bottom: 10px;
    background-color: #e2e6ea;
    .modal-title {
      display: inline-block;
      margin: 1.5% 0 0 2%;
      font-size: 24px;
      font-weight: 600;
      line-height: 1.0;
      letter-spacing: -0.6px;
      color: #4a4a4a;
    }
    .done {
      color: #2196f3;
      font-size: 17px;
      float: right;
      &:hover {
        text-decoration: none;
      }
      &:focus {
        outline: none;
        text-decoration: none;
      }
    }
  }
  .modal-body {
    padding: 0;
    .tags-container {
      padding: 16px;
    }
  }
  .modal-footer {
    margin-top: 50px;
    text-align: left;
    input {
      display: inline-block;
      width: 80%;
      border: none;
      box-shadow: none;
    }
    button {
      float: right;
    }
  }
}
