@import './list';
@import './tags';
@import './editable';
@import './stage';
@import './empty_state';
@import './profile/index';

/* modals */
@import './modal_add_contact';
@import './modal_add_tag';

.contacts {
  margin-left: 70px;
  margin-right: 0;
  min-height: 100vh;
  background-color: #f8fafb;

  button {
    &:focus {
      outline: none;
    }
  }
}
