<!-- Footer-->
<footer>
  <div class="main-footer container">
    <div class="logo">
      <img src="static/_website/files/rechat-filled-logo.svg" alt="">
      <img src="static/_website/files/rechat-logo.svg" alt="">
    </div>
    <div class="column">
      <div class="title">About</div>
      <ul class="links">
        <li>
          <a href="/about">Who we are</a>
        </li>
        <li>
          <a href="/about#open-positions">Careers</a>
        </li>
      </ul>
    </div>
    <div class="column">
      <div class="title">Support</div>
      <ul class="links">
        <li>
          <a href="/contact">Contact us</a>
        </li>
        <li>
          <a href="/faq">FAQ</a>
        </li>
        <!-- <li>
          <a href="#">Resources</a>
        </li> -->
      </ul>
    </div>
    <div class="info">
      <div class="title">Increase Revenue & Effciency</div>
      <div class="desc">
        We're confident that the great tooling, automation and methdologies in Rechat can help your company grow its revenue. Close
        more deals, more often.
      </div>
      <a class="button-primary" href="/contact">Learn More</a>
    </div>
  </div>

  <ul class="additional-links">
    <li>
      <a href="#">Terms of Service</a>
    </li>
    <li>
      <a href="#">MLS Terms</a>
    </li>
    <li>
      <a href="#">Privacy Policy</a>
    </li>
    <li>
      <a href="#">© Rechat, Inc. 2019</a>
    </li>
  </ul>
</footer>