<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>
  <%- title %>
</title>
<link rel="stylesheet" href="/static/_website/styles/main.css">
<link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Barlow:400,600,700" rel="stylesheet">
<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="/static/_website/files/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/_website/files/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/_website/files/favicons/favicon-16x16.png">
<link rel="mask-icon" href="/static/_website/files/favicons/safari-pinned-tab.svg" color="#003bdf">
<link rel="shortcut icon" href="/static/_website/files/favicons/favicon.ico">

<% if( process.env.NODE_ENV !== 'development' ){ %>
<!-- Google Tag Manager -->
<script>
  (function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({
      'gtm.start': new Date().getTime(),
      event: 'gtm.js'
    });
    var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s),
      dl = l != 'dataLayer' ? '&l=' + l : '';
    j.async = true;
    j.src =
      'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
    f.parentNode.insertBefore(j, f);
  })(window, document, 'script', 'dataLayer', 'GTM-KQNVD5M');

</script>
<!-- End Google Tag Manager -->
<% } %>
