<% if( process.env.NODE_ENV == 'development' ){ %>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KQNVD5M" height="0" width="0"
    style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<% } %>

<!-- Navigation -->
<nav class="c-main-nav container">
  <div class="logo">
    <a href="/">
      <img src="/static/_website/files/rechat-logo.svg" alt="Rechat Logo">
    </a>
  </div>
  <ul class="c-main-nav__list u-no-style-list">
    <li class="c-main-nav__item">
      <a href="/about">Who we are</a>
    </li>
    <li class="c-main-nav__item">
      <a href="/faq">FAQ</a>
    </li>
    <!-- <li class="c-main-nav__item"><a  href="/">Resources</a></li> -->
    <li class="c-main-nav__item">
      <% if (isLoggedIn) { %>
      <a href="/dashboard">Sign In</a>
      <% } %>
      <% if (!isLoggedIn) { %>
      <a href="/signin">Sign In</a>
      <% } %>
    </li>
    <li>
      <a class="button-outline button-outline--small" href="/contact">Learn More</a>
    </li>
  </ul>
</nav>
