<!-- Navigation -->
<nav>
  <div class="logo">
    <a href="/">
      <img src="/static/_website/files/rechat-logo.svg" alt="Rechat Logo">
    </a>
  </div>
  <ul>
    <li>
      <a class="button-link" href="/about">Who we are</a>
    </li>
    <li>
      <a class="button-link" href="/faq">FAQ</a>
    </li>
    <!-- <li><a class="button-link" href="/">Resources</a></li> -->
    <li>
      <a class="button-link" href="/signin">Sign In</a>
    </li>
    <li>
      <a class="button-link button-outline" href="/contact">Learn More</a>
    </li>
  </ul>
</nav>