.l-app__main {
  height: 100vh;

  &.is-logged-in {
    margin-left: $app-sidenav-width;

    .l-listings {
      box-shadow: -1px 0 2px 0 rgba(0,0,0,0.04), -1px 0 20px 0 rgba(0,0,0,0.1);
    }
  }
}
