.c-oops {
  height: 100vh;
  position: relative;
  color: #fff;
  background: #000 url('/static/images/oops/oops_bg.jpg') no-repeat center
    center;
  background-size: cover;
  background-position-x: -100px;

  @media screen and (min-width: 900px) {
    background-image: url('/static/images/oops/oops_bg@2x.jpg');
    background-position-x: 0;
  }
}

.c-oops__logo {
  position: absolute;
  top: 2rem;
  left: 2rem;
  display: block;
  font-size: 1.5rem;
  color: inherit;

  &:hover {
    color: inherit;
  }
}

.c-oops__body {
  width: 100%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  padding: 2rem;

  @media screen and (min-width: 1200px) {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.c-oops__body__title {
  font-size: 1.7rem;
  font-family: $font-family-sans-serif;

  @media screen and (min-width: 600px) {
    margin: 0 0 2rem;
    font-size: 2.4rem;
  }

  @media screen and (min-width: 1200px) {
    font-size: 3rem;
  }
}

.c-oops__body__message {
  font-weight: normal;

  @media screen and (min-width: 600px) {
    font-size: 1.125rem;
  }

  @media screen and (min-width: 1200px) {
    max-width: 900px;
    font-size: 1.6rem;
    margin: 0 auto;
  }

  a {
    color: inherit;
    text-decoration: underline;
  }
}
