.signin-page-wrapper {
  @media screen and (min-width: 35em) {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f4f7;
  }
}

.signin-page-wrapper.c-auth--register {
  @media screen and (min-width: 35em) {
    background-color: #fff;
  }

  @media screen and (min-width: 50em) {
    width: 70rem;
    position: relative;
    margin: 0 auto;
  }
}

.c-auth {
  max-width: 40rem;
  padding: 3rem 2rem;
  margin: 0 auto;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1;
  color: #88a3b7;

  @media screen and (min-width: 35em) {
    // 560px
    width: 48rem;
    max-width: 100%;
    margin: 0;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
  }

  .c-auth--register > & {
    @media screen and (min-width: 35em) {
      // 560px
      border-radius: 0;
      box-shadow: none;
    }

    @media screen and (min-width: 50em) {
      // 800px
      width: 60%;
      left: right;
      padding: 0;
    }
  }
}

.c-auth__header {
  margin-bottom: 6rem;
  font-size: 1.8rem;
  text-align: center;

  .c-confirm-modal & {
    margin-bottom: 3rem;
  }
}

.c-auth__logo {
  width: 6rem;
  border-radius: 3px;
  margin-bottom: 3rem;

  .c-auth--register & {
    @media screen and (min-width: 50em) {
      // 800px
      position: absolute;
      top: 2rem;
      left: 2rem;
      margin-bottom: 0;
    }
  }
}

.c-auth__title {
  margin: 0 0 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: #15374d;
}

.c-auth__subtitle {
  text-align: center;
  font-size: 1.7rem;
  line-height: 1;

  // .c-auth__title + & {
  //   margin-top: 2rem;
  // }
}

.c-auth__field {
  margin-bottom: 3rem;

  &:last-of-type {
    margin-bottom: 1rem;
  }
}

.c-auth__field__input-wrapper {
  position: relative;
}

.c-auth__field__input {
  width: 100%;
  height: 4.4rem;
  padding: 7px 1rem;
  transition: 0.4s;
  color: #333;
  letter-spacing: 1px;
  border-radius: 3px;
  color: #15374d;
  background: transparent;
  border: 1px solid #dce5eb;

  &:focus {
    outline: none;
  }
}

.c-auth__field__input ~ .focus-border:before,
.c-auth__field__input ~ .focus-border:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: darken(#dce5eb, 10%);
  transition: 0.3s;
}

.c-auth__field__input ~ .focus-border:after {
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
}
.c-auth__field__input ~ .focus-border i:before,
.c-auth__field__input ~ .focus-border i:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 0;
  background-color: darken(#dce5eb, 10%);
  transition: 0.4s;
}

.c-auth__field__input ~ .focus-border i:after {
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
}
.c-auth__field__input:focus ~ .focus-border:before,
.c-auth__field__input:focus ~ .focus-border:after,
.has-content.c-auth__field__input ~ .focus-border:before,
.has-content.c-auth__field__input ~ .focus-border:after {
  width: 100%;
  transition: 0.3s;
}
.c-auth__field__input:focus ~ .focus-border i:before,
.c-auth__field__input:focus ~ .focus-border i:after,
.has-content.c-auth__field__input ~ .focus-border i:before,
.has-content.c-auth__field__input ~ .focus-border i:after {
  height: 100%;
  transition: 0.4s;
}

.c-auth__field__label {
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  cursor: text;
  transition: 0.3s;
  line-height: 1;
  font-size: 1.7rem;
  font-weight: inherit;
  letter-spacing: 0.5px;
  color: #d1d7dc;

  .c-auth__field__input:focus + &,
  .has-content.c-auth__field__input + & {
    top: -18px;
    left: 0;
    font-size: 1.4rem;
    color: darken(#dce5eb, 10%);
    transition: 0.3s;

    > sup {
      color: red;
    }
  }
}

.c-auth__submit-btn {
  width: 100%;
  height: 4.4rem;
  display: block;
  padding: 0;
  margin: 2rem 0 4rem;
  line-height: 44px;
  font-size: 1.8rem;
  color: #fff;
  border-radius: 3px;
  border-width: 0;
  background-color: #2196f3;
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.c-auth__submit-btn:not([disabled]) {
  &:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
}

.c-auth__field__error-alert {
  margin-top: 1rem;
  padding: 0.7rem 1rem;
}

.c-auth__field__error-alert,
.c-auth__submit-alert,
.c-auth__submit-error-alert,
.c-auth__submit-alert--success {
  border-radius: 3px;
  font-size: 1.4rem;
}

.c-auth__submit-alert,
.c-auth__submit-error-alert,
.c-auth__submit-alert--success {
  margin-top: 2rem;
  padding: 1rem;
  line-height: 1.5;
}

.c-auth__field__error-alert,
.c-auth__submit-error-alert {
  color: #d0011b;
  background: rgba(208, 2, 27, 0.05);
  border: 1px solid rgba(208, 2, 27, 0.2);
}

.c-auth__submit-alert--success {
  margin-bottom: 3rem;
  color: #15374d;
  border: 1px solid #d1d7dc;
  background: rgba(33, 150, 243, 0.1);
}

.c-auth__submit-alert--warning {
  color: #f6a623;
  background: rgba(245, 166, 35, 0.05);
  border: 1px solid rgba(245, 166, 35, 0.2);
}

.c-auth--register__houseIcon {
  display: none;

  @media screen and (min-width: 50em) {
    width: 40%;
    display: block;
    float: left;
    margin-right: 4rem;
  }

  > img {
    max-width: 100%;
  }
}

.c-auth__field--radio {
  float: left;
  margin-right: 2rem;
  width: calc(50% - 1rem);

  &:last-of-type {
    float: right;
    margin-right: 0;
  }
}

.c-auth__field--radio__input {
  @include visually-hidden();

  &:focus {
    outline: none;
  }
}

.c-auth__field--radio__label {
  width: 100%;
  height: 4.4rem;
  margin: 0;
  padding: 0;
  cursor: pointer;
  text-align: center;
  font-weight: normal;
  color: #aaa;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  transition: 0.3s;
  justify-content: center;

  .c-auth__field--radio__input:checked + & {
    font-weight: 500;
    color: #333;
    border-color: #35b863;

    & > .c-auth__field--radio__label__icon {
      display: inline-block;
      vertical-align: middle;
      margin-right: 0.5rem;
    }
  }
}

.c-auth__field--radio__label__icon {
  display: none;
}

.c-auth__submit-error-alert__btn {
  color: #2196f3;
  display: block;
  padding: 0;
  border-width: 0;
  background: transparent;
}

.c-forgot {
  margin-top: -1rem;
  font-size: 1.4rem;
}
