.signin-page-wrapper {
  @media screen and (min-width: 35em) {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f4f7;
  }
}

.signin-page-wrapper.c-auth--register {
  @media screen and (min-width: 35em) {
    background-color: #fff;
  }

  @media screen and (min-width: 50em) {
    width: 700px;
    position: relative;
    margin: 0 auto;
  }
}

.c-auth {
  padding: 2rem;
  margin: 0 auto;
  line-height: 1;

  @media screen and (min-width: 35em) { // 560px
    width: 600px;
    margin: 0;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
  }

  .c-auth--register > & {
    @media screen and (min-width: 35em) { // 560px
      border-radius: 0;
      box-shadow: none;
    }

    @media screen and (min-width: 50em) { // 800px
      width: 60%;
      left: right;
      padding: 0;
    }
  }
}

.c-auth__header {
  margin-bottom: 4rem;
  font-size: 1.2rem;
  text-align: center;

  .c-confirm-modal & {
    margin-bottom: 2rem;
  }
}

.c-auth__logo {
  width: 64px;
  border-radius: 3px;
  margin-bottom: 2rem;

  .c-auth--register & {
    @media screen and (min-width: 50em) {
      // 800px
      position: absolute;
      top: 2rem;
      left: 2rem;
      margin-bottom: 0;
    }
  }
}

.c-auth__title {
  margin: 0 0 0.5em;
  font-weight: bold;
  letter-spacing: 1px;
}

.c-auth__subtitle {
  text-align: center;
}

.c-auth__field {
  margin-bottom: 3em;

  &:last-of-type {
    margin-bottom: 1em;
  }
}

.c-auth__field__input-wrapper {
  position: relative;
}

.c-auth__field__input {
  width: 100%;
  height: 36px;
  padding: 0.5em 1em;
  transition: 0.4s;

  letter-spacing: 1px;
  border-radius: 3px;
  background: transparent;
  border: 1px solid $gray;

  &:focus {
    outline: none;
  }
}

.c-auth__field__input ~ .focus-border:before,
.c-auth__field__input ~ .focus-border:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: $brand-primary;
  transition: 0.3s;
}

.c-auth__field__input ~ .focus-border:after {
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
}
.c-auth__field__input ~ .focus-border i:before,
.c-auth__field__input ~ .focus-border i:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 0;
  background-color: $brand-primary;
  transition: 0.4s;
}

.c-auth__field__input ~ .focus-border i:after {
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
}
.c-auth__field__input:focus ~ .focus-border:before,
.c-auth__field__input:focus ~ .focus-border:after,
.has-content.c-auth__field__input ~ .focus-border:before,
.has-content.c-auth__field__input ~ .focus-border:after {
  width: 100%;
  transition: 0.3s;
}
.c-auth__field__input:focus ~ .focus-border i:before,
.c-auth__field__input:focus ~ .focus-border i:after,
.has-content.c-auth__field__input ~ .focus-border i:before,
.has-content.c-auth__field__input ~ .focus-border i:after {
  height: 100%;
  transition: 0.4s;
}

.c-auth__field__label {
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  cursor: text;
  transition: 0.3s;
  line-height: 1;
  font-size: 1.7rem;
  font-weight: inherit;
  letter-spacing: 0.5px;

  .c-auth__field__input:focus + &,
  .has-content.c-auth__field__input + & {
    top: -18px;
    left: 0;
    font-size: 1.4rem;
    color: darken(#A9BBCB, 10%);
    transition: 0.3s;

    > sup {
      color: red;
    }
  }
}

.c-auth__submit-btn {
  width: 100%;
  height: 48px;
  display: block;
  padding: 0;
  margin: 2rem 0 4rem;
  color: #fff;
  border-radius: 3px;
  border-width: 0;
  background-color: $brand-primary;
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.c-auth__submit-btn:not([disabled]) {
  &:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
}

.c-auth__field__error-alert {
  margin-top: 0.5em;
  padding: 0.5em 1em;
}

.c-auth__field__error-alert {
  border-radius: 3px;
}

.c-auth__submit-alert,
.c-auth__submit-error-alert,
.c-auth__submit-alert--success {
  @extend .c-alert;
  line-height: 1.5;
  margin-bottom: 1em;
}

.c-auth__field__error-alert,
.c-auth__submit-error-alert {
  @extend .c-alert--error;
}

.c-auth__submit-alert--success {
  @extend .c-alert--success;
}

.c-auth__submit-alert--warning {
  @extend .c-alert--warning;
}

.c-auth--register__houseIcon {
  display: none;

  @media screen and (min-width: 50em) {
    width: 40%;
    display: block;
    float: left;
    margin-right: 4rem;
  }

  > img {
    max-width: 100%;
  }
}

.c-auth__field--radio {
  float: left;
  margin-right: 2rem;
  width: calc(50% - 1rem);

  &:last-of-type {
    float: right;
    margin-right: 0;
  }
}

.c-auth__field--radio__input {
  @include visually-hidden();

  &:focus {
    outline: none;
  }
}

.c-auth__field--radio__label {
  width: 100%;
  height: 4.4rem;
  margin: 0;
  padding: 0;
  cursor: pointer;
  text-align: center;
  font-weight: normal;
  color: #aaa;
  border: 1px solid #A9BBCB;
  display: flex;
  align-items: center;
  transition: 0.3s;
  justify-content: center;

  .c-auth__field--radio__input:checked + & {
    font-weight: 500;
    color: #333;
    border-color: #35b863;

    & > .c-auth__field--radio__label__icon {
      display: inline-block;
      vertical-align: middle;
      margin-right: 0.5rem;
    }
  }
}

.c-auth__field--radio__label__icon {
  display: none;
}

.c-auth__submit-error-alert__btn {
  color: $brand-primary;
  display: block;
  padding: 0;
  border-width: 0;
  background: transparent;
}

.c-forgot {
  margin: -1rem 0 2rem;
  font-size: 0.875rem; // 14px
}
