$rooms-padding: 4vw;

.chatroom {
  margin-left: 0;
  margin-right: 0;

  .no-padding {
    padding: 0;
  }
  .rooms {
    @extend %rooms;
  }
  .messages {
    @extend %messages;
  }
}

/**
* Messages
*/
%messages {
  $messages-height: 91vh;
  $height-of-create-message: 6vh;

  padding: 0;
  position: relative;
  height: 100vh;
  padding-top: 100vh - $messages-height;
  overflow: hidden;

  .messages-list {
    $hg: $messages-height - $height-of-create-message;
    min-height: $hg;
    max-height: $hg;
    overflow: auto;
    padding-top: 3vh;
    padding-bottom: 5vh;
    .message-item {
      &.queued {
        opacity: 0.4;
      }
      @extend %message-item;
      .recommendation {
        @extend %message-item-recommendation;
      }

      .alert {

      }
    }
  }

  .message-create {
    $mrgn: 2%;

    position: absolute;
    height: $height-of-create-message;
    bottom: $mrgn;
    left: $mrgn;
    right: $mrgn;
    overflow: hidden;
    border: 2px solid #ccc;
    border-radius: 3px;
    input {
      width: 100%;
      height: $height-of-create-message - 0.2vh;
      border: none;
      padding-left: 10px;
      color: #000;
      &:focus {
        outline: none;
      }
    }
  }

  .toolbar {
    @extend %messages-toolbar;
  }

  .loading {
    margin: 5px 15px;
  }
}

/*
 * Messages popup
 */
%messages-popup {
  @extend %messages;
  $messages-height: 50vh;
  $height-of-create-message: 6vh;
  height: 50vh;
  padding-top: 0;

  .messages-list {
    $hg: $messages-height - $height-of-create-message;
    min-height: $hg;
    max-height: $hg;
    overflow: auto;
  }

  .toolbar {
    display: none;
  }
}

%message-item {
  margin-bottom: 20px;
  padding: 0 2vw 0 3vw;
  .title {
    font-weight: bold;
  }
}

%message-item-recommendation{
  width: 70%;
  img {
    width: 100%;
  }
  .card {
    border: 1px solid #eee;
    .info {
      padding: 10px;
    }
    .message {
      margin: 30px 2px 8px 2px;
      color: gray;
    }
  }
}

%messages-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #303E4D;
  padding: 3% 1% 1% 3vw;
  margin-bottom: 2vh;
  height: 8vh;
  color: #fff;
  border-left: 1px solid #fff;
}

/**
* Rooms
*/
%rooms {
  background-color: #303E4D;
  .section-title {
    color: yellow;
    font-weight: bold;
    padding: 2vh 0 2vh $rooms-padding;
  }

  .list-container {
    max-height: 92.1vh;
    min-height: 92.1vh;
    overflow: auto;

    .list {
      @extend %rooms-list;
    }
  }

  .toolbar {
    @extend %rooms-toolbar;
  }
}

%rooms-list {
  color: #fff;
  .item {
    @extend %room-item;
  }
}

%rooms-toolbar {
  padding: 10px $rooms-padding 10px $rooms-padding;
}

%room-item {
  padding: 10px 4px 10px $rooms-padding;
  cursor: pointer;
  &:hover {
    background-color: #465A71;
  }
  &.active {
    background-color: green;
  }
}

.bm-menu-wrap {
  z-index: 101 !important;
  background-color: #303E4D;
  color: #fff;
  .rooms {
    @extend %rooms;
  }
}

.chat-popup {
  position: fixed;
  height: 50vh;
  bottom: 0;
  background-color: #202A33;
  border-radius: 3px 3px 0 0;
  z-index: 100;
  color: #fff;
  @media (max-width : 738px) {
    display: none !important;
  }

  .messages {
    @extend %messages-popup;
  }
}
