$rooms-padding: 2.5vw;

.chatroom {
  margin-left: 50px;
  margin-right: 0;

  .no-padding {
    padding: 0;
  }
  .rooms {
    @extend %rooms;
  }
  .messages {
    @extend %messages;
  }
}

.chatroom-fullscreen {
  position: fixed;
  z-index: 200;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  transition: 0.5s;
  background-color: #fff;

  .chatroom {
    margin-left: 0;
    position: relative !important;
    .rooms {
      .list {
        padding-bottom: 4vh;
      }
    }
  }
}

/**
* Messages
*/
%messages {
  $messages-height: 91vh;
  $height-of-create-message: 6vh;

  padding: 0;
  position: relative;
  height: 100vh;
  padding-top: 100vh - $messages-height;
  overflow: hidden;

  .messages-list {
    $hg: $messages-height - $height-of-create-message;
    min-height: $hg;
    max-height: $hg;
    overflow: auto;
    padding-top: 3vh;
    padding-bottom: 2vh;
    .message-item {
      @extend %message-item;
    }
  }

  .message-create {
    $mrgn: 2%;

    position: absolute;
    height: $height-of-create-message;
    bottom: $mrgn;
    left: $mrgn;
    right: $mrgn;
    overflow: hidden;
    border: 2px solid #ccc;
    border-radius: 3px;
    input {
      width: 100%;
      height: $height-of-create-message - 0.2vh;
      border: none;
      padding-left: 10px;
      color: #000;
      &:focus {
        outline: none;
      }
    }
  }

  .toolbar {
    @extend %messages-toolbar;
  }

  .loading {
    margin: 5px 15px;
  }
}

%message-item {
  $left-w: 50px;
  margin: 0 10px 15px 26px;
  min-height: 40px;
  .avatar {
    float: left;
    width: $left-w;
  }
  .content {
    margin-left: $left-w;
    .title {
      font-weight: bold;
      font-size: 15px;
    }

    .recommendation {
      @extend %message-item-recommendation;
    }

    .alert {

    }
  }
}

%message-item-recommendation{
  width: 30%;
  img {
    width: 100%;
    border-radius: 4px;
  }
  .card {
    .info {
      padding: 10px;
    }
    .message {
      margin: 30px 2px 8px 2px;
      color: gray;
    }
  }
}

%messages-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #edeff2;
  padding: 20px 0 24px 26px;
  margin-bottom: 2vh;
  height: 66px;
  color: #4a494a;
  border-left: 1px solid #fff;
  font-weight: bold;
  font-size: 17px;
}

/**
* Rooms
*/
%rooms {
  background-color: #263445;
  min-height: 100vh;
  .section-title {
    color: yellow;
    font-weight: bold;
    padding: 2vh 0 2vh $rooms-padding;
  }

  .list-container {
    max-height: 92.1vh;
    min-height: 92.1vh;
    overflow: auto;

    .list {
      @extend %rooms-list;
    }
  }

  .toolbar {
    @extend %rooms-toolbar;
  }
}

%rooms-list {
  color: #fff;
  .item {
    @extend %room-item;
  }
}

%rooms-toolbar {
  padding: 20px $rooms-padding 0 $rooms-padding;
  .toggle-bar {
    margin-left: 5px;
    color: #b2b2b2;
    float: right;
    background-color: #394553;
    height: 30px;
    padding: 0px 4px;
    border-radius: 4px;
    width: 30px;
    text-align: center;
  }
  input {
    background-color: #394553;
    color: #fff;
    border-radius: 4px;
    border: none;
    width: 230px;
    height: 30px;
    &::-webkit-input-placeholder{
      text-align: center;
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}

%room-item {
  padding: 10px 4px 10px $rooms-padding;
  margin-right: 0;
  margin-left: 0;
  cursor: pointer;
  vertical-align: middle;
  .avatar {
    padding-left: 0;
    padding-right: 0;
    margin-right: 10px;
  }
  .title {
    padding: 6px 0 0 8px;
    opacity: 0.5;
  }
  .notifications {
    text-align: center;
    padding-top: 4px;
    .count {
      padding: 2px;
      border-radius: 10px;
      font-size: 11px;
      min-width: 30px;
      display: inline-block;
      background-color: #2196f3;
    }
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  &.active {
    background-color: #2196f3;
    .title {
      opacity: 1;
    }
    .notifications {
      display: none;
    }
  }
}

.chat-popup {
  $height: 360px;
  $bar-height: 30px;
  position: fixed;
  height: $height;
  bottom: 0;
  background-color: #202A33;
  border-radius: 4px;
  z-index: 100;
  color: #fff;
  @media (max-width : 738px) {
    display: none !important;
  }

  &.minimize {
    bottom: ($height - $bar-height) * -1;
  }

  .bar {
    text-align: right;
    padding: 4px 10px;
    background-color: gray;
    border-radius: 4px 4px 0 0;
    height: $bar-height;
    color: #000;
    &.isActive {
      background-color: skyblue;
    }
    .icon {
      cursor: pointer;
      margin-left: 6px;
      &.fa-times {
        font-size: 16px;
      }
    }
    .room-title {
      float: left;
      padding-top: 2px;
      cursor: pointer;
    }
  }
  .messages {
    @extend %messages-popup;
  }
}

/*
 * Messages popup
 */
%messages-popup {
  @extend %messages;
  $messages-height: 330px;
  $height-of-create-message: 40px;
  $height-of-typing-area: 23px;
  height: $messages-height;
  position: relative;
  padding-top: 0;

  .messages-list {
    $hg: $messages-height - $height-of-create-message - $height-of-typing-area;
    min-height: $hg;
    max-height: $hg;
    overflow: auto;
    padding-bottom: 0;
    .message-item {
      margin: 0 10px 10px 15px !important;
      margin-bottom: 0;
    }
  }

  .message-typing {
    height: $height-of-typing-area;
    color: #fff;
    padding-left: 10px;
    font-size: 13px;
    color: green;
  }

  .message-create {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    border: none;
    border-radius: 0;
  }

  .toolbar {
    display: none;
  }

  .loading {
    height: 44vh;
  }
}

/* bm-menu */
.bm-menu-wrap {
  z-index: 101 !important;
  background-color: #263445;
  color: #fff;
  .rooms {
    @extend %rooms;
    .list-container {
      max-height: 88vh;
      min-height: 88vh;
    }
  }
}

.bm-overlay {
  z-index: 99 !important;
}
