
%btn {
  width: 100px;
  height: 32px;
  position: absolute;
  z-index: 2;
  border-radius: 4px;
  line-height: 1;
  border-width: 0;

  > svg {
    display: inline-block;
    vertical-align: middle;
    margin-right: .5rem;
  }
}

.c-concierge .header.header.header.header {
  margin-top: 10px;
  margin-bottom: 0;
}

.c-files,
.c-envelopes,
.c-submissons {
  margin-bottom: 4rem;
} // .c-submissons

.c-concierge__btn--decline {
  @extend %btn;
  right: 115px;
  background-color: #f6f6f6;
  color: #5b6469;
  margin-right: 1rem;
} // .c-concierge__btn--decline

.c-concierge__btn--approve {
  @extend %btn;
  right: 15px;
  background-color: #2196f3;
} // .c-concierge__btn--approve

.c-concierge__item-link {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0
} // .c-concierge__item-link

.c-concierge__sublist-title {
  font-size: 17px;
  font-weight: 300;
  color: #5e676c;
  margin-top: 2rem;
} // .c-concierge__sublist-title