
.c-concierge__header {
  margin-bottom: 4rem;
  margin-left: -1.5rem;
  color: #5e676c;
  background-color: transparent;

  .fa {
    display: inline-block;
    font-size:  2rem;
    margin-right: .75rem;
  }
  > span {
    cursor: pointer;
    &:hover {
      color: darken(#5e676c, 25%);
    }
  }
}

.c-concierge .header.header.header.header {
  margin: 10px 0 0;
}

.c-files,
.c-envelopes,
.c-submissons {
  margin-bottom: 6rem;
} // .c-submissons

.c-concierge__list-title {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 31px;
  font-weight: 300;
  line-height: 1;
  color: #5e676c;
} // .c-concierge__list-title



.c-concierge__sublist-title {
  font-size: 20px;
  font-weight: 300;
  color: #5e676c;
} // .c-concierge__sublist-title

.c-concierge__item-link {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0
} // .c-concierge__item-link





.c-concierge__btn {
  width: 100px;
  height: 32px;
  border-radius: 4px;
  line-height: 1;
  border-width: 0 !important;
}

.c-concierge__btn--cancel {
  background-color: #f6f6f6;
  color: #5b6469;
  margin-right: 1rem;
}

.c-concierge__btn--approve {
  background-color: #2196f3;
}

%c-concierge__btn--review {
  // position: absolute;
  // z-index: 2;

  > svg {
    display: inline-block;
    vertical-align: middle;
    margin-right: .5rem;
  }
}

.c-concierge__review__btn--decline {
  @extend .c-concierge__btn;
  @extend .c-concierge__btn--cancel;
  @extend %c-concierge__btn--review;
  // right: 115px;
} // .c-concierge__btn--decline

.c-concierge__review__btn--approve {
  @extend .c-concierge__btn;
  @extend .c-concierge__btn--approve;
  @extend %c-concierge__btn--review;
  // right: 15px;
} // .c-concierge__btn--approve

.c-concierge__modal__btn--cancel {
  @extend .c-concierge__btn;
  @extend .c-concierge__btn--cancel;
}

.c-concierge__modal__btn--approve {
  @extend .c-concierge__btn;
  @extend .c-concierge__btn--approve;
}


%review-state-caption {
  opacity: 0.4;
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
  margin-top: 7px;
} // %review-state-caption

.review-state--reject,
.review-state--declined,
.review-state--rejected {
  @extend %review-state-caption;
  color: #ff3200;
} // .review-state--reject


.review-state--ok,
.review-state--approved {
  @extend %review-state-caption;
  color: #35b863;
} // .review-state--ok

.review-state--pending {
  @extend %review-state-caption;
  color: #f5a623;
  opacity: .6;
} // .review-state--pending


.review-state--submit-request {
  display: block;
  margin-top: -1rem;
  margin-left: 2.8rem;
  margin-bottom: 0;
} // .review-state--submit-request

