.crm {
  .contacts {
    min-height: 100vh;
    background-color: #f6f6f6;

    .list {
      padding: 4%;
    }

    .dashboard {
      .header {
        padding: 1% 3.5%;
        background: #fff;
        i.fa-angle-left {
          font-size: 25px;
          margin-right: 0px;
          width: 20px;
          &:hover {
            color: blue;
            cursor: pointer;
          }
        }
      }

      .content {
        margin: 2%;
        .card {
          padding: 20px;
          background: #fff;
          border-radius: 3px;
          margin-bottom: 5%;
          .title {
            color: #a3a6a8;
            margin: 10px 0 0 25px;
            display: block;
          }
        }

        .contact-info {
          margin-bottom: 2px;
          .email {
            font-size: 1.5em;
            display: inline-block;
            margin-left: 4%;
          }
        }

        .stage {
          padding: 5px;
        }
      }
    }
  }
}
