%contact-tags {
  ul.tags {
    display: inline;
    padding: 0;
    display: inline;
    li {
      display: inline-block;
      border-radius: 100px;
      background-color: #ffffff;
      border: solid 1px #d5d5d5;
      color: #9b9b9b;
      margin: 0 5px 5px 0;
      padding: 5px 10px;
      cursor: pointer;

      &.active {
        background-color: #263445;
        border-color: transparent;
        color: #fff;
      }
      &.new-item {
        border: 1px dashed #d6d6d6;
        background-color: transparent;
        color: #d6d6d6;
        min-width: 85px;
        text-align: center;
      }
    }
  }
}

%empty-state {
  margin-top: 10vh;
  text-align: center;
  color: #c7c7c7;
  img {
    width: 32px;
    margin-bottom: 10px;
  }
}

.crm {
  .contacts {
    min-height: 100vh;
    background-color: #f6f6f6;

    .no-contacts {
      color: #b1b1b1;
      text-align: center;
      margin-top: 30vh;
      .title {
        font-size: 19px;
      }
      button {
        margin-top: 8px;
      }
    }

    .toolbar {
      button {
        width: 150px;
        height: 40px;
        font-size: 14px;
      }
    }

    .list {
      padding: 2rem 2rem 4rem;
    }

    .dashboard {
      // @extend %contact-editable;

      .header {
        padding: 0.5rem 2rem;
        background: #fff;
        i.fa-angle-left {
          font-size: 25px;
          margin-right: 0px;
          width: 20px;
          &:hover {
            color: blue;
            cursor: pointer;
          }
        }
      }

      .content {
        padding: 3rem 1rem;
        margin: 0;
        .card {
          padding: 5px;
          background: #fff;
          border-radius: 3px;
          margin-bottom: 5%;
          .title {
            color: #a3a6a8;
            border-bottom: solid 1px #e5e7ea;
            width: 90%;
            margin: 5px auto;
            font-weight: bold;
            padding-bottom: 10px;
          }

          ul.table {
            margin: 2% 5%;
            padding: 0;
            width: 100%;
            li {
              .name {
                color: #5b6469;
                width: 35%;
                float: left;
              }
              .data {
                margin-bottom: 15px;
                margin-right: 3%;
                font-size: 13px;
                color: #9b9b9b;
                width: 55%;
                margin-left: 35%;
              }
            }
          }

          @extend %contact-tags;
        }

        .contact-info {
          margin-bottom: 2px;
          padding: 20px;
          .email {
            font-size: 1.5em;
            display: inline-block;
            margin-left: 4%;
          }
        }

        .activity {
          margin-top: 2%;
          padding: 1% 0 0 0;
          min-height: 50vh;
          .head {
            ul {
              margin: 0;
              padding: 10px;
              li {
                display: inline-block;
                margin-right: 15px;
                cursor: pointer;
                &.active {
                  color: #2196f3;
                  font-weight: bold;
                  border-bottom: 2px solid #2196f3;
                  padding-bottom: 5px;
                }
              }
            }
          }

          .content {
            .blank {
              text-align: center;
              color: #c7c7c7;
              font-size: 17px;
              margin-top: 10vh;
              img {
                display: block;
                margin: 0 auto 10px auto;
              }
            }
          }
        }

        .note {
          border-radius: 3px;
          background-color: #f7f7f7;
          border: solid 1px #e5e5e5;
          font-size: 16px;
          ::-webkit-input-placeholder {
            color: #c6c6c6;
            font-size: 21px;
            padding: 8px;
          }
          ::-moz-placeholder {
            color: #c6c6c6;
            font-size: 21px;
            padding: 8px;
          } /* Firefox 19+ */
          :-moz-placeholder {
            color: #c6c6c6;
            font-size: 21px;
            padding: 8px;
          } /* Firefox 18- */
          :-ms-input-placeholder {
            color: #c6c6c6;
            font-size: 21px;
            padding: 8px;
          }
          .head {
            margin: 10px;
            padding-left: 20px;
            font-size: 13px;
            font-weight: bold;
            img {
              margin-right: 10px;
            }
          }
          textarea {
            width: 100%;
            height: 150px;
            border: none;
            border-bottom: solid 1px #e5e5e5;
            resize: none;
            &:focus {
              outline: 0px !important;
              -webkit-appearance: none;
            }
          }
          .footer {
            text-align: right;
            button {
              margin: 0 5px 5px 0;
              padding: 5px 18px;
            }
          }
        }

        #tab-timeline {
          background-color: #fff;
          ul.nav-tabs {
            border: none;
            margin: 2% 2% 3% 2%;
            li {
              a {
                color: #9b9b9b;
                &:hover {
                  border-color: transparent;
                  background-color: transparent;
                }
              }
            }
            li.active {
              a {
                color: #2196f3;
                border: none;
                font-weight: bold;
                border-bottom: 2px solid #2196f3;
              }
            }
          }

          .tab-content {
            padding: 0;
            .notes {
              padding: 0;
              // max-height: 40vh;
              // overflow: auto;
              .no-note {
                @extend %empty-state;
              }
              .item {
                border-bottom: 1px solid #f6f6f6;
                font-size: 16px;
                padding: 2% 2% 2% 3%;
                .time {
                  display: block;
                  color: gray;
                  font-size: 14px;
                  padding-left: 4px;
                }
              }
            }

            .timeline {
              overflow: auto;
              .no-activity {
                @extend %empty-state;
              }
              .event {
                margin-bottom: 14px;
                position: relative;
                padding: 1% 2%;
                &:hover {
                  background-color: rgba(32, 150, 243, 0.05);
                }
                .image {
                  &::before {
                    position: absolute;
                    border-right: 1px solid #f3eeee;
                    width: 0;
                    height: 18px;
                    display: block;
                    content: '';
                    left: 33px;
                    z-index: 1;
                    top: -23px;
                    margin-left: -1px;
                  }
                  img {
                    width: 34px;
                    height: 34px;
                    border-radius: 3px;
                    &.round {
                      border-radius: 30px;
                    }
                  }
                }
                .desc {
                  font-size: 14px;
                  color: #39393a;
                  margin-left: 10px;
                }
                .time {
                  font-size: 12px;
                  color: #c6c6c6;
                  margin-left: 10px;
                  img {
                    width: 8px;
                    height: 8px;
                    margin-right: 5px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.modal-add-tag {
  .modal-header {
    margin-bottom: 10px;
    background-color: #e2e6ea;
    .modal-title {
      display: inline-block;
      margin: 1.5% 0 0 2%;
      font-size: 24px;
      font-weight: 600;
      line-height: 1;
      letter-spacing: -0.6px;
      color: #4a4a4a;
    }
    .done {
      color: #2196f3;
      font-size: 17px;
      float: right;
      &:hover {
        text-decoration: none;
      }
      &:focus {
        outline: none;
        text-decoration: none;
      }
    }
  }
  .modal-body {
    padding: 0;
    @extend %contact-tags;
    .tags-container {
      padding: 2%;
    }
  }
  .modal-footer {
    margin-top: 50px;
    text-align: left;
    input {
      display: inline;
      width: 80%;
      border: none;
      box-shadow: none;
    }
    button {
      float: right;
    }
  }
}

.modal-add-contact {
  width: 50%;
  .modal-body {
    padding: 0;
  }

  .modal-header {
    background-color: #e2e6ea;
    .modal-title {
      font-size: 24px;
    }
  }

  %sharp-input {
    border-radius: 0;
  }
  %show-add-button {
    img,
    i {
      position: absolute;
      right: 3%;
      top: 20%;
      cursor: pointer;
    }
    i {
      font-size: 23px;
      color: red;
      right: 8.5%;
    }
  }
  input {
    @extend %sharp-input;
    border-right: none;
    border-left: 0;
    border-color: #e2e6ea;
    padding-left: 3%;
  }
  .fullname {
    input {
      @extend %sharp-input;
      display: inline;
      width: 50%;
      &:first-child {
        border-right: 1px solid #e2e6ea;
      }
    }
  }
  .contacts-stages {
    margin: 10px 0 7px 3%;
  }
  .multiple {
    .m-row {
      position: relative;
      input {
        border-top: none;
      }
      @extend %show-add-button;
    }
  }
}

.contacts-stages {
  %drp-button {
    button {
      border: none;
      padding: 0;
      color: #2196f3;
      &:hover {
        background-color: transparent;
      }
      .caret {
        margin-left: 10px;
      }
    }
  }

  %drp-menu {
    ul {
      li {
        border-bottom: 1px solid #eaeaea;
        padding: 5px 0;
        font-size: 15px;
        &:last-child {
          border-bottom: none;
        }
        &.selected {
          a {
            color: #2196f3;
          }
        }
      }
    }
  }
  .dropdown {
    @extend %drp-button;
    @extend %drp-menu;
  }

  .btn-group.open,
  .dropdown-toggle {
    background-color: transparent !important;
    box-shadow: none !important;
  }
}
