.deals {

  padding: 0;
  min-height: 100vh;

  .hr {
    width: 96%;
    height: 1px;
    background-color: #f0f0f0;
    margin: 3% 0 4% 0;
  }

  .row {
    margin-right: 0;
  }

  .deals-list {
    padding: 4% 10%;
  }

  .edit-form {
    padding: 4% 5%;
    background: #fff;
    .toolbar {
      text-align: right;
      margin-bottom: 10px;
    }
    iframe {
      width: 100%;
      height: 90vh;
    }
  }

  .right {
    text-align: right;
  }

  .collect-signatures {
    padding: 10% 5% 4% 10%;

    .doc-detail {
      margin-bottom: 0px;
      padding: 10px;

      &:hover {
        cursor: pointer;
        background-color: #eee;
      }

      &.no-hover {
        cursor: auto;
        background-color: #F6F6F6;
      }

      .control {
        float: left;
        margin-right: 15px;
        img {
          width: 28px;
          margin-left: 15px;
        }
      }

      .title {
        font-weight: bold;
        color: #4a4a4a;
      }

      .status {
        color: #9b9b9b;
      }
    }

    &.documents {
      .title {
        color: gray;
        img {
          margin-right: 10px;
        }
      }
    }

    &.recipients {
      h2 {
        margin-bottom: 4%;
      }

      ul {
        margin: 3% 0 0 0;
        padding: 0;
        list-style-type: none;
        li {
          display: inline-block;
          margin: 0 0.7% 0 0;
          &.separator {
            color: gray;
          }
          &.btn {
            color: #2196f3;
            &:hover {
              color: purple;
              cursor: pointer;
            }
          }
        }
      }

      .list {
        min-height: 10vh;
        margin-bottom: 10px;
        ul {
          margin: 5% 0 0 0;
          padding: 0;
          li {
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 10px;
            border: 1px solid #e6e6e6;
            padding: 1%;
            min-width: 300px;
            .info {
              color: gray;
              margin-top: 5px;
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  .dashboard {

    .loading {
      &.center {
        text-align: center;
        padding: 10%;
      }
      p {
        margin-top: 5px;
        font-weight: bold;
      }
    }

    .header {
      padding: 2% 7%;
      background: #fff;
      i.fa-angle-left {
        font-size: 25px;
        margin-right: 10px;
        &:hover {
          color: blue;
          cursor: pointer;
        }
      }

      ul.menu {
        text-align: right;
        li {
          &:hover {
            cursor: pointer;
            opacity: 0.7;
          }
        }
      }
    }

    .content {
      margin-top: 5%;
      padding: 1% 5%;

      .sidebar {
        margin: 1%;
        border-radius: 4px;
        background-color: #ffffff;
        padding: 5%;

        .item {
          color: #738493;
          margin-bottom: 2%;
          span {
            color: #5b6469;
          }
        }

        .street {
          font-size: 11px;
        }

        .address {
          font-size: 10px;
          color: gray;
        }
      }

      .main {
        background-color: #ffffff;
        margin: 1%;
        ul.nav-tabs {
          background-color: #f6f6f6;
          border: none;
          li {
            background-color: #eee;
            font-size: 18px;
            a {
              padding: 20px;
              border-radius: 0;
              border: none;
            }

            &.active {
              a {
                border: none;
                border-left: 2px solid #2196f3;
                border-radius: 0;
              }
            }
          }
        }

        .tab-content {
          .forms {
            padding: 3%;
            .add-form-btn {
              border: 1px dashed #9b9b9b;
              padding: 5%;
              width: 300px;
              color: #9b9b9b;
              margin-bottom: 20px;
              &:hover {
                background-color: #fff;
              }
            }

            .doc-detail {
              margin-bottom: 0px;
              padding: 10px;

              &.selected {
                background: #f5f5f5;
              }

              &:hover {
                cursor: pointer;
              }

              img {
                width: 32px;
                float: left;
                margin-right: 20px;
              }

              .title {
                font-weight: bold;
                color: #4a4a4a;
              }

              .status {
                color: #9b9b9b;
              }
            }
          }

          .eSigns {
            .no-esign {
              text-align: center;
              padding: 10%;
            }

            .esign-detail {
              background-color: #fafafa;
              border: 1px solid #e6e6e6;
              font-size: 16px;
              padding: 10px;
              margin: 0 20px 10px 30px;
              z-index: 30;
              cursor: pointer;

              &:first-child {
                margin-top: 20px;
              }

              &.active {
                position: relative;
                margin-right: 0;
                border-right: none;
                &:after, &:before {
                  left: 100%;
                  top: 50%;
                  border: solid transparent;
                  content: " ";
                  height: 0;
                  width: 0;
                  position: absolute;
                  pointer-events: none;
                }

                &:after {
                  border-color: rgba(246, 246, 246, 0);
                  border-left-color: #fafafa;
                  border-width: 15px;
                  margin-top: -15px;
                }

                &:before {
                  border-color: rgba(230, 230, 230, 0);
                  border-left-color: #e6e6e6;
                  border-width: 16px;
                  margin-top: -16px;
                }
              }

              img {
                width: 32px;
                float: left;
                margin-right: 20px;
              }

              .info {
                color: gray;
              }
            }

            .detail {
              border-left: 1px solid #e6e6e6;
              min-height: 50vh;
              padding: 0 3% 5% 3%;

              .documents {
                margin-bottom: 10px;
              }

              .signed_at {
                color: gray;
                font-size: 10px;
              }

              .not-signed {
                margin-top: 50px;
                .resend {
                  text-align: right;
                  padding-right: 30px;
                }
              }

              .not-signed-list {

              }
            }
          }

          .uploads {
            .list {
              padding-right: 0;
              border-right: 1px solid #eee;
              min-height: 40vh;
              max-height: 70vh;
              overflow: auto;

              .dropzone {
                text-align: center;
                padding: 5%;
                border-bottom: 1px solid #eee;
                img {
                  width: 50%;
                }
                .title {
                  font-weight: bold;
                  font-size: 17px;
                }
                span {
                  color: blue;
                  cursor: pointer;
                }
              }

              .item {
                padding: 3%;
                border-bottom: 1px solid #eee;
                margin-bottom: 2%;
                cursor: pointer;
              }
            }

            .display {
              padding: 3%;
              img {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}


.select-form {
  padding: 5%;
  .search {
    margin-top: 5%;
    width: 100%;
    background: #FBFBFB;
    border-radius: 0px;
    padding: 3%;
  }

  .list {
    max-height: 50vh;
    min-height: 50vh;
    overflow: auto;
    margin-top: 3%;
    ul {
      padding: 0;
      margin: 0;
      margin-top: 3%;
      li {
        padding: 2%;
        font-size: 16px;
        img {
          width: 18px;
          margin-right: 10px;
        }
        &:hover {
          background-color: #F4FAFF;
          cursor: pointer;
        }
      }
    }
  }
}

.add-signer-form {
  padding: 5%;
  input {
    border-radius: 0;
  }

  .assign-role {
    margin-top: 40px;
    font-size: 16px;
    color: gray;
    ul {
      margin: 15px 0 0 0;
      padding: 0;
      li {
        display: inline-block;
        font-size: 14px;
        border: 1px solid #e2e6ea;
        margin-right: 10px;
        padding: 1.5%;
        border-radius: 100px;
        &.selected {
          background: #eee;
        }
        &:hover {
          background: #f4f4f4;
          cursor: pointer;
        }
      }
    }
  }
}
