.page-landing {
  #app {
    min-height: 850px;
  }
  overflow: hidden;

  .headline {
    font-size: 64px;
    @media (max-width: 768px) {
      font-size: 44px;
    }
  }

  .contact-us-btn {
    @media (max-width: 768px) {
      margin-right: 0 !important;
    }
  }
  .landing-main {
    margin: 0 auto;
    @extend .flex-center-wrap;
    @media (max-height: 768px) {
      display: block;
      position: relative;
      width: 100%;
      height: 0 !important;
      top: 180px;
    }
  }
  .footer-text {
    &--left {
      text-align: left;
    }
    &--right {
      text-align: right;
    }
    @media (max-width: 768px) {
      text-align: center;
    }
  }
  .footer {
    a {
      color: #ededed;
      text-decoration: none;
      -webkit-transition: all $transition-speed;
      transition: all $transition-speed;
      &:hover {
        color: #ccc;
      }
    }
  }
}

.page-bg-video {
  header {
    position: absolute;
    width: 100%;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
  }
  .fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.Typist .Cursor {
  display: inline-block;

  &--blinking {
    opacity: 1;
    animation: blink 1s linear infinite;
    @keyframes blink {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}
