.page-landing {
  #app {
    min-height: 850px;
  }
  overflow: hidden;
  .sign-up__button {
    background-color: $brand-primary;
    &:hover {
      background-color: $brand-primary !important;
      border: 1px solid $btn-primary-border;
    }
  }
  .headline {
    font-size: 64px;
    @media (max-width: 768px) {
      font-size: 44px;
    }
  }
  .navbar-right {
    position: relative;
    top: -5px;
  }
  .navbar-collapse {
    right: 20px;
    @media (max-width: 768px) {
      right: 0;
      margin-top: 0 !important;
      background-color: rgba(0, 0, 0, 0.4);
      li:first {
        padding-top: 10px !important;
      }
      li {
        padding: 5px 0;
      }
    }
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .navbar-toggle {
    color: #fff;
    background-color: transparent !important;
  }
  .navbar-header {
    @media (max-width: 768px) {
      padding-left: 15px;
    }
  }
  .contact-us-btn {
    @media (max-width: 768px) {
      margin-right: 0 !important;
    }
  }
  .landing-main {
    margin: 0 auto;
    @extend .flex-center-wrap;
    @media (max-height: 768px) {
      display: block;
      position: relative;
      width: 100%;
      height: 0 !important;
      top: 180px;
    }
  }
  .form-input--email {
    @media (max-width: 768px) {
      padding-right: 0 !important;
    }
  }
  .footer-text {
    &--left {
      text-align: left;
    }
    &--right {
      text-align: right;
    }
    @media (max-width: 768px) {
      text-align: center;
    }
  }
  .footer {
    a {
      color: #ededed;
      text-decoration: none;
      -webkit-transition: all $transition-speed;
      transition: all $transition-speed;
      &:hover {
        color: #ccc;
      }
    }
  }
}

.page-bg-video {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
  }
  .fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.Typist .Cursor {
  display: inline-block;

  &--blinking {
    opacity: 1;
    animation: blink 1s linear infinite;
    @keyframes blink {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}
