.noMatch {
  background: url(/static/images/noMatch/404.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;

  .logo {
    font-size: 17px;
    font-weight: 900;
    padding: 2em;
    margin: 0;
    color: #ffffff;
  }
  #main-content {
    padding-top: 12%;
    margin-left: auto;
    margin-right: auto;
    h1 {
      font-size: 26px;
      font-weight: 300;
      color: #ffffff;
      margin-bottom: 1em;
    }
    a {
      font-size: 17px;
      color: #ffffff;
      text-decoration: underline;
      text-decoration-color: rgba(255, 255, 255, 0.5);
    }
  }
}

@media(max-width: $screen-sm-min) and (orientation: portrait) {
  .noMatch {
    background-image: url(/static/images/noMatch/404-phone-background.png);
  }
}

@media(min-width: $screen-sm-min) and (max-width: $screen-lg-min) and (orientation: portrait) {
  .noMatch {
    background-image: url(/static/images/noMatch/404-tablet-background.png);
  }
}

@media (max-height: 700px) {
  .noMatch {
    #main-content {
      padding-top: 0;
    }
  }
}