<div data-type="carousel" class="splide" rechat-editable="true">
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide">
        <img class="splide__image" src="https://picsum.photos/id/1003/500/400" data-src="https://picsum.photos/id/1003/500/400"/>
      </li>
      <li class="splide__slide">
        <img class="splide__image" src="https://picsum.photos/id/1006/500/400" data-src="https://picsum.photos/id/1006/500/400"/>
      </li>
      <li class="splide__slide">
        <img class="splide__image" src="https://picsum.photos/id/1011/500/400" data-src="https://picsum.photos/id/1011/500/400"/>
      </li>
    </ul>
  </div>
</div>