<div data-type="carousel" class="splide" rechat-editable="true">
  <div data-type="carousel-track" class="splide__track">
    <ul data-type="carousel-list" class="splide__list">
      <li data-type="carousel-slide" class="splide__slide">
        <img data-type="carousel-image" class="splide__image" src="https://picsum.photos/id/1003/500/400" data-large-src="https://picsum.photos/id/1003/500/400"/>
      </li>
      <li data-type="carousel-slide" class="splide__slide">
        <img data-type="carousel-image" class="splide__image" src="https://picsum.photos/id/1006/500/400" data-large-src="https://picsum.photos/id/1006/500/400"/>
      </li>
      <li data-type="carousel-slide" class="splide__slide">
        <img data-type="carousel-image" class="splide__image" src="https://picsum.photos/id/1011/500/400" data-large-src="https://picsum.photos/id/1011/500/400"/>
      </li>
    </ul>
  </div>
</div>