<div data-type="grid-row" class="pure-g">
  <div data-type="grid-column" class="pure-u-1-2">
    <div data-type="text">Content 1</div>
  </div>
  <div data-type="grid-column" class="pure-u-1-2">
    <div data-type="text">Content 2</div>
  </div>
</div>