<div data-type="social-group" rechat-editable="tree">
  <a data-type="social-link" title="Facebook">
    <img data-type="social-icon" alt="Facebook" src="https://i.ibb.co/qr5rZym/facebook.png"/>
  </a>
  <a data-type="social-link" title="Instagram">
    <img data-type="social-icon" alt="Instagram" src="https://i.ibb.co/HC5KTG1/instagram.png"/>
  </a>
  <a data-type="social-link" title="LinkedIn">
    <img data-type="social-icon" alt="Linkedin" src="https://i.ibb.co/kxjXJ5B/linkedin.png"/>
  </a>
  <a data-type="social-link" title="Twitter">
    <img data-type="social-icon" alt="Twitter" src="https://i.ibb.co/7WkrhZV/twitter.png"/>
  </a>
  <a data-type="social-link" title="YouTube">
    <img data-type="social-icon" alt="Youtube" src="https://i.ibb.co/8jd2Jyc/youtube.png"/>
  </a>
</div>