.deals__role-form--select {
  font-size: 16px !important;
  color: #26465e !important;

  .Select-control,
  &.is-focused .Select-control {
    border: none !important;
    box-shadow: none !important;

    &:hover {
      box-shadow: none !important;
    }

    .Select-placeholder {
      color: #cad4db !important;
    }

    .Select-placeholder,
    .Select-value,
    .Select-input {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
}

.deals__role-form--modal {
  .modal-header {
    font-weight: 600;
  }

  .modal-content {
    border: none;
    box-shadow: 1px 1px 1px #ccc;
  }

  .modal-footer {
    button {
      margin-left: 10px;
    }
  }
}
