.deal-comments {
  @extend %deal-comments;
}

.deal-comment-create {
  @extend %deal-comment-create;
}

%deal-comments {
  margin-left: 0 !important;
  position: relative;

  .comment-heading {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #1d364b;
    border-bottom: 1px solid #f0f4f7;
    padding-bottom: 5px;
    margin: 0 $col-padding;
  }

  .messages {
    height: auto !important;
    margin: 0 10px 20px 10px !important;
    .loading {
      width: 90%;
    }

    .messages-list {
      margin-top: 10px !important;
      min-height: auto !important;
      max-height: none !important;
      width: 100%;

      .activity {
        color: #62778c;
        font-size: 13px;
        padding: 2px 10px;
        background-color: #f8fafb;
      }
    }
  }
}

%deal-comment-create {
  min-height: 107px;
  padding: 10px;
  margin-top: 3px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  textarea {
    border-radius: 5px;
    border: solid 2px #e7eef0;
    padding: 8px;
    resize: none;
    margin-bottom: 10px;
    &:focus {
      outline: none;
    }
  }

  .cta-container {
    text-align: right;
  }

  .loading {
    img {
      width: 20px;
      margin-left: 5px;
    }
    padding-right: 10px;
    font-weight: 500;
    color: gray;
  }

  .cta-btn {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    line-height: 25px;
    border: solid 2px #c9d7df;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.2s ease-in all;

    .ico {
      color: #c9d7df;
    }

    &.isActive .ico,
    &:hover .ico,
    .ico:hover {
      color: #fff;
    }

    &.approve {
      &.isActive,
      &:hover {
        border-color: #35b863;
        background-color: #35b863;
      }
    }

    &.decline {
      &.isActive,
      &:hover {
        border-color: #d0021b;
        background-color: #d0021b;
      }
    }

    &.no-status {
      line-height: 25px;
      .ico {
        display: inline-block;
        border: solid 2px #c9d7df;
        width: 10px;
        height: 10px;
        border-radius: 50%;
      }

      &.isActive,
      &:hover {
        border-color: #f5a623;
        background-color: #f5a623;
      }

      &.isActive .ico,
      &:hover .ico {
        border: solid 2px #fff;
      }
    }
  }

  .deal-button {
    box-shadow: none;
    height: 30px;
    line-height: 13px;
    vertical-align: middle;
    background-color: #fff;
    font-weight: 500;
    box-shadow: 0 1px 1px 0 #eef1f2;
    border: solid 1px #e6eaec;
    margin-left: 3px;
    margin-bottom: 3px;
  }
}
