.deal-comments {
  @extend %deal-comments;
}

.deal-comment-create {
  @extend %deal-comment-create;
}

%deal-comments {
  margin-left: 0 !important;
  background: #f8fafb;
  position: relative;

  .comment-heading {
    margin: 0 10px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    padding-left: 12px;
    background-color: #f8fafb;
    border: solid 1px #d2d7db;
    color: #1d364b;
    border-radius: 3px 3px 0 0;
    font-size: 17px;
  }

  .messages {
    height: auto !important;
    margin: 0 10px 20px 10px !important;
    background-color: #fff;
    border: 1px solid #dce5eb;
    border-top: none;
    border-radius: 0 0 3px 3px;
    .loading {
      width: 90%;
    }

    .messages-list {
      margin-top: 10px !important;
      min-height: auto !important;
      max-height: none !important;
      width: 100%;

      .activity {
        color: #62778c;
        font-size: 13px;
        padding: 2px 10px;
        background-color: #f8fafb;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}

%deal-comment-create {
  min-height: 107px;
  padding: 10px;
  border-radius: 0 0 3px 3px;
  background-color: #ffffff;
  box-shadow: 0 -1px 5px 0 rgba(167, 184, 200, 0.7);
  margin-top: 3px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  textarea {
    border-radius: 5px;
    border: solid 2px #e7eef0;
    padding: 8px;
    resize: none;
    margin-bottom: 10px;
    &:focus {
      outline: none;
    }
  }

  .deal-button {
    box-shadow: none;
    height: 30px;
    line-height: 13px;
    vertical-align: middle;
    background-color: #fff;
    font-weight: 500;
    box-shadow: 0 1px 1px 0 #eef1f2;
    border: solid 1px #e6eaec;
    margin-left: 3px;
    margin-bottom: 3px;
    transition: 0.2s all ease-in;

    &.decline-comment, &.approve-comment, &.close-comment {
      &:hover {
        border-color: #2196f3;
        color: #2196f3;
      }
    }

    &.approve-comment,
    &.close-comment {
      border: solid 1px #35b863;
      color: #35b863;
      background-color: transparent;
    }

    &.decline-comment {
      border: solid 1px #d0011b;
      color: #d0011b;
      background-color: transparent;
    }

    &.add-comment,
    &.notify-admin {
      transition: 0.1s ease-in all;
      &:hover {
        color: #78909c;
      }

      &.enabled {
        border: solid 1px #2196f3;
        color: #2196f3;
        &:hover {
          color: #fff;
          background-color: #2196f3;
        }
      }
    }

    &.close-task {
      width: 30px;
      font-weight: 600px;
      line-height: 25px;
      font-size: 16px;
      &:hover {
        color: #fff;
        background-color: #2196f3;
        border-color: #2196f3;
      }
    }

    &.disabled {
      &:hover {
        background-color: #fff;
        color: #78909c;
        border-color: #e6eaec;
      }
    }
  }
}
