%deal-comments {
  margin-left: 0;
  background: #fff;

  .messages {
    min-height: 51vh;
    max-height: 51vh;
    .messages-list {
      margin-top: 10px;
      width: 100%;
    }

    .message-create {
      .upload {
        display: none;
      }
      textarea {
        margin-left: 0;
      }
    }
  }
}
