#deal-context-discrepency-overview-popover {
  @extend .popover;
  width: 320px;
  min-height: 200px;
  color: #fff;
  background-color: #303e4d;
  box-shadow: -1px 0 10px 0 rgba(0, 0, 0, 0.1), 0 0 10px 0 rgba(0, 0, 0, 0.1);

  &.top > .arrow {
    border-top-color: #303e4d;
    &:after {
      border-top-color: #303e4d;
    }
  }

  &.bottom > .arrow {
    border-bottom-color: #303e4d;
    &:after {
      border-bottom-color: #303e4d;
    }
  }
}
