.modal-deal-add-offer {
  .modal-header {
    @extend %deal-modal-header;
  }

  .modal-body {
    .control-label {
      font-size: 14px;
      font-weight: 500;
      color: #8ca2b6;
      display: block;
    }

    .buyer-name {
      margin-top: 8px;
      height: 42px;
      border-radius: 4px;
      background-color: #fff;
      border: solid 1px #dce5eb;
      width: 100%;
      padding: 0 10px;
      font-size: 14px;
      &:focus {
        outline: none;
      }
    }

    .option {
      display: inline-block;
      margin-top: 10px;
      height: 42px;
      line-height: 42px;
      vertical-align: middle;
      border-radius: 4px;
      background-color: #fff;
      border: solid 1px #dce5eb;
      width: 49%;
      font-size: 14px;
      color: #8da3b7;
      cursor: pointer;

      .check-area {
        i {
          font-size: 20px;
          vertical-align: middle;
          margin: 0 8px;
        }
      }

      &:hover {
        color: #2196f3;
        i {
          color: #2196f3 !important;
        }
      }

      &.active {
        margin-right: 2%;

        &.disabled {
          &:hover {
            cursor: auto;
            color: #8da3b7;
            i {
              color: #dce5eb !important;
            }
          }
        }
      }
    }
  }

  .modal-footer {
    .deal-button {
      min-width: 70px;
      height: 29px;
      line-height: 14px;
      vertical-align: middle;
      border-radius: 3px;
      background-color: #2196f3;
      border: none;
      color: #fff;
      font-size: 14px;
      font-weight: 500;
      &:hover {
        opacity: 0.9;
      }
    }
  }
}
