.deal-email {
  color: #263445;
  font-weight: normal;
  background-color: #e1eaef;
  padding: 8px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    color: #8da2b5;
  }

  .deal-email__label {
    color: #1d364b;
    margin-bottom: 0px;
  }

  .deal-email__text {
    color: #2196f3;
    margin-bottom: 0px;
  }
}

.deal-email__tooltip {
  text-align: left;
  padding: 1rem 1rem 0.7rem;
  left: -25%;
  width: 25rem;
  font-size: 1.3rem;
  font-weight: normal;
  color: #fff;
  border-radius: 5px;
  background-color: #263445;
  transform: translate(0, 0);
  &:before {
    content: '';
    position: absolute;
    top: -22%;
    left: 15%;
    width: 10px;
    height: 10px;
    border: 10px transparent solid;
    border-bottom-color: #263445;
  }
  p {
    margin: 0;
  }
}
