.send-esigns {
  $pad-size: 15px;
  position: fixed;
  text-align: left;
  right: 15px;
  bottom: 0;
  width: 750px;
  border-radius: 3px 3px 0 0;
  background-color: #fff;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.15);
  border: solid 1px #e1e1e1;

  .item-title {
    font-size: 14px;
    color: #8da2b5;
  }

  .header {
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    border-radius: 3px 3px 0 0;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: #263445;
    box-shadow: 0 1px 0 0 #e7e7e7;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    padding: 0 $pad-size;

    .close-compose {
      float: right;
      cursor: pointer;
    }
  }

  .recipients {
    display: flex;
    align-items: center;
    border: 1px solid #ecf0f4;
    min-height: 50px;

    .rcp-container {
      width: 100%;
      overflow: auto;
      display: table;
      height: 100%;

      .rcp-group {
        display: table-row;

        .rcp-list {
          margin-bottom: 5px;
        }

        .item-title {
          margin-left: 5px;
        }

        .rcp-step {
          display: table-cell;
          float: left;
          width: 120px;
          height: 100%;
          font-size: 16px;
          text-align: center;
          color: #62778c;
          padding-top: 15px;
        }
      }
    }

    .recp {
      display: inline-block;
      position: relative;
      border-radius: 3px;
      border: solid 1px #dce5eb;
      background-color: #f8fafb;
      line-height: 15px;
      margin: 5px;
      padding: 4px 8px 4px 8px;
      cursor: auto;
      width: 200px;
      &.add {
        width: 100px;
        border-color: #eee;
        cursor: pointer;
      }
      .user-avatar {
        margin-right: 5px;
        float: left;
      }
      .recp-title {
        font-size: 13px;
        font-weight: 600;
      }
      .recp-description {
        display: block;
        color: #62778c;
        font-size: 12px;
      }
      .recp-cta {
        color: #62778c;
        position: absolute;
        right: 7px;
        top: 5px;
        i {
          cursor: pointer;
          &:hover {
            color: #000;
          }
        }
      }
    }
  }

  .subject {
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    box-shadow: 0 1px 0 0 #ecf0f4;
    padding: 0 $pad-size;
    input {
      width: 85%;
      height: 40px;
      border: none;
      &:focus {
        outline: none;
      }
    }
  }

  .message {
    padding: 1rem $pad-size;
    max-height: 100px;
    min-height: 100px;
    overflow: auto;

    textarea {
      border: none;
      width: 100%;
      min-height: 56px;
      resize: none;
      padding-left: 0;
      &:focus {
        outline: none;
      }
    }
  }

  .attachments {
    padding: 1rem $pad-size;
    max-height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;

    ul {
      margin: 0;
      padding: 0;

      li {
        padding: 0 $pad-size;
        cursor: pointer;
        width: 400px;
        height: 30px;
        line-height: 30px;
        vertical-align: middle;
        border-radius: 2px;
        background-color: #f0f4f7;
        border: solid 1px #e9eef2;
        margin-bottom: 5px;

        &:last-child {
          margin-bottom: 0;
        }

        .name {
          display: inline-block;
          width: 350px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          &:hover {
            text-decoration: underline;
            color: #003bdf;
          }
        }

        .ctas {
          float: right;

          i {
            cursor: pointer;
            color: #62778c;
            &:hover{
              color: #003bdf;
            }
          }

          .open-form {
            margin-right: 10px;
          }
        }
      }
    }
  }

  .footer {
    .footer__inner {
      border-top: 1px solid #dce5eb;
      background-color: #f8fafb;
      padding: 1rem $pad-size;
    }
  }
}

.modal-deal-esign-add-signer {
  .modal-content {
    border-radius: 6px;
    overflow: auto;
  }

  .modal-header {
    @extend %deal-modal-header;
  }

  .modal-body {
    padding: 0;
    max-height: 320px;
    overflow: auto;
  }
}
