.modal-deal-esign-documents {
  .modal-body {
    padding: 0;
  }

  .deal-button {
    width: 70px;
    height: 34px;
    line-height: 17px;
    vertical-align: middle;
  }

  .count {
    margin-right: 21px;
    color: #8da2b5;
    font-size: 15px;
  }

  .documents {
    margin: 0;
    padding: 0;
    .item {
      margin-right: 0;
      margin-left: 0;
      padding: 9px 0;
      cursor: pointer;

      .radio {
        display: block;
        width: 20px;
        height: 20px;
        background-color: #ffffff;
        border: solid 1px #e9e9e9;
        border-radius: 40px;
        text-align: center;
        &.selected {
          background-color: #2196f3;
          border-color: #2196f3;
          i {
            color: #fff;
            font-size: 12px;
          }
        }
      }

      .name {
        font-size: 15px;
        color: #1d364b;
        .date {
          font-size: 13px;
          color: #8da2b5;
        }
      }

      &:hover {
        background: #eff5fa;
      }
    }
  }
}
