/**
* styles of docusign banner
*/
.deal-esign-docusign {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  background-color: #2196f3;
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  .btn-login {
    margin-left: 10px;
    color: #2196f3;
    background-color: #fff;
    border: none;
    border-radius: 3px;
    width: 100px;
    height: 30px;
  }
  img {
    margin-top: 5px;
    height: 45px;
    margin-left: 16px;
  }
}

/**
* styles of eSign menu in task's detail
*/
.deal-esgin-cta-menu {
  .btn-group.open,
  .dropdown-toggle {
    box-shadow: none !important;
  }

  ul.dropdown-menu {
    margin: 0;
    padding: 0;
    border: none !important;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.15);

    li {
      padding: 0 !important;
      &.divider {
        margin: 0;
      }

      a {
        padding: 12px;
        font-size: 15px;
        color: #6b7f93;
        .svg {
          margin: 0 10px -4px 0;
          alignment-baseline: middle;
        }

        &:hover {
          background-color: transparent;
          color: #2196f3;
        }

        &:hover .svg > path,
        &:hover .svg > g {
          fill: #2196f3;
        }
      }
    }
  }
}

/**
* styles of esign documents list
*/
.deal__esign-documents--modal {

  .modal-body {
    padding: 16px 0;
  }

  .documents .document-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 8px 16px 8px 16px;

    &:hover {
      background-color: #f2f2f2;
      .title{
        color: #003bdf;
      }
    }
  }

  .documents .document-item .col-select {
    width: 6%;
  }

  .documents .document-item .col-info {
    width: 94%;
    font-size: 15px;
    color: #1d364b;
    cursor: pointer;

    .empty-state {
      text-align: center;
      color: #9bb1c1;
      margin: 15% 0;
      box-shadow: none;
      .title {
        font-weight: 600;
        font-size: 16px;
      }

      .descr {
        font-weight: 400;
        font-size: 15px;
      }
    }

    .title {
      font-size: 16px;
    }

    .description {
      font-size: 14px;
      color: #8da2b5;
    }
  }

  .count {
    margin-right: 21px;
    color: #8da2b5;
    font-size: 15px;
  }
}