.send-esigns {
  $pad-size: 17px;
  position: fixed;
  text-align: left;
  right: 20px;
  bottom: 0;
  height: 610px;
  width: 550px;
  z-index: 102;
  border-radius: 3px 3px 0 0;
  background-color: #fff;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.15);
  border: solid 1px #e1e1e1;

  .item-title {
    font-size: 14px;
    color: #8da2b5;
  }

  .header {
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    border-radius: 3px 3px 0 0;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: #263445;
    box-shadow: 0 1px 0 0 #e7e7e7;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    padding: 0 $pad-size;

    .close-compose {
      float: right;
      cursor: pointer;
    }
  }

  .recipients {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 $pad-size;
    box-shadow: 0 1px 0 0 #ecf0f4;
    min-height: 50px;

    .rcp-container {
      width: 100%;
      max-height: 80px;
      overflow: auto;
      cursor: pointer;

      .item-title {
        margin-left: 5px;
      }
    }

    .recp {
      display: inline-block;
      position: relative;
      border-radius: 3px;
      border: solid 1px #dce5eb;
      background-color: #f8fafb;
      line-height: 15px;
      margin: 5px;
      padding: 4px 40px 4px 8px;
      cursor: auto;
      .recp-t {
        font-size: 13px;
        font-weight: 600;
        color: #1d364b;
      }
      .recp-d {
        display: block;
        color: #62778c;
        font-size: 12px;
      }
      .recp-c {
        color: #62778c;
        position: absolute;
        right: 8px;
        top: 10px;
        i {
          cursor: pointer;
          &:hover {
            color: #000;
          }
        }
      }
    }
  }

  .subject {
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    box-shadow: 0 1px 0 0 #ecf0f4;
    padding: 0 $pad-size;
    input {
      width: 85%;
      height: 40px;
      border: none;
      &:focus {
        outline: none;
      }
    }
  }

  .message {
    padding: $pad-size;
    position: relative;
    height: 150px;
    textarea {
      border: none;
      width: 100%;
      resize: none;
      padding-left: 0;
      &:focus {
        outline: none;
      }
    }

    .signature {
      margin-top: 10px;
    }
  }

  .attachments {
    position: absolute;
    bottom: 55px + 10px;
    left: $pad-size;
    width: 530px;
    max-height: 22%;
    overflow: auto;

    ul {
      margin: 0;
      padding: 0;

      li {
        padding: 0 $pad-size;
        cursor: pointer;
        width: 400px;
        height: 30px;
        line-height: 30px;
        vertical-align: middle;
        border-radius: 2px;
        background-color: #f0f4f7;
        border: solid 1px #e9eef2;
        margin-bottom: 5px;

        .name {
          display: inline-block;
          width: 300px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          &:hover {
            text-decoration: underline;
            color: #2196f3;
          }
        }

        .ctas {
          float: right;

          i {
            cursor: pointer;
            color: #62778c;
          }

          .open-form {
            margin-right: 10px;
          }
        }
      }
    }
  }

  .footer {
    position: absolute;
    height: 55px;
    line-height: 55px;
    vertical-align: middle;
    background-color: #f8fafb;
    box-shadow: 0 -1px 0 0 #dce5eb;
    padding: 0 $pad-size;
    bottom: 0;
    right: 0;
    left: 0;

    .btn-send,
    .btn-attach {
      width: 100px;
      height: 34px;
      line-height: 17px;
      border-radius: 3px;
      font-weight: 500;
      font-size: 14px;
      &:hover {
        opacity: 0.7;
      }

      &:focus {
        outline: none;
      }
    }

    .btn-send {
      background-color: #2196f3;
      border-color: #2196f3;
      color: #fff;
      margin-right: 10px;
    }

    .btn-attach {
      background-color: #fff;
      border: solid 1px #dde2e6;
      color: #8da2b5;
      i {
        margin-right: 5px;
      }
    }
  }
}

.modal-deal-esign-add-signer {
  .modal-content {
    border-radius: 6px;
    overflow: auto;
  }

  .modal-header {
    @extend %deal-modal-header;
  }

  .modal-body {
    padding: 0;
    .deal-roles {
      .deal-info-title {
        display: none;
      }
      @extend %deal-roles;
    }
  }
}
