.deal-fact-sheet {
  @extend %deal-fact-sheet;
}

%deal-fact-approve-row {
  .approve-row {
    text-align: right;
    .btn-approve {
      width: 58px;
      height: 20px;
      border-radius: 3px;
      background-color: #2196f3;
      color: #fff;
      font-size: 12px;
      border: none;
      margin-top: 2px;
      &:focus {
        outline: none;
      }
    }
  }
}

%deal-fact-sheet {
  background: #fff;
  margin: $col-padding 0;
  .fact-table {
    border-collapse: separate;
    border-spacing: 0 1px;
    width: 300px - $col-padding;
    margin: 0 $col-padding/2;
    color: #1d364b;
    margin-bottom: 8px;
    font-size: 14px;

    @extend %deal-fact-approve-row;

    .fact-row {
      display: flex;
      flex-direction: row;
      min-height: 30px;
      align-items: center;

      .name {
        min-width: 140px;
        max-width: 140px;
        color: #1d364b;

        .status {
          margin-right: 5px;
          color: #eeeeee;

          &.past {
            color: #35b863;
          }
          &.next {
            color: #f6a623;
          }
        }
      }

      .field {
        min-width: 140px;
        max-width: 140px;
        font-size: 14px;
        color: #1d364b;
        text-align: right;
        border: 1px dashed #fff;
        transition: 0.1s ease-in all;
        cursor: pointer;
        border-radius: 3px;
        i {
          color: #afbbc8
        }

        .ico-remove {
          display: none;
        }

        &.approved {
          color: #1d364b;
        }

        &.editable {
          &:hover {
            border-color: #2196f3;
            i {
              color: #2196f3;
            }

            .ico-remove {
              display: inline-block;
            }
          }
        }

        &.disabled {
          &:hover {
            border-color: #fff;
            cursor: auto;
          }
        }

        .input-edit {
          display: inline-block;
          width: 80%;
          height: 20px;
          margin-right: 3px;
          &:focus {
            outline: none;
          }
        }

        .cta {
          margin: 0 2px 0 3px;
          i {
            margin-left: 5px;
          }
        }
      }
    }
  }
}
