.deal-files-container {
  @extend %deal-files-container;
}

.deal-file-cta-menu {
  display: inline;
  margin: 0 !important;
  .cta-btn {
    padding-right: 0 !important;
    padding-left: 0 !important;
    height: 30px;
    line-height: 27px;
    vertical-align: middle;
    &:hover svg > g {
      fill: #2196f3;
    }
  }
  @extend %dels-dropdown-cta-menu;
}

%deal-files-container {
  padding: 0;

  .file {
    margin-bottom: 8px;

    .title {
      padding-bottom: 5px;
      margin: 0 $col-padding;
      font-size: 13px;
      font-weight: 600;
      letter-spacing: 0.5px;
      color: #1d364b;
      border-bottom: 1px solid #f0f4f7;
    }

    .item {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      background-color: #fff;
      width: 100%;
      height: 60px;
      padding: 0 $col-padding;
      transition: 0.2s ease-in background-color;

      &:hover {
        background-color: #f0f4f7;
      }

      &.eSign {
        @extend %deals-files-esign;
      }

      img {
        width: 20px;
        height: 20px;
        border-radius: 5px;
        margin-left: 6px;
        margin-right: 19px;
      }

      &.attachment {
        img {
          width: 32px;
          height: 32px;
          margin-left: 0;
          margin-right: 12px;
        }
      }

      .name {
        color: #1d364b;
        font-size: 14px;
        width: 98%;
        height: 32px;
        line-height: 32px;
        vertical-align: middle;
        font-weight: 400;
        color: #1d364b;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        .link {
          cursor: pointer;
          padding-bottom: 4px;
          border-bottom: 1px solid transparent;
          display: inline-block;
          &:hover {
            border-bottom-color: #1d364b;
            text-decoration: underline;
          }
        }
      }

      &:hover .link {
        border-bottom-color: #ccc;
      }

      .actions {
        text-align: right;
        width: 2%;
      }
    }
  }
  .drag-drop-container {
    height: 80px;
    border-radius: 3px;
    background-color: #fefefe;
    border: solid 1px #ecf1f4;
    margin: 16px;
    padding: 11px;
  }
}

%deals-files-esign {
  .name {
    line-height: 1;
    height: 37px;
    cursor: pointer;

    p {
      margin-top: 8px;
      font-size: 13px;
      text-align: left;
      color: #8da2b5;
    }

    &:hover span {
      text-decoration: underline;
    }
  }

  &.voided {
    position: relative;

    &:hover span {
      text-decoration: none;
    }

    .name,
    img {
      opacity: 0.4;
      cursor: auto;
    }

    .void-label {
      position: absolute;
      top: 10px;
      right: 0px;
      width: 65px;
      height: 20px;
      line-height: 20px;
      font-weight: 500;
      vertical-align: middle;
      text-align: center;
      color: #fff;
      background-color: red;
      border-radius: 5px 0 0 5px;
      letter-spacing: 0.5px;
    }
  }
}

.upload-placeholder {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;

  .upload-area {
    position: absolute;
    left: 25%;
    top: 30vh;
    background-color: red;
    width: 700px;
    height: 250px;
    border-radius: 10px;
    background-color: #ffffff;
    border: 2px dotted #979797;
    text-align: center;
    padding-top: 70px;

    .title {
      font-size: 46px;
      font-weight: bold;
      letter-spacing: -1.1px;
      text-align: center;
      color: #4a4a4a;
    }

    .desc {
      font-size: 17px;
      letter-spacing: -1.1px;
      text-align: center;
      color: #929292;
    }

    img {
      position: absolute;
      top: -90px;
      left: 25%;
      width: 363px;
    }
  }
}
