.deal-form-viewer-modal {
  .modal-dialog {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    transform: none !important;
    overflow: hidden;
  }

  .modal-header {
    background-color: #fff;
    padding-top: 10px !important;
    height: $deal-dashboard-header-height;
    vertical-align: middle;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.05);

    .close-btn {
      width: 34px;
      height: 34px;
      border-radius: 3px;
      background-color: #ffffff;
      border: solid 1px #dde2e6;
      font-weight: 700;
      color: gray;
      text-align: center;
      line-height: 3px;
    }

    .title {
      font-size: 17px;
      font-weight: 500;
      color: #1c364c;
      margin-left: 20px;
    }

    .cta {
      display: inline;
      float: right;
      button {
        margin-left: 5px;
        height: 34px;
        line-height: 1px;
        border-radius: 4px;
        background-color: #fff;
        border: solid 1px #dde2e6;
        font-size: 13px;
        font-weight: 500;
        color: #8da2b5;
        &:hover {
          color: #2196f3;
          border-color: #2196f3;
        }
        &:focus {
          outline: none;
        }
      }

      .edit-form {
        background-color: #2196f3;
        border-color: #2196f3;
        color: #fff;
        &:hover {
          background: #fff;
          color: #2196f3;
        }
      }
    }
  }

  .modal-content {
    border: none;
    border-radius: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background-color: #f0f4f7;
  }

  .modal-body {
    padding: 0;
    margin: 0;
    @extend %deal-dashboard;
    overflow: hidden;
    box-shadow: none;
    @include scrollbar();

    .fw-wrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
      @extend .u-scrollbar--thinner;

      &.show-comments {
        .pdf-toolbar {
          right: 316px;
        }
      }

      &.show-envelopes {
        .pdf-toolbar {
          right: 390px;
        }
      }
    }

    .factsheet {
      @extend %deal-info;
      @extend .u-scrollbar--thinner;
      padding: 0;
      background-color: #fff;
      border-right: 1px solid #c9d7df;
    }

    .envelopes {
      @extend .u-scrollbar--thinner;
      border-left: 1px solid #dce5eb;
      box-shadow: -1px 0 0 0 #dce5eb;
      background-color: #fff;
      .who-signed {
        @extend %deal-envelopes-who-signed;
      }
    }

    .comments {
      @extend %deal-comments;
      @extend %deal-comment-create;
      @extend .u-scrollbar--thinner;

      padding: 0 !important;
      margin: 0 !important;
      overflow-x: hidden !important;
      background-color: #fff;
      border-left: 1px solid #c9d7df;
      position: relative;
      min-height: 91vh;
      max-height: 91vh;
      overflow: auto;

      .comment-heading {
        margin: 20px 10px;
        font-size: 17px;
        font-weight: bold;
        color: #1c364c;
        background-color: transparent;
        border: none;
      }

      .deal-comments {
        margin-top: 0 !important;
        background-color: #fff;
        .messages {
          min-height: 68vh !important;
          max-height: 68vh !important;
          overflow: auto;
          border: none;
          padding: 0 !important;
          margin: 0 !important;
        }
      }
    }

    .file-viewer {
      min-height: 93vh;
      max-height: 93vh;
      overflow: scroll;
      margin: 0px auto;
      background-color: #f0f4f7;
      padding: 2rem;
      text-align: center;

      .loading {
        text-align: center;
        margin-top: 10%;
        font-weight: 600;
        i {
          margin-bottom: 10px;
        }
      }

      .image {
        max-width: 100%;
        margin: 0 auto;
      }

      .pdf-container {
        margin: 0 auto 40px auto !important;
      }

      .pdf-page {
        border: 2px solid gray;
      }

      .no-preview {
        font-size: 17px;
        margin-top: 30vh;
        .file-name {
          margin: 5px 0 20px 0;
          color: gray;
        }
      }

      .pagination {
        position: fixed;
        bottom: 4%;
        left: 44%;
      }
    }
  }
}

%deal-envelopes-who-signed {
  padding: 0;

  .ws-head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 49px;
    background-color: #f8fafb;
    box-shadow: 0 1px 0 0 #e9e9e9;
    padding: 0 12px;
    border-radius: 6px 6px 0 0;

    .ttl {
      font-size: 17px;
      font-weight: 600;
      text-align: left;
      color: #1d364b;
      width: 40%;
    }

    .cta {
      width: 60%;
      text-align: right;
      .deal-button {
        height: 26px;
        line-height: 3px;
        border-radius: 3px;
        border: solid 1px #dce5eb;
        color: #2196f3;
        font-weight: 600;
        &:hover {
          background-color: #2196f3;
          border-color: #2196f3;
          color: #fff;
        }

        &.void {
          margin-left: 5px;
          color: #d0021b;
          letter-spacing: 0.5px;
          &:hover {
            background-color: red;
            border-color: red;
            color: #fff;
          }
        }

        &.cls {
          margin-left: 5px;
        }
      }
    }
  }

  .ws-section {
    overflow: hidden;

    .ws-section-title {
      padding: 12px;
      background-color: #fff;
      font-size: 17px;
      font-weight: 600;
      letter-spacing: 0.5px;
      color: #1d364b;

      img {
        margin-right: 10px;
        width: 18px;
      }
    }

    .ws-section-body {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: #fff;
      padding: 10px 9px;
      box-shadow: 0 1px 0 0 #f0f4f7, 0 -1px 0 0 #f0f4f7;

      &:last-child {
        margin-bottom: 35px;
      }

      .avatar {
        width: 8%;
      }

      .info {
        width: 67%;
        margin-left: 10px;
        .sname {
          font-size: 15px;
          font-weight: 500;
          color: #1d364b;
        }

        .date {
          font-size: 13px;
          color: #8da2b5;
        }
      }

      .sign-now {
        width: 25%;
        text-align: right;
        .sign-button {
          padding: 5px 10px;
          width: 80px;
          height: 26px;
          border-radius: 3px;
          border: solid 1px #dce5eb;
          color: #2196f3;
          font-size: 13px;
          font-weight: 600;
        }
      }
    }
  }
}
