.c-deal-form-viewer__body {
  @include scrollbar();
  width: 100%;
  display: flex;
  overflow: hidden;
  background-color: #f0f4f7;
  max-height: calc(100vh - 56px);

  &.show-comments .pdf-toolbar {
    right: 316px !important;
  }

  &.show-envelopes .pdf-toolbar {
    right: 390px !important;
  }

  .envelopes {
    @extend .u-scrollbar--thinner;
    border-left: 1px solid #dce5eb;
    background: #fff;
    .who-signed {
      @extend %deal-envelopes-who-signed;
    }
  }

  .file-viewer,
  .c-pdf-viewer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
  }
}

.c-deal-form-viewer__viewer {
  width: 100%;
  height: calc(100vh - #{$deal-dashboard-header-height} - 1px);
  display: flex;
  justify-content: center;
  align-items: center;

  .c-pdf-viewer {
    padding-top: 2em;
    height: calc(100vh - #{$deal-dashboard-header-height});
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
  }

  .pdf-context {
    width: auto;
  }

  .loading {
    text-align: center;
    font-weight: 600;
    i {
      margin-bottom: 10px;
    }
  }

  .image {
    max-width: 100%;
  }

  .pdf-container {
    margin: 0 auto 40px auto !important;
  }

  .pdf-page {
    border: 2px solid gray;
  }

  .no-preview {
    font-size: 17px;
    margin-top: 30vh;
    .file-name {
      margin: 5px 0 20px 0;
      color: gray;
    }
  }

  .pagination {
    position: fixed;
    bottom: 4%;
    left: 44%;
  }
}

.c-deal-form-viewer__factsheet {
  @extend %deal-info;
  @extend .u-scrollbar--thinner;
  border-right: 1px solid #c9d7df;
}

.c-deal-form-viewer__comments {
  @extend %deal-comments;
  @extend %deal-comment-create;
  @extend .u-scrollbar--thinner;
  position: relative;
  overflow: auto;
  padding: 1em;
  margin: 0 !important;
  background-color: #fff;
  border-left: 1px solid #c9d7df;
  overflow: hidden !important;

  .comment-heading {
    margin: 0;
    padding: 0;
    font-size: 17px;
    font-weight: bold;
    color: #1c364c;
    background-color: transparent;
    border: none;
  }

  .deal-comments {
    margin-top: 0 !important;
    background-color: #fff;
    .messages {
      max-height: 73vh;
      overflow: auto;
      border: none;
      padding: 0 !important;
      margin: 0 !important;
    }

    .message-item {
      margin: 0 0 1em 0 !important;
    }
  }
}

%deal-envelopes-who-signed {
  padding: 0;

  .ws-head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 49px;
    background-color: #f8fafb;
    box-shadow: 0 1px 0 0 #e9e9e9;
    padding: 0 12px;
    border-radius: 6px 6px 0 0;

    .ttl {
      font-size: 17px;
      font-weight: 600;
      text-align: left;
      color: #1d364b;
      width: 40%;
    }

    .cta {
      width: 60%;
      text-align: right;
      .deal-button {
        height: 26px;
        line-height: 3px;
        border-radius: 3px;
        border: solid 1px #dce5eb;
        color: #2196f3;
        font-weight: 600;
        &:hover {
          background-color: #2196f3;
          border-color: #2196f3;
          color: #fff;
        }

        &.void {
          margin-left: 5px;
          color: #d0021b;
          letter-spacing: 0.5px;
          &:hover {
            background-color: red;
            border-color: red;
            color: #fff;
          }
        }

        &.cls {
          margin-left: 5px;
        }
      }
    }
  }

  .ws-section {
    overflow: hidden;

    .ws-section-title {
      padding: 12px;
      background-color: #fff;
      font-size: 17px;
      font-weight: 600;
      letter-spacing: 0.5px;
      color: #1d364b;

      img {
        margin-right: 10px;
        width: 18px;
      }
    }

    .ws-section-body {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: #fff;
      padding: 10px 9px;
      box-shadow: 0 1px 0 0 #f0f4f7, 0 -1px 0 0 #f0f4f7;

      &:last-child {
        margin-bottom: 35px;
      }

      .avatar {
        width: 8%;
      }

      .info {
        width: 67%;
        margin-left: 10px;
        .sname {
          font-size: 15px;
          font-weight: 500;
          color: #1d364b;
        }

        .date {
          font-size: 13px;
          color: #8da2b5;
        }
      }

      .sign-now {
        width: 25%;
        text-align: right;
        .sign-button {
          padding: 5px 10px;
          width: 80px;
          height: 26px;
          border-radius: 3px;
          border: solid 1px #dce5eb;
          color: #2196f3;
          font-size: 13px;
          font-weight: 600;
        }
      }
    }
  }
}
