.deal-info {
  @extend %deal-info;
}

.deal-info__inner {
  padding: 0 1rem;
}

.deal-info-section {
  margin-bottom: 2rem;

  &:last-child {
    margin-bottom: 0;
  }
}

%deal-info {
  border-right: 1px solid #e5e5e5;
  background-color: #fff;
  min-width: $deal-info-width;
  max-width: $deal-info-width;

  .deal-info-section {
    .deal-info-title {
      padding-bottom: 5px;
      margin-bottom: 10px;
      font-size: 13px;
      font-weight: 600;
      letter-spacing: 0.5px;
      color: #1d364b;
      border-bottom: 1px solid rgba(220, 225, 229, 0.5);
    }
  }

  .info-btn {
    width: calc(100% - 20px);
    margin: 10px 10px 0 10px;
    height: 34px;
    line-height: 17px;
    border-radius: 3px;
    color: #2196f3;
    border: solid 1px #dde2e6;
    border-color: #2196f3;
    font-weight: 500;
    transition: 0.2s all ease-in;

    &:focus {
      outline: none;
      background-color: #fff;
    }
    &:hover {
      color: #fff;
      background-color: #2196f3;
    }
  }
}

.c-add-signer-modal {
  .deal-info-title {
    display: none !important;
  }
}
