.deal-info {
  @extend %deal-info;
}

.deal-info__inner {
  padding: 0 1rem;
}

.deal-info-section {
  margin-bottom: 2rem;

  &:last-child {
    margin-bottom: 0;
  }
}

%deal-info {
  border-right: 1px solid #e5e5e5;
  background-color: #fff;
  min-width: $deal-info-width;
  max-width: $deal-info-width;

  .deal-info-section {
    .deal-info-title {
      padding-bottom: 5px;
      margin-bottom: 10px;
      font-size: 13px;
      font-weight: 600;
      letter-spacing: 0.5px;
      color: #1d364b;
      border-bottom: 1px solid rgba(220, 225, 229, 0.5);
    }
  }

  .deal-info-section.deal-roles {
    padding: 0;
    margin-bottom: 2rem;

    .deal-info-title {
      margin-bottom: 3px;
    }

    .create-new-role {
      position: relative;
    }

    .deal-roles-menu {
      position: absolute;
      left: 12px;
      top: 30px;
      width: 200px;
      max-height: 200px;
      overflow: auto;
      background: #fff;
      border-radius: 5px;
      box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
      cursor: auto;

      ul {
        padding: 0;
        margin: 10px;
      }

      ul li {
        margin-bottom: 10px;
        cursor: pointer;
        &:hover {
          color: #2196f3;
        }
      }
    }
  }

  .info-btn {
    width: calc(100% - 20px);
    margin: 10px 10px 0 10px;
    height: 34px;
    line-height: 17px;
    border-radius: 3px;
    color: #2196f3;
    border: solid 1px #dde2e6;
    border-color: #2196f3;
    font-weight: 500;
    transition: 0.2s all ease-in;

    &:focus {
      outline: none;
      background-color: #fff;
    }
    &:hover {
      color: #fff;
      background-color: #2196f3;
    }
  }
}

.c-add-signer-modal {
  .deal-info-title {
    display: none !important;
  }

  .deal-info-section.deal-roles {
    padding: 0 !important;
  }
}
