%deal-listing-card {
  position: relative;
  background-color: #78909C;
  min-height: 180px;
  img {
    width: 100%;
    min-height: 180px;
  }

  .status {
    border-radius: 3px;
    background-color: #35b863;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    text-shadow: none;
    padding: 3px 10px;
    min-width: 50px;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 5px;
  }

  .data {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.9px;
    text-align: left;
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  }
}
