.deal-listing-card {
  padding: 10px 0;
  display: flex;
  flex-direction: row;

  .listing-photo {
    position: relative;
    width: 50px;
    height: 50px;
    &.hasListing {
      cursor: pointer;
    }

    img {
      width: 50px;
      height: 50px;
      border-radius: 4px;
      background-color: rgba(0, 0, 0, 0.2);
    }

    .view-btn {
      position: absolute;
      bottom: 2px;
      left: 2px;
      right: 2px;
      height: 16px;
      display: none;
      border-radius: 2px;
      background-color: #2196f3;
      font-size: 12px;
      text-align: center;
      color: #fff;
      &:hover {
        opacity: 0.9;
      }
    }

    &.hasListing {
      &:hover .view-btn {
        display: block;
      }
    }
  }

  .address-info {
    position: relative;
    width: calc(100% - 60px);
    padding-left: 10px;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.47;
    color: #1d364b;
    display: flex;

    .title {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .open-listing {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}

.listing-photo.c-button--shadow {
  cursor: default;
  margin: 0;
}

.deal-listing-card__address {
  position: relative;
  margin: 0;
  text-align: left;
  color: #263445;
  font-weight: normal;
  &:hover {
    color: #8da2b5;
  }

  &.is-editable {
    width: 100%;
    cursor: pointer;
    display: block;
    color: #263445;
    border: 1px dashed #fff;
    padding: 0 1.5rem 0 0.5rem;
    display: flex;
    justify-content: space-between;
    &:after {
      content: 'EDIT';
      font-size: 1.4rem;
      font-weight: normal;
      color: #2196f3;
      align-self: flex-end;
      visibility: hidden;
    }
    &:hover {
      border: 1px dashed #2196f3;

      &:after {
        visibility: visible;
      }
    }
  }
}

.deal-listing-card__open-link-icon:hover {
  fill: #263445;
}

.deal-listing-card__warning-tooltip {
  display: flex;
  flex-direction: row;
  padding: 1rem 1rem 0.7rem;
  left: -25%;
  width: 25rem;
  font-size: 1.3rem;
  font-weight: normal;
  color: #fff;
  border-radius: 5px;
  background-color: #263445;
  transform: translate(0, 0);

  &:before {
    content: '';
    position: absolute;
    top: -22%;
    left: 15%;
    width: 10px;
    height: 10px;
    border: 10px transparent solid;
    border-bottom-color: #263445;
  }

  > span {
    margin-top: -0.3rem;
    margin-left: 1rem;
    width: calc(100% - 3.4rem);
  }
}
