.deal-listing-card {
  @extend %deal-listing-card;
}

%deal-listing-card {
  position: relative;
  background-color: #4e5c6c;
  min-height: $listing-card-height;
  img.listing-photo {
    width: 100%;
    min-height: $listing-card-height;
    max-height: $listing-card-height;
  }

  .back {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 41px;
    height: 41px;
    border-radius: 3px;
    background-color: #000;
    color: #fff;
    opacity: 0.5;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease-in;
    &:hover {
      opacity: 1;
    }
    i {
      vertical-align: middle;
      font-size: 40px;
    }
  }

  .placeholder {
    position: absolute;
    width: 50px;
    top: 25%;
    left: calc(50% - 25px);
  }

  .data {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 16px;
    color: #fff;
    display: flex;
    align-items: top;
    transition: all 0.2s ease-in;

    &:hover {
      background-color: rgba(0, 0, 0, 0.7);
    }

    .address-info {
      width: 90%;
      .title {
        font-size: 19px;
        font-weight: bold;
      }

      .addr {
        color: #c9d7df;
        font-size: 14px;
      }
    }

    .view {
      width: 10%;
      text-align: right;

      img, i {
        margin-top: 10px;
        width: 16px;
        cursor: pointer;
      }
    }
  }
}
