.modal-deal-mls-status-modal {
  .modal-header {
    @extend %deal-modal-header;
  }

  .modal-body {

    .radio {
      display: inline-block;
      width: 20px;
      height: 20px;
      background-color: #ffffff;
      border: solid 1px #e9e9e9;
      border-radius: 40px;
      text-align: center;
      margin-right: 14px;
      i {
        color: transparent;
      }

      &.selected {
        border-color: #2196f3;
        i {
          color: #2196f3;
          font-size: 12px;
        }
      }
    }

    .status {
      display: inline-block;
      width: 20px;
      height: 12px;
      margin-right: 8px;
      border-radius: 2px;
    }

    .name {
      font-size: 14px;
      color: #62778c;
    }
  }

  .modal-footer {
    .deal-button {
      min-width: 100px;
      height: 33px;
      line-height: 17px;
      background-color: #2196f3;
      border: none;
      color: #fff;
      font-size: 14px;
      font-weight: 500;
      &.cancel {
        background-color: transparent;
        color: #2196f3;
        box-shadow: none;
      }
      &:focus {
        outline: none;
      }
      &:hover {
        opacity: 0.9;
      }
    }
  }
}
