.pdf-splitter {
  position: fixed;
  z-index: 1052;
  left: 0px;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;

  .header {
    @extend %pdf-splitter-header;
  }

  .splitter-container {
    @extend %pdf-splitter-container;
  }
}

%pdf-splitter-header {
  height: 56px;
  line-height: 56px;
  vertical-align: middle;
  padding: 0 20px;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #eee;

  span {
    font-size: 17px;
    font-weight: bold;
    color: #1d364b;
  }

  .close-form {
    float: right;
    font-weight: normal;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
}

%pdf-splitter-container {
  display: flex;
  background-color: #fff;
  min-height: calc(100vh - 56px);

  .pdfs {
    width: 57%;
    max-height: calc(100vh - 56px);
    overflow: scroll;
    overflow-x: hidden;

    .pdf-section {
      display: block;
      padding: 16px;

      .heading {
        border-bottom: 1px solid #e7eef2;
        margin-bottom: 10px;
        padding-bottom: 4px;
        font-size: 17px;

        .page-title {
          display: inline-block;
          color: #1d364b;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          max-width: 80%;
        }

        .pages-count {
          display: inline-block;
          overflow: hidden;
          margin-left: 10px;
          color: #8da2b5;
        }
      }

      .page-container {
        display: inline-block;
        position: relative;
        width: 138px;
        height: 158px;
        border-radius: 4px;
        border: solid 1px #dce5eb;
        margin: 0 18px 18px 0;

        .page-canvas {
          width: 136px;
          height: 156px;
          border-radius: 4px;

          &:hover {
            opacity: 0.5;
          }
        }

        .page-number {
          position: absolute;
          display: block;
          top: 4px;
          left: 4px;
          width: 24px;
          height: 24px;
          line-height: 24px;
          vertical-align: middle;
          text-align: center;
          border-radius: 3px;
          backdrop-filter: blur(10px);
          background-color: rgba(255, 255, 255, 0.9);
          border: solid 1px #8da2b5;
          font-size: 12px;
          font-weight: 600;
          color: #1d364b
        }

        .select-page {
          position: absolute;
          display: block;
          width: 72px;
          height: 24px;
          line-height: 24px;
          vertical-align: middle;
          border-radius: 4px;
          background-color: #2196f3;
          bottom: 4px;
          left: 33px;
          color: #fff;
          cursor: pointer;
          text-align: center;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }

  .workspace {
    width: 43%;
  }
}
