.deal-roles {
  @extend %deal-roles;
}

.modal-deal-add-role {
  .modal-content {
    border-radius: 6px;
    border: none;
  }

  .modal-header {
    @extend %deal-modal-header;
  }

  .modal-body {
    padding: 0;
    input {
      height: 48px;
      background-color: #fff;
      border: none;
      box-shadow: 0 -1px 0 0 #dce5eb, 0 1px 1px 0 #dce5eb;
      padding-left: 10px;
      font-size: 15px;
      &:focus {
        outline: none;
      }
    }

    .first_name {
      width: 50%;
    }

    .last_name {
      width: 50%;
    }

    .email {
      width: 100%;
    }

    .phone {
      width: 100%;
    }

    .role-descr {
      font-size: 15px;
      color: #8da2b5;
      padding: 5px 0 10px 10px;
    }

    .dropdown {

      &.btn-group {
        width: 100%;
      }

      .dropdown-toggle {
        width: 100%;
      }

      .caret {
        color: #8da2b5;
        margin-left: 5px;
        border-top-width: 6px;
        border-left-width: 6px;
        border-right-width: 6px;
      }

      &.btn-group.open, .dropdown-toggle {
        background-color: transparent;
        box-shadow: none !important;
        font-size: 15px;
      }

      ul.dropdown-menu {
        li > a {
          height: 30px;
          font-weight: 500;
          &:hover {
            color: #2196f3;
            background-color: transparent;
          }
        }
      }
    }

    #deal-add-role--drp {
      margin-top: 2px;
      height: 48px;
      text-align: left;
      border: none;
    }
  }

  .modal-footer {
    .btn-deal {
      width: 70px;
      height: 32px;
      line-height: 16px;
      border-radius: 3px;
      border: none;
      &.disabled {
        border: solid 1px #dde2e6;
        color: #dde2e6;
      }
    }
  }
}

%deal-roles {
  background: #fff;
  padding: $col-padding 0 1px 0;
  .item {
    margin-bottom: 17px;
    display: flex;
    align-items: center;
    padding-left: $col-padding/2;

    .role-avatar {
      width: 50px;
    }

    &.add-new {
      cursor: pointer;
      img {
        width: 21px;
        margin-left: 5.5px; // (32px - 21px) / 2
        margin-right: 23.5px; // 50px - 21px - 5px
      }

      &:hover {
        opacity: 0.8;
      }
    }

    .name {
      color: #263445;
      font-weight: 500;
      width: calc(100% - 55px - #{$col-padding});
      .role {
        font-weight: normal;
        color: #8696a4;
        font-size: 14px;
      }
    }

    .cta {
      width: 15px;
      i {
        color: #62778c;
        cursor: pointer;
        transition: 0.1s ease-in all;
      }

      i.fa-delete {
        opacity: 0;
      }
    }

    &:hover .cta > i {
      opacity: 1;
    }
  }
}
