.deal-roles {
  @extend %deal-roles;
}

.modal-deal-team-agents {
  .modal-content {
    border: none;
    box-shadow: 1px 1px 1px #ccc;
    overflow: auto;
  }

  .modal-header {
    @extend %deal-modal-header;
  }

  .modal-body {
    padding: 0;
    min-height: 200px;
    max-height: 400px;
    position: relative;

    input.search {
      width: 100%;
      height: 40px;
      border: 1px solid #dbdbdb;
      border-radius: 3px;
      margin-bottom: 10px;
      padding: 0 10px;

      caret-color: #003bdf;
      background-color: #f9f9f9;
      &:hover {
        background-color: #f2f2f2;
        ::placeholder {
          color: #000000;
        }
      }
      &:focus {
        outline: 0;
        background-color: #ffffff;
        border-color: #003bdf;
        ::placeholder {
          color: #000000;
        }
      }
    }

    .deal-roles {
      @extend %deal-roles;
      padding: 10px !important;
      overflow: auto;
      max-height: 380px;
      overflow: auto;
    }

    .deal-roles .item {
      cursor: pointer;
    }

    .deal-roles .search-overlay {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 0 0 5px 5px;
    }

    .deal-roles .deal-roles-empty-state {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 200px;
      font-weight: 500;
      font-size: 16px;
    }

  }
}

%deal-roles {
  background: #fff;
  padding: $col-padding 0 1px 0;
  cursor: pointer;

  .item {
    position: relative;
    margin-bottom: 7px;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 3px;

    &:hover {
      background: #f2f2f2;
      .title{
        color: #003bdf;
      }
    }

    .role-avatar {
      width: 50px;
    }

    &.add-new {
      img {
        width: 21px;
        margin-left: 5.5px; // (32px - 21px) / 2
        margin-right: 23.5px; // 50px - 21px - 5px
      }

      &:hover {
        opacity: 0.8;
        background-color: transparent;
        text-decoration: none;
      }
    }

    .name {
      font-weight: 500;
      width: calc(100% - 55px - #{$col-padding});

      .title {
        &:hover {
          text-decoration: underline;
        }
      }

      .role {
        font-weight: normal;
        color: #8696a4;
        font-size: 14px;
        text-decoration: none;
      }
    }

    .delete-button {
      opacity: 0;
    }

    &:hover > .delete-button {
      opacity: 1;
    }
  }
}

%deal-roles-drop-downs {
  .dropdown {
    &.btn-group.open,
    .dropdown-toggle {
      background-color: transparent;
      box-shadow: none !important;
      font-size: 15px;
    }

    ul.dropdown-menu {
      li {
        a {
          height: 30px;
          font-weight: 500;
          color: #263445;

          &:hover {
            color: #2196f3;
            background-color: transparent;
          }
        }

        &.disabled {
          cursor: not-allowed;
          a {
            font-weight: normal;
            color: #8da2b5;

            &:hover {
            }
          }
        }
      }
    }

    .caret {
      color: #8da2b5;
      margin-left: 5px;
      border-top-width: 6px;
      border-left-width: 6px;
      border-right-width: 6px;
    }
  }

  #deal-add-role--drp {
    margin-top: 2px;
    height: 48px;
    text-align: left;
    border: none;

    &.btn-group {
      width: 100%;
    }

    .dropdown-toggle {
      width: 100%;
    }
  }

  // alias for title
  .btn-group-default {
    width: 20%;
  }

  #deal-add-role-title--drp {
    height: 48px;
    text-align: left;
    border: none;
  }

  .deal-add-role-title--drpmenu,
  .deal-add-role--drpmenu {
    @include scrollbar(6px);
    border: none;
    margin-left: 4px !important;
    margin-top: -4px !important;
    max-height: 200px;
    overflow: auto;
  }
}
