%deal-task-manager {
  border: 2px solid #eff5fa;
  margin: 20px $col-padding 20px 0;
  background-color: #fff;
  .heading {
    @extend %deal-task-manager-heading;
  }

  .full-width {
    width: 100%;
  }
}

%deal-task-manager-heading {
  width: 100%;
  height: 58px;
  padding: 0 $col-padding;
  line-height: 58px;
  vertical-align: middle;
  border-radius: 3px 3px 0 0;
  background-color: #eff5fa;
  box-shadow: 0 1px 0 0 #e7eef0;
  font-size: 17px;
  color: #5b6469;

  .task-btn {
    float: right;
    height: 34px;
    line-height: 30px;
    vertical-align: middle;
    color: #78909c;
    margin-top: 12px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #e7eef0;

    &:focus {
      outline: none;
    }
    &:hover {
      background-color: #fbfbfb;
    }
  }

  .btn-close {
    width: 34px;
  }

  .btn-submit {
    margin-right: 10px;
    width: 150px;
    font-size: 15px;
  }
}
