.deal-tasks {
  @extend %deal-tasks;
}

%deal-tasks {
  min-width: $deal-tasks-width;
  max-width: $deal-tasks-width;

  &.expanded {
    $expanded-width: calc(100% - #{$deal-info-width});
    min-width: $expanded-width;
    max-width: $expanded-width;
  }

  .checklists-container {
    padding: $col-padding !important;
    min-height: 100vh;
    max-height: 100vh;
    overflow: auto;

    .checklist {
      @extend %deal-task-checklist;
    }

    .show-terminated-btn {
      @extend %terminated-btn;
    }
  }
}

%terminated-btn {
  padding: 5px 10px;
  border-radius: 4px;
  background-color: #f8fafb;
  border: none;
  font-size: 13px;
  font-weight: 500;
  color: #62778c;
  &:focus {
    outline: none;
  }
}

%deal-task-checklist {
  border-radius: 4px;
  border: solid 1px #dce5eb;
  margin-bottom: 20px;
  box-shadow: none;

  .panel-heading {
    background-color: #f8fafb;
    cursor: pointer;
    border-radius: 4px;
    padding: 0 3px 0 10px;

    .panel-title > a {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      height: 50px;

      &:hover {
        text-decoration: none;
      }

      .crt {
        width: 20px;
      }

      .s-info {
        width: 88%; //fallback
        width: calc(90% - 20px);
        color: #1D364B;
        font-size: 17px;
        ul.labels {
          margin: -5px 0 0 0;
          min-height: 6px;
          padding: 0;
          li.p-label {
            display: inline-block;
            font-size: 10px;
            font-weight: 500;
            color: #d0011b;
            padding-left: 1px;
            margin-right: 2px;
            &.BACKUP,
            &.PRIMARY {
              color: #8da2b5;
            }
            &.TERMINATED {
              color: #d0011b;
            }
            &:after {
              color: #000;
              content: ' ― '
            }
            &:last-child {
              &:after {
                content: ""
              }
            }
          }
        }
      }

      .cta {
        width: 10%;
      }
    }

    a.collapsed .p-icon:before {
      font-family: "FontAwesome";
      color: #c9d7df;
      content: "\f0da";
    }

    .cta {
      text-align: right;
    }
  }

  .panel-body {
    padding: 0;
    overflow: hidden;
    @extend %deal-tasks;
  }
}

%deal-tasks {
  @extend %tasks-transition;

  .task,
  .add-task {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #fefefe;
    height: 56px;
    cursor: pointer;
    transition: background-color 0.1s ease-in;
    border-bottom: 1px solid #eef1f2;
    padding: 0 0 0 10px;

    &.active {
      background: #dce5eb;
      color: #1d364b;
    }

    &:hover {
      background-color: #dce5eb;
    }

    .icon {
      min-width: 20px;
      max-width: 20px;
    }

    .title {
      font-size: 14px;
      color: #61778d;
      min-width: 55%;
      max-width: 55%;
      overflow: hidden;
      display: inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &.no-status {
      .title {
        min-width: 90%;
        max-width: 90%;
      }
    }

    .status, .notification {
      position: absolute;
      top: 21px;
      right: 22px;
      border-radius: 3px;
      min-width: 100px;
      background: #35b863;
      color: #fff;
      font-size: 11px;
      text-align: center;
      margin-right: 10px;
      &.Incomplete {
        display: none;
      }
      &.Pending, &.ATTENTION {
        background-color: #f6a623;
      }
      &.Declined {
        background-color: #d0011b;
      }
      &.Submitted,
      &.Notified {
        background-color: #f6a623;
      }
    }

    .notification {
      top: 19px;
      right: 0px;
      min-width: 10px;
      height: 10px;
      border-radius: 20px;
      background-color: transparent;

      img {
        width: 16px;
      }

      span {
        position: absolute;
        top: -5px;
        right: -5px;
        background-color: #FF4747;
        display: block;
        width: 13px;
        height: 13px;
        border-radius: 50px;
        line-height: 13px;
        vertical-align: middle;
        color: #fff;
        font-size: 10px;
        text-align: center;
      }
    }
  }

  .add-task {
    background-color: #f8fafb;
    border-radius: 0 0 4px 4px;

    .title {
      color: #2196f3;
      min-width: 95%;
      max-width: 95%;
    }
    .img-add {
      width: 10px;
    }
    &:hover {
      opacity: 0.8;
    }
  }
}

.deal-checklist-cta-menu {
  .cta-btn {
    padding: 0;
    margin: 0;
  }
  @extend %dels-dropdown-cta-menu;
}

%tasks-transition {
  .tasks-enter {
    opacity: 0.01;
  }

  .tasks-enter.tasks-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
  }

  .tasks-leave {
    opacity: 1;
  }

  .tasks-leave.tasks-leave-active {
    opacity: 0.01;
    transition: opacity 800ms ease-in;
  }
}
