.modal-deal-create-form {
  .modal-header {
    @extend %deal-modal-header;
  }

  .modal-body {
    max-height: 430px;
    overflow: auto;
    padding: 0;
    input {
      width: calc(100% - 40px);
      margin: 20px;
      height: 40px;
      padding: 0 20px;
      border-radius: 3px;
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(255, 255, 255, 0.9);
      border: solid 1px #dde6ec;
      color: #1d364b;
      font-weight: 500;
      &:focus {
        outline: none;
      }
    }
  }

  .modal-footer {
    padding: 0;
    text-align: left;
  }

  ul {
    margin: 0;
    padding: 0;
    li {
      height: 50px;
      line-height: 50px;
      vertical-align: middle;
      padding: 0 20px;
      border-bottom: 1px solid #e9e9e9;
      font-size: 15px;
      color: #1d364b;
      cursor: pointer;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      i {
        margin-left: 10px;
      }

      &:last-child {
        border-bottom: none;
      }

      &.upload {
        color: #2196f3;
        border-bottom: none;
        position: relative;
        i {
          margin-right: 10px;
        }
        input {
          display: block !important;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          opacity: 0;
        }
      }

      &:hover {
        background-color: #eff5fa;
        text-decoration: underline;
      }

      &.disabled {
        &:hover {
          cursor: auto;
          text-decoration: none;
          background-color: #fff;
        }
      }
    }
  }
}

.modal-deal-create-form-task-name {
  width: 600px;
  .modal-header {
    @extend %deal-modal-header;
  }

  .modal-body {
    .label {
      font-size: 14px;
      font-weight: bold;
      letter-spacing: -0.2px;
      color: #4a4a4a;
    }

    .note {
      font-size: 13px;
      letter-spacing: -0.2px;
      color: #9b9b9b;
      margin-top: 15px;
      margin-left: 43px;
    }

    input {
      width: 507px;
      height: 44px;
      border-radius: 3px;
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(255, 255, 255, 0.9);
      border: solid 1px #2196f3;
      margin-bottom: 5px;
      padding: 5px 10px;
      &:focus {
        outline: none;
      }
    }
  }

  .modal-footer {
    button {
      width: 110px;
      height: 34px;
      border-radius: 3px;
      background-color: #2196f3;
      border: none;
      &:focus {
        outline: none;
      }
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
