.deal-task-detail {
  @extend %deal-task-detail;
}

%deal-task-detail {
  $width: calc(100% - #{$deal-info-width} - #{$deal-tasks-width} - #{$col-padding});
  min-width: $width;
  max-width: $width;
  border: 1px solid #dce5eb;
  margin: 20px $col-padding 20px 0;
  border-radius: 4px;
  background-color: #f8fafb;
  @include scrollbar();

  .heading {
    @extend %deal-task-detail-heading;
  }

  .scrollable {
    $hg: calc(100vh - 110px - 77px);
    height: $hg;
    max-height: $hg;
    overflow: auto;
  }

  .full-width {
    width: 100%;
    position: relative;
  }
}

%deal-task-detail-heading {
  width: 100%;
  height: 58px;
  padding: 0 $col-padding 0 $col-padding;
  border-radius: 3px 3px 0 0;
  border-bottom: 1px solid #dce5eb;
  background-color: #f8fafb;
  margin-bottom: 15px;

  .title {
    padding: 15px 10px;
    font-size: 17px;
    font-weight: 500;
    color: #1d364b
  }

  .task-close {
    text-align: right;
    vertical-align: middle;
    padding-right: 10px;
  }

  .task-btn {
    float: right;
    height: 34px;
    line-height: 30px;
    vertical-align: middle;
    color: #78909c;
    margin-top: 12px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #e7eef0;

    &:focus {
      outline: none;
    }
    &:hover {
      background-color: #fbfbfb;
    }
  }

  .close-task {
    font-size: 18px;
    width: 34px;
  }
}
