.modal-deal-upload-files {
  width: 924px;

  .modal-content {
    border: none;
    border-radius: 8px;
  }

  .modal-header {
    @extend %deal-modal-header;
  }

  .modal-body {
    @extend %upload-file-container;
  }

  .modal-footer {
    border-top: none;

    .help {
      width: 18px;
      margin-right: 20px;
    }

    .btn-split {
      width: 110px;
      height: 34px;
      border-radius: 3px;
      background-color: #fff;
      border: 1px solid #dce5eb;
      color: #2196f3;
      font-size: 14px;
      font-weight: 600;

      &:focus {
        outline: none;
      }
      &:hover {
        border-color: #2196f3;
        background-color: #2196f3;
        color: #fff;
      }
      &.disabled {
        background-color: #dce5eb;
        border-color: #dce5eb;
        color: #8da2b5;
      }
    }
  }
}

%deal-tiny-save-btn {
  .save {
    cursor: pointer;
    font-weight: 500;

    &:hover {
      color: #2196f3;
    }
  }
}

%upload-file-container {
  .notify-admin {
    text-align: right;
    margin: 5px 0 20px 0;
    padding-right: 7px;
    min-height: 20px;

    .deal-radio {
      .radio-button {
        width: 14px;
        height: 14px;
        line-height: 12px;
        i {
          font-size: 10px;
        }
      }

      .radio-label {
        font-size: 12px;
      }
    }

    span.notified {
      font-size: 12px;
      color: gray;
    }
  }

  .upload-row {
    display: flex;
    align-items: center;

    .file-name {
      position: relative;
      width: 52%;
      height: 40px;
      line-height: 40px;
      vertical-align: middle;
      padding: 0 0 0 12px;
      border-radius: 4px;
      background-color: rgba(255, 255, 255, 0.9);
      border: solid 1px #dce5eb;
      font-size: 14px;
      letter-spacing: -0.2px;
      color: #1d364b;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      button:focus {
        outline: none;
      }

      img {
        width: 17px;
        margin-right: 12px;
        margin-top: -3px;
      }

      .edit-icon {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        color: #afbbc8;
        cursor: pointer;

        &:hover {
          color: #2196f3;
        }

        &.canEditName {
          opacity: 1;
        }
      }

      .input-edit-name {
        width: 84%;
        height: 30px;
        padding: 0 5px;
        border-radius: 3px;
        border: 1px solid #ccc;

        &.disabled {
          border: none;
        }

        &:hover {
          background: #fafafa;
        }

        &:focus {
          background: #fafafa;
          outline-width: 1px;
          border-width: 0;
        }
      }

      @extend %deal-tiny-save-btn;

      &:hover .edit-icon {
        opacity: 1;
      }
    }

    .file-task {
      width: 32%;
      padding-left: 16px;
    }

    .file-cta {
      width: 16%;
      text-align: right;

      button {
        width: 90px;
        height: 40px;
        border-radius: 4px;
        background-color: #2196f3;
        border: none;

        &:hover {
          background-color: #1d86d9;
        }

        &.disabled {
          background-color: #dce5eb;
          color: #8da2b5;
        }

        &.uploaded {
          cursor: auto;
          background-color: #35b863;
        }

        &:focus {
          outline: none;
        }
      }
    }
  }
}
