.chatroom-add-member {
  .modal-header {
    background-color: #f9f9f9;
    border-bottom: none;
    padding: 23px 20px;
    .modal-title {
      float: left;
      font-size: 24px;
      font-weight: 600;
      line-height: 1.0;
      color: #4a4a4a;
    }
    .leave-icon {
      float: right;
      font-size: 21px;
      font-weight: bold;
      line-height: 1;
      text-shadow: 0 1px 0 #fff;
      margin-right: 20px;
      opacity: 0.2;
      &:hover, &:focus {
        cursor: pointer;
        opacity: 1;
      }
    }
  }
}

#popover-leave {
  font-size: 13px;
  font-weight: 500;
  .tooltip-inner {
    background-color: #333e4c;
    border-radius: 4px;
  }
  .tooltip-arrow{
    border-bottom-color: #333e4c;
  }
}