.chatroom-icon {
  text-align: center;
  cursor: pointer;
  background-color: #4E5C6C;
  height: 55px;
  padding-top: 16px;

  .count {
    $size: 17px;
    position: absolute;
    right: 15px;
    top: 12px;
    background-color: red;
    min-width: $size;
    min-height: $size;
    line-height: $size;
    vertical-align: middle;
    color: #fff;
    border-radius: 100px;
    font-size: 10px;
    transition: 0.5s all ease-in;
  }
}
