.chatroom-members {
  .members-list {
    margin: 20px 0 10px 0;
    max-height: 350px;
    overflow-y: auto;
    .item {
      padding: 10px;
      .vcenter {
        display: inline-block;
        vertical-align: middle;
        float: none;
      }
      .title {
        color: #4a494a;
        font-size: 15px;
      }
      .status {
        color: #9b9a9b;
        font-size: 13px;
      }
      .delete-icon {
        visibility: hidden;
        color: #8ca2b6;
        display: block;
        text-align: center;
      }
    }

    .group-members:hover {
      background-color: #fafafa;
      .delete-icon {
        visibility: visible;
        &:hover {
          color: $brand-primary;
          cursor: pointer;
        }
      }
    }
  }
}
