/**
* Rooms
*/
%rooms {
  background-color: #263445;
  min-height: 100vh;
  position: relative;

  .toolbar {
    @extend %rooms-toolbar;
  }

  .list-container {
    overflow: auto;
    min-height: 81vh;
    max-height: 81vh;

    &::-webkit-scrollbar {
      width: 7px;
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px #263445;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #1A2430;
    }

    .list {
      @extend %rooms-list;
    }
  }

  .new-room {
    @extend %room-new;
  }
}

%rooms-list {
  color: #fff;
  .item {
    @extend %room-item;
  }
}

%room-new {
  background-color: #394553;
  position: absolute;
  width: 290px;
  height: 40px;
  border-radius: 4px;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  color: #b2b2b2;
  transition: 0.5s all ease-in;
  i {
    margin-right: 5px;
    font-size: 18px;
    vertical-align: middle;
  }
  &:hover {
    cursor: pointer;
    color: #fff;
    background-color: #2196f3;
    svg g g {
      fill: #fff;
    }
  }
  .compose-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
  }
  &:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
}

%rooms-toolbar {
  padding: 20px $rooms-padding 0 $rooms-padding;
  min-height: 70px;
  margin-bottom: 10px;
  border-bottom: 1px solid #212e3d;

  .focus {
    border: solid 1px rgba(33, 150, 243, 0.5);
    background-color: rgba(216, 216, 216, 0.2);
  }
  .toggle-sidebar {
    display: block;
    float: right;
    margin-left: 20px;
    height: 30px;
    width: 30px;
    background-color: rgba(216, 216, 216, 0.2);
    text-align: center;
    border-radius: 4px;
    padding: 0 4px;
    cursor: pointer;
    .btn-tgl {
      color: #b2b2b2;
      margin-left: 0;
      svg {
        display: inline-block;
        vertical-align: middle;
      }
    }
    &:hover {
      background-color: #2196f3;
    }
  }

  .two-direction-arrow-container:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }

  .socket-status {
    padding-top: 10px;
    margin: 30px 0 10px 0;
    color: #fff;
    img {
      width: 30px;
      margin-left: 5px;
    }
  }
}

%room-item {
  padding: 7px 4px 7px $rooms-padding;
  font-size: 15px;
  margin: 0;
  cursor: pointer;
  .vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
  }
  .avatar {
    padding-left: 0;
    padding-right: 0;
    margin-right: 3px;
  }
  .title {
    padding: 0;
    opacity: 0.5;

    &.hasNotification {
      opacity: 1;
      span {
        font-weight: bold;
      }
    }
    .message-typing {
      display: inline;
      margin-left: 5px;
      .message {
        display: none;
      }
      img {
        width: 30px;
      }
    }
  }
  .notifications {
    text-align: center;
    padding: 4px 0 0 0;
    .count {
      padding: 2px;
      border-radius: 10px;
      font-size: 11px;
      min-width: 30px;
      display: inline-block;
      background-color: #2196f3;
    }
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  &.active {
    background-color: #2196f3;
    .title {
      opacity: 1;
    }
    .notifications {
      display: none;
    }
  }
}

.room-settings {
  margin-left: 15px;
  padding: 0;
  background-color: transparent;
  border: none;
  &:hover {
    background-color: transparent;
  }

  &:hover svg > g {
    fill: #2196f3;
  }
}
