/* bm-menu */
// .bm-menu {
//   box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.4);
// }

.bm-menu-wrap {
  z-index: 1201 !important;
  background-color: #263445;
  color: #fff;
  .rooms {
    @extend %rooms;
    .list-container {
      max-height: 81vh;
      min-height: 81vh;
    }
  }
}

.bm-overlay {
  z-index: 101 !important;
}
