$rooms-padding: 20px;

@import './fullscreen';
@import './rooms';
@import './messages';
@import './sidebar';
@import './members';
@import './delivery-report';
@import './popups';
@import './chatroom-add-member';

.chatroom {
  .no-padding {
    padding: 0;
  }
  .rooms {
    @extend %rooms;
  }
  .messages {
    @extend %messages;
  }
}

/**
 * helpers
 */
.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
