$rooms-padding: 20px;

@import './fullscreen';
@import './rooms';
@import './room-toolbar';
@import './messages';
@import './popups';
@import './sidebar';
@import './members';

.chatroom {
  margin-left: 65px;
  margin-right: 0;

  .no-padding {
    padding: 0;
  }
  .rooms {
    @extend %rooms;
  }
  .messages {
    @extend %messages;
  }
}
