<div data-type="article" data-article="left">
  <div data-type="grid-row">
    <div data-type="grid-column">
      <img data-type="image" rechat-assets="static" src="{{image}}">
    </div>
    <div data-type="grid-column">
      <h3 data-type="headline">
        {{title}}
      </h3>
      <div data-type="text">
        {{description}}
      </div>
      <a data-type="button" href="{{url}}" target="_blank">
        Read More
      </a>
    </div>
  </div>
</data>