<div data-type="article" data-article="top" rechat-editable="tree">
  <img data-type="image" class="pure-img" rechat-assets="static" src="{{image}}"/>
  <h3 data-type="headline">
    {{title}}
  </h3>
  <div data-type="text">
    {{description}}
  </div>
  <a data-type="button" class="pure-button" href="{{url}}" target="_blank">
    Read More
  </a>
</div>