#agents {
  .listing-side {
/*     color: #3388FF; */
  }

  .buying-side {
/*     color: #A4D013; */
  }

  #results {
    overflow: scroll;
    height: 90vh;
    border-top: 1px solid #e7e4e3;
  }

  #filters {
    border-right: 1px solid #e7e4e3;
    label {
      font-size: 13px;
    }

    overflow-y: scroll;
    height: 90vh;

    label {
      width:100%;

      .tip {
        font-size: 11px;
        color: #AAAAAB;
        float: right;
      }
    }
  }

  table {
    min-width: 2000px;
  }

  #header {
    font-size: 20px;
    font-weight: bold;
    background: #F5F5F6;
    display: table;
    width: 100%;

    #separator {
      border-right: 1px solid #e7e4e3;
      color: #AAAAAB;
      font-size: 13px;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left:200px;
      float:left;
      width:490px
    }

    #info {
      padding-top: 15px;
      float:left;
    }

    #arrow {
      border-top: 1px solid #e7e4e3;
      border-right: 1px solid #e7e4e3;
      width: 30px;
      height: 30px;
      transform: rotate(45deg);
      background: #F5F5F6;
      float: left;
      margin-left: -15px;
    }
  }

  th {
    padding:15px;
    color: #929292;
    font-size: 14px;
    font-family: "San Francisco";
    cursor:pointer;

    &:hover {
      text-decoration: underline;
    }

    &:first-child {
      border-left: none; /* FilterBar has a border already. Avoid two borders. */
    }
  }

  td {
    &:first-child { /* Agent name column needs to be bigger */
      border-left: none; /* FilterBar has a border already. Avoid two borders. */
      padding-left: 10px;
      span {
        padding-left: 10px;
      }
    }

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    border: 1px solid #e7e4e3;
  }

  tbody {
    tr:hover {
      background: #F5F5F6;
    }
  }
}