.map__listing-marker {
  background: #fff;
  margin: 0 auto;
  text-align: center;
  position: relative;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
  margin-left: -35px;
  margin-top: -35px;
}

.map__listing-marker:after {
  content: "";
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  bottom: -5px;
  left: 30px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #FFF #FFF transparent;
}