.map__listing-marker {
  background: #fff;
  margin: 0 auto;
  text-align: center;
  position: relative;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
  margin-left: -35px;
  margin-top: -35px;
}
.map__listing-marker:after {
  content: "";
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px;
  transform: rotate(45deg);
  bottom: -5px;
  left: 30px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #FFF #FFF transparent;
}
.listing-map {
  transition: 150ms;
  right: 0;
}
.listing-panel {
  transition: 150ms;
  right: -850px;
  &.active {
    right: 0;
  }
}
.listing-panel__button {
  outline: none !important;
  margin-top: 10px;
  margin-right: 10px;
  transition: 150ms;
  right: 0px;
  border: none !important;
  background: #fff !important;
  box-shadow: none !important;
  border-radius: 0;
  &.active {
    right: 850px;
  }
}