.room-list__item {
  &:hover {
    background-color: #FBFDFF;
  }
  &__title,
  &__names,
  &__message {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.create-message__btn {
  color: #ccc;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  transition: all 0ms !important;
  &:hover,
  &:active,
  &:focus {
    border-color: #3388ff !important;
    background-color: #3388ff !important;
    color: #fff !important;
  } 
}