<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      style="margin: 0; padding: 0; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%%; line-height: 1.6;">
<head style="margin: 0; padding: 0; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%%; line-height: 1.6;">
    <meta name="viewport" content="width=device-width"
          style="margin: 0; padding: 0; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%%; line-height: 1.6;">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"
          style="margin: 0; padding: 0; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%%; line-height: 1.6;">
    <title style="margin: 0; padding: 0; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%%; line-height: 1.6;">{{ data.title }}</title>

</head>
<body bgcolor="#FFFFFF" style="
 -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    height: 100%%;
    width: 100%%;
">
<div style="box-sizing: border-box; width: 576px; border: 1px solid #e7e4e3; margin: 0 auto; font-family: sans-serif;/* height: 750px; */" bgcolor="#ffffff">
    <div style="box-sizing: border-box; border-bottom: 1px solid #e7e4e3; background-color: #fafafc;display: block;padding: 8px 20px 6px;min-height: 25px !important;" bgcolor="#fafafc">
        <h1 style="box-sizing: border-box; font-size: 20px; color: #3388ff; margin: 0; padding: 0;display: inline-block;width: 48%%;line-height: 1.6;">Rechat</h1>
    </div>

    <div style="padding: 42px 30px 12px; box-sizing: border-box;display: block;line-height: 1.6;" bgcolor="#ffffff">
        <div style="text-align: center;margin: 0;padding: 0;height: 204px;"><img
                src="/static/images/terms/house.png"></div>


        <div style="color: #9b9b9b;display: block;margin-top: 25px;">

    <div style="height: 28px;margin-bottom: 24px;">
        <h3 style="color: #858588;text-align: center;font-size: 28px;font-family: Helvetica;font-weight: lighter;display: block;padding: 0;line-height: 28px;margin: 0;">
            {{ data.title }}</h3>
    </div>
    <div>
        {{{ data.content }}}
    </div>
    <div style="margin: 30px 0 20px; line-height: 22px;font-size: 16px;font-family: Helvetica;">Thank you,
        <br>The Rechat Team
    </div>
</div>

    </div>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56150904-2', 'auto');
  ga('send', 'pageview');

</script>

</body>

</html>
