
  .c-contact-activities-list {
    min-height: 40vh;
    padding: 0;

    .empty-list {
      @extend %empty-state;
    }

  a {
    &:hover {
      cursor: pointer;
    }

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.c-contact-activities-list {
  ul.nav-tabs {
    border: none;
    padding: 1em;
    margin-bottom: 1em;

    li {
      font-size: 1.25rem;
      margin-right: 1em;
      a {
        margin: 0;
        padding: 0;
        color: #000;
        &:hover {
          border-color: transparent;
          background-color: transparent;
        }

        &:focus {
          outline: none;
          border: none;
          background-color: transparent;
        }
      }

      .bdg {
        font-size: 0.75rem;
        margin-left: 0.5em;
        font-weight: normal;
        color: $gray-darker;
      }
    }

    li.active {
      border: none;

      a {
        border: none;
        .name {
          color: $brand-primary;
          font-weight: bold;
          border-bottom: 2px solid $brand-primary;
          padding-bottom: 0.5em;
        }
      }
    }
  }
}

.c-contact-activities-list__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em;

  &:hover {
    background-color: $gray-lighter;
  }

  .image {
    position: relative;
    img {
      width: 34px;
      height: 34px;
      border-radius: 3px;
      &.round {
        border-radius: 30px;
      }
    }
  }

  .desc {
    font-size: 0.875rem;
    margin-left: 0.5714285714285714em;
  }
  
  .time {
    font-size: 0.75em;
    margin-left: 0.6666666666666666em;
    color: $gray-darker;
    img {
      width: 8px;
      height: 8px;
      margin-right: 0.3333333333333333em;
    }
  }
}

.c-notes-timeline {
  position: relative;
  margin-bottom: 1em;
  padding: 0 1em;

  .fa:not(.fa-trash) {
    margin-right: 0.5em;
  }
}

.c-notes-timeline__loading {
  @extend %absolute-wrapper;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 600;
  color: $brand-primary;
  background-color: $gray-lighter;
}

.c-notes-timeline__time {
  padding: 0.5em 1em;
  border-radius: 3px;
  color: $gray-darker;;
  background-color: $gray-lighter;
}