.c-contact-profile-card {
  padding: 1em;
  margin-bottom: 2em;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.c-contact-profile-card__title {
  color: #444;
  margin: 0 0 1em;
  padding-bottom: .5em;
  font-size: 1.8rem;
  line-height: 1;
  border-bottom: solid 1px #e5e7ea;
}

.c-contact-details-item {
  margin-bottom: .5em;
  display: flex;
  align-items: center;
}

.c-contact-details-item__label {
  width: 40%;
  margin: 0;
  color: #5b6469;
  display: inline-block;
  font-weight: normal;
}

.c-contact-details-item__field {
  width: 60%;
  color: #9b9b9b;
  display: inline-block;

  .contact-editable {
    height: 29px;
  }
}