.profile__header {
  height: 55px;
  display: flex;
  align-items: center;
  padding: 0 2em;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.profile__header__title {
  font-size: 2rem;
  line-height: 1;
  margin: 0;
  width: 90%;
  cursor: pointer;

  > a {
    color: #000;

    &:hover {
      color: #2196f3;
    }

    i.fa-angle-left {
      font-size: 2.5rem;
      margin-right: 1rem;
    }
  }
}

.profile__header__close {
  width: 10%;
  text-align: right;
  i {
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
}
