.c-add-note {
  padding: 0;
  background-color: #fff;
}

.c-add-note__footer,
.c-add-note__header {
  width: 100%;
  display: flex;
  padding: 16px;
}

.c-add-note__header {
  align-items: center;
  background-color: #eaeaea;
  border-radius: 3px 3px 0 0;
}

.c-add-note__footer {
  justify-content: flex-end;
  border-top: 1px solid #eaeaea;
  border-radius: 0 0 3px 3px;
}

.c-add-note__title {
  line-height: 1;
  margin: 0 0 0 8px;
  font-size: 1.8rem;
}

.c-add-note__textarea {
  width: 100%;
  height: 150px;
  padding: 16px;
  display: block;
  overflow: auto;
  resize: none;
  border-width: 0;
  font-size: 1.6rem;
  outline-width: 2px;
}