$color: #000;
$active-color: $brand-primary;

.c-contact-profile-todo-tabs {
  padding: 0;
}

.c-contact-profile-todo-tabs__tabs-list {
  display: flex;
  border-radius: 3px;
  background-color: #fff;
  border-bottom: solid 1px $gray;
}

.c-contact-profile-todo-tabs__tab {
  width: 50%;
  text-align: center;
  
  > a {
    position: relative;
    height: 72px;
    padding: 0 !important;
    display: inline-flex !important;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    line-height: 1;
    color: $color;

    &:after {
      content: '';
      width: 100%;
      height: 4px;
      position: absolute;
      bottom: -2px;
      opacity: 0;
      will-change: opacity;
      transition: all .15s ease-out;
      background-color: $active-color;
    }

    &:hover {
      background-color: transparent !important;

      &:after {
        opacity: 1;
        z-index: 1;
      }
    }

    &:focus {
      outline-width: 0 !important;
      background-color: transparent !important;;
    }
  }

  > a[aria-selected=true] {
    font-weight: 600;
    pointer-events: none;
    color: $active-color;

    &:after {
      opacity: 1;
      z-index: 1;
    }
  }
}