@import './information';
@import './card';
@import './note';
@import './activities';
@import './detailes';
@import './c-editable-textarea';
@import './new-address-modal';
@import './todo-tabs';

.profile {
  .content {
    display: flex;
    flex-direction: row;
    padding: 2em;
    min-height: calc(100vh - 85px);
    
    .left-pane {
      width: 31%;
      margin-right: 20px;
    }

    .right-pane {
      width: 69%;
    }
  }
}
