@import './header';
@import './information';
@import './card';
@import './note';
@import './activities';

.profile {
  @extend %contact-editable;
  @extend %contact-header;
  @extend %contact-activities;
  @extend %contact-timeline;
  @extend %contact-note;

  .content {
    display: flex;
    flex-direction: row;
    margin: 0 21px;
    min-height: calc(100vh - 85px);
    
    .left-pane {
      width: 31%;
      margin-right: 20px;
    }

    .right-pane {
      width: 69%;
    }
  }
}
