.c-contact-info {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.c-contact-info__detail {
  padding-left: 16px;
  width: calc(100% - 92px);
}

.c-contact-info__name {
  font-size: 2rem;
  color: #444;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.c-contact-info__status {
  color: #9b9b9b;
}
